 <md-toolbar md-scroll-shrink ng-controller="NavbarCtrl" ng-include="'components/navbar/navbar.html'" ></md-toolbar>
   <md-button class="md-fab md-warn md-fab-bottom-right" aria-label="Tilføj bruger" ng-click="showNewUserForm()" >
               <ng-md-icon icon="add"></ng-md-icon>
           </md-button>
<md-content flex md-scroll-y layout-padding layout-align="center center">



   
 <!-- <ul class="list-group">
    <li class="list-group-item" ng-repeat="user in users">
        <strong>{{user.name}}</strong><br>
        <span class="text-muted">{{user.email}}</span>
        <a ng-click="delete(user)" class="trash"><span class="glyphicon glyphicon-trash pull-right"></span></a>
    </li>
  </ul>-->
	 <md-button aria-label="Download csv"  ng-csv="getUserListCsv" csv-label="true" filename="svampeatlasbrugere.csv">
	 	                <ng-md-icon icon="file_download"></ng-md-icon>Download csv
	 	            </md-button>
  
  <table class="table usertable table-bordered" st-safe-src="users" st-table="safeUsers">
  	<thead>
  	<tr>
  		<th st-sort="Initialer">Initials</th>
  		<th st-sort="name">Name</th>
  		<th st-sort="email">email</th>
		<th>Photo permission</th>
		<th ng-if="Auth.hasRole('validator')">Morphogroups</th>
		<th>Roles</th>
  	<th></th>
  	</tr>
  	<tr>
  		<th><input st-search="Initialer"></th>
  		<th><input st-search="name"></th>
  		<th><input st-search="email"></th>
		<th></th>
  		<th></th>
		<th ng-if="Auth.hasRole('validator')"></th>
		<th></th>
  		
  	</tr>
  	</thead>
  	<tbody>
  	<tr ng-repeat="row in safeUsers">
  		<td>{{row.Initialer}}</td>
  		<td>{{row.name}}</td>
  		<td>{{row.email}}</td>
		<td><md-switch   ng-model="row.photopermission" aria-label="Photopermission" ng-change="User.setPhotopermission({id: row._id}, {photopermission : row.photopermission})">
					          
					        </md-switch></td>
							  		<td ng-if="Auth.hasRole('validator')"><button type="button" class="btn btn-small btn-primary" ng-click="editUserMorphoGroups(row)">Morphogroups
  
							</button></td>
  		<td><button type="button" class="btn btn-small btn-primary" ng-click="editUser(row)">Roles
  
</button></td>
  		<td> <a ng-click="delete(row)" class="trash"><span class="glyphicon glyphicon-trash pull-right"></span></a></td>
  	</tr>
  	</tbody>
  	<tbody ng-show="isLoading">
  	<tr>
  		<td colspan="4" class="text-center">Loading ... </td>
  	</tr>
  	</tbody>
  	<tfoot>
  	<tr>
  		<td class="text-center" st-pagination="" st-items-by-page="50" colspan="5">
  		</td>
  	</tr>
  	</tfoot>
  </table>

</md-content>
