<div class="modal" tabindex="-1" role="dialog" style="display: block;">
	<div class="modal-dialog">
		<div class="modal-content">
			
			<div class="modal-header"><button type="button" class="close" ng-click="$hide()">×</button>
			<h4 class="modal-title">{{user_.name}}</h4></div>
			
			
			
				<div class="modal-body">
		
					<div layout-gt-xs="row">
					
					<label>Set max and min impact on Morphogroup:
					    <select class="form-control" ng-change="selectMorphoGroup(selectedMorphoGroup._id)" ng-model="selectedMorphoGroup" ng-options="morphogroup.name_dk for morphogroup in morphoGroups ">
							{{morphogroup.name_dk}}
					    </select>
					  </label> 
					  
					 <span flex></span> <label> Calculated impact: {{currentMorphogroup.impact}}</label>
				  </div>
					
				
						
					    <md-slider-container ng-show="selectedMorphoGroup">
					      <span>Min </span>
					      <md-slider flex min="1" max="100" ng-model="currentMorphogroup.min_impact" aria-label="min" id="min-slider">
					      </md-slider>
					      <md-input-container>
					        <input flex type="number" ng-model="currentMorphogroup.min_impact" aria-label="min" aria-controls="min-slider">
					      </md-input-container>
					    </md-slider-container>

					    <md-slider-container ng-show="selectedMorphoGroup">
					      <span>Max </span>
					      <md-slider flex ng-model="currentMorphogroup.max_impact" min="1" max="100" aria-label="max" id="max-slider" class="md-accent">
					      </md-slider>
					      <md-input-container>
					        <input flex type="number" ng-model="currentMorphogroup.max_impact" aria-label="max" aria-controls="max-slider">
					      </md-input-container>
					    </md-slider-container>
						

					<button type="button" ng-show="currentMorphogroup" class="btn btn-default" ng-click="saveUserMorphoGroupImpact(currentMorphogroup)">Save settings</button>
					
				
				
				<div class="modal-footer">
					<button type="button" class="btn btn-danger" ng-click="$hide()"> <i class="fa fa-times"></i> Close</button> 
				</div>
					
				</div>
			</div>
		</div>
	</div>