

.classification-last-row {
	border-bottom-width: 0px !important;
}

md-expansion-panel-header.md-stick .md-expansion-panel-header-container {
	z-index: 1 !important;
}

@media screen and  (min-width: 600px)  {
  #speciesmap {
    width: 400px !important;
    max-width: 400px !important;
	height: 400px;
  }
  

}

@media screen and  (max-width: 599px)  {
    #speciesmap {
      width: 300px !important;
      max-width: 300px !important;
  	height: 400px;
    }

}

md-grid-tile-footer.footer-full-width > figcaption {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 100%;
}

span.footer-img-count {
	float: right;
}




.mycokey-panel-scroll {
  background: white;
  border-radius: 4px;
  box-shadow: 0 7px 8px -4px rgba(0, 0, 0, 0.2),
      0 13px 19px 2px rgba(0, 0, 0, 0.14),
      0 5px 24px 4px rgba(0, 0, 0, 0.12);
 	width: 50%;
 	height: 600px;
overflow: scroll;
 	position: absolute;
 	top:0;
 	bottom: 0;
 	left: 0;
 	right: 0;

 	margin: auto;
}

a.mycokey-image-link {
	text-decoration: none;
}


.classification-string {
  
  max-width: 400px;
 
}