
	<md-toolbar>
    <div class="md-toolbar-tools">
        <md-button class="md-icon-button" ng-if="isModal" ng-click="cancel()">
          <ng-md-icon icon="arrow_back" aria-label="Close dialog"></ng-md-icon>
        </md-button>
      <md-button class="md-icon-button" ng-click="openSideNav()" ng-if="!isModal && !mdSidenav('left').isOpen() && !mdSidenav('left').isLockedOpen()" aria-label="Menu" ng-controller="SideNavBtnCtrl">
        <ng-md-icon icon="menu"></ng-md-icon>
      </md-button>
	  <ng-md-icon icon="fungus" ></ng-md-icon>
	  
      <h3 class="inset">
        {{'Artspræsentation' | translate}}
      </h3>
      <span flex></span>
	  <div ng-if="Auth.hasRole('taxonomyadmin') || Auth.hasRole('similartaxaadmin')">
		   <md-tooltip md-direction="bottom" >{{'Add similar taxon' | translate}}</md-tooltip>
 	 <md-button ng-show="taxon._id !== undefined && (taxon._id === taxon.accepted_id || taxon.accepted_id === null)" ng-click="SimilarTaxaModalService.show($event, taxon)" 
 	                  aria-label="Tilføj forveksling"
 	                  class="md-icon-button" >
 	         <ng-md-icon icon="insert_link" ></ng-md-icon>
 	       </md-button>
	   </div>
	  <div>
	  <md-tooltip md-direction="bottom" >{{'Del' | translate}}</md-tooltip>
	  <sharing mail-subject="'Danmarks svampeatlas: '+(taxon.Vernacularname_DK ? (taxon.Vernacularname_DK.vernacularname_dk | capitalize) +' ('+taxon.FullName+')' : taxon.FullName)" mail-body="baseUrl+'/taxon/'+taxon._id" sharing-uri="baseUrl+'/taxon/'+taxon._id"> </sharing>
  </div>
	 <span layout-margin ng-if="mdMedia('gt-xs')"> <h1 class="md-display-1" translate>Danmarks svampeatlas</h1></span>
	   <a href="/"><img  class="logo-upper-right" src="assets/images/LogoSmallest.png"></a>
    </div>
 </md-toolbar>
	<md-content>

		
		  <div layout-gt-xs="row" layout-margin>  
			 
		<div>	
		  <md-expansion-panel md-component-id="panelOne">

		    <md-expansion-panel-collapsed>
		      <div class="md-title">Klassifikation</div>
		      <div class="md-summary"><span  ng-repeat="tx in higherTaxa" >{{capitalizeFirstLetter(tx.FullName)}}{{(!$last) ? ', ': ''}}</span></div>
		      <md-expansion-panel-icon></md-expansion-panel-icon>
		    </md-expansion-panel-collapsed>


		    <md-expansion-panel-expanded>

		      <md-expansion-panel-header ng-click="$panel.collapse()">
		        <div class="md-title">Klassifikation</div>
		         <div class="md-summary"><span  ng-repeat="tx in higherTaxa" >{{capitalizeFirstLetter(tx.FullName)}}{{(!$last) ? ', ': ''}}</span></div>
		        <md-expansion-panel-icon ></md-expansion-panel-icon>
		      </md-expansion-panel-header>

		      <md-expansion-panel-content>
		        
				
		  	  <table  class="table table-bordered" st-table>
	
		  	  	<tbody >
		  	  	<tr ng-repeat="tx in higherTaxa">
		  	  		<td class="rightalign" ng-class="{'classification-last-row': $last}" translate>{{tx.RankName}}</td><td ng-class="{'classification-last-row': $last}"><span ng-if="tx.Vernacularname_DK">{{capitalizeFirstLetter(tx.Vernacularname_DK.vernacularname_dk)}}</span><br ng-if="tx.Vernacularname_DK"><em> {{tx.FullName}}</em></td>
					</tr>
				<tbody >
				 </table>
		      </md-expansion-panel-content>

		      <md-expansion-panel-footer>
		        <div flex></div>
		        <md-button class="md-accent" ng-click="$panel.collapse()">Luk</md-button>
		      </md-expansion-panel-footer>

		    </md-expansion-panel-expanded>

		  </md-expansion-panel>  
		  <div class="md-whiteframe-z3" layout-padding>
			  <div>
		<h3 ng-show="taxon.Vernacularname_DK" class="md-display-1"><a ng-if="Auth.hasRole('taxonomyadmin')" class="mycokey-image-link" ng-click="MycoKeyModalService.show($event, taxon)"><img src="assets/images/MycoKey.gif" width="24"  alt="MycoKey"> </a>{{taxon.Vernacularname_DK.vernacularname_dk | capitalize}} </h3>
		<h4 class="md-subhead" ng-show="taxon.Vernacularname_DK"><em>{{taxon.FullName}}</em> {{taxon.Author}}</h4>
		<h3 ng-show="!taxon.Vernacularname_DK" class="md-headline"><a ng-if="Auth.hasRole('taxonomyadmin')" ng-click="MycoKeyModalService.show($event, taxon)"><img src="assets/images/MycoKey.gif" width="24"  alt="MycoKey"> </a> <em>{{taxon.FullName}}</em> {{taxon.Author}}</h3>
		 <div class="md-caption" layout="column"> <span  ng-repeat="syn in taxon.synonyms| synonymsWithoutSelf">{{(syn.FullName.indexOf('sensu') !== -1 && !syn.FunIndexNumber) ?   ('Fejlanvendt navn:'): 'Syn.:'}}  <em> {{syn.FullName}}</em> {{syn.Author}}</span>
	</div>
		<!-- <div class="md-caption" layout-gt-xs="row" flex> <div  ng-repeat="tx in higherTaxa"><div ng-if="tx.Vernacularname_DK">{{capitalizeFirstLetter(tx.Vernacularname_DK.vernacularname_dk)}}{{(!$last) ? ',': ''}}</div>
		 <div ng-if="!tx.Vernacularname_DK"></div>
		 <em> {{tx.FullName}}{{(!$last) ? ',': ''}}</em></div>
	</div>-->
	

	
	
	</div>
      <div layout="row" flex><carousel disable-ng-animate interval="" ng-if="taxon.images.length>0">
        <slide disable-ng-animate  ng-repeat="slide in taxon.images" active="slide.active">
          <img ng-src="{{slide.uri | httpToHttps}}" style="margin:auto;">
          <div class="carousel-caption">

            &copy; {{slide.photographer}}, {{slide.collectionNumber}}
          </div>

        </slide>

      </carousel>
	  
  </div>
    
		<div>
		<div layout><span flex></span>	<a ng-href="{{taxon.attributes.MycoKeyIDDKWebLink}}" ng-if="taxon.attributes.MycoKeyIDDKWebLink" target="_BLANK">Nøgler, beskrivelser mm i MycoKey</a></div>
			<span>
			<p ng-if="taxon.attributes.diagnose"><strong>Beskrivelse: </strong>{{taxon.attributes.diagnose}}</p>
		<p ng-if="taxon.attributes.forvekslingsmuligheder || taxon.similarTaxa.length > 0"><strong>Forvekslingsmuligheder: </strong> 
			<span ng-repeat="simTax in taxon.similarTaxa ">
			
			<a ng-if="simTax.Taxon2.acceptedTaxon._id === taxon._id" ng-click="gotoTaxon($event, simTax.Taxon1.acceptedTaxon._id)">{{(simTax.Taxon1.acceptedTaxon.Vernacularname_DK) ? (simTax.Taxon1.acceptedTaxon.Vernacularname_DK.vernacularname_dk | capitalize) : simTax.Taxon1.acceptedTaxon.FullName}}</a>
			<a ng-if="simTax.Taxon1.acceptedTaxon._id === taxon._id" ng-click="gotoTaxon($event, simTax.Taxon2.acceptedTaxon._id)">{{(simTax.Taxon2.acceptedTaxon.Vernacularname_DK) ? (simTax.Taxon2.acceptedTaxon.Vernacularname_DK.vernacularname_dk | capitalize) : simTax.Taxon2.acceptedTaxon.FullName}}</a>{{((!$last) ? ', ' : '. ')}} 
		</span></br>
			
			{{taxon.attributes.forvekslingsmuligheder}}</p>
		
	</span>
	<div ng-if="taxon.redlistdata.length > 0">
	
		<p><strong>Rødlistekategori ({{taxon.redlistdata[0].year}}): </strong>{{taxon.redlistdata[0].Status
	}}</p>

	<p><strong>Global udbredelse: </strong>{{taxon.redlistdata[0].Udbredelse
}}</p>



</div>
<p><strong>Antal fund i svampeatlas:</strong> {{count}} <md-button class="md-icon-button md-primary" ng-click="showRecords('list')">
			<md-tooltip md-direction="bottom" >
			          {{'Vis fund i liste' | translate}}
			        </md-tooltip>
        <ng-md-icon icon="list"></ng-md-icon> 
      </md-button><md-button class="md-icon-button md-primary" ng-click="showRecords('map')">
			<md-tooltip md-direction="bottom" >
			          {{'Vis fund på kort' | translate}}
			        </md-tooltip>
        <ng-md-icon icon="map"></ng-md-icon> 
      </md-button></p>
</div>
	</div>
</div>

<div layout="column" ng-include="'app/speciesstats/speciesstats.tpl.html'" ng-controller="SpeciesStatsCtrl" layout-margin>
</div>
	<!--<div layout="column" layout-margin>
	 <div  class="md-whiteframe-z3" layout-padding>
	    <leaflet id="speciesmap"  center="mapsettings.center" defaults="mapsettings.defaults" paths="mapsettings.paths" layers="mapsettings.layers" event-broadcast="mapsettings.events"></leaflet>
   	
	 <md-radio-group ng-model="timeinterval" layout="row" ng-change="updateMap(timeinterval)">
	 		<md-radio-button value="all" >Alle</md-radio-button>
   	       <md-radio-button value="1991" >Før 1991</md-radio-button>
   	       <md-radio-button value="2008">1991-2008 </md-radio-button>
   	       <md-radio-button value="2009">Efter 2008</md-radio-button>
   	     </md-radio-group>
		 </div>
	<div  width="300px" class="md-whiteframe-z3 ">
	<highchart id="monthChart" config="monthChartOptions" ></highchart>
	</div>
	<div  class="md-whiteframe-z3">
		
	<highchart id="decadesChart"  config="decadeChartOptions" ></highchart>
	</div>
	<div  class="md-whiteframe-z3">
	<highchart id="hostsChart"  config="hostChartOptions" ></highchart>
</div>
	</div> -->
		 </div>

	
	<div ng-include="'app/species/species.tpl.html'"> </div>
	
</md-content>


