.species-chart {
	max-width: 400px;
}

.classification-last-row {
	border-bottom-width: 0px !important;
}

md-expansion-panel-header.md-stick .md-expansion-panel-header-container {
	z-index: 1 !important;
}