		<!--<div ng-include="'components/navbar/navbar.html'"></div>-->
		<md-toolbar md-scroll-shrink ng-controller="NavbarCtrl" ng-include="'components/navbar/navbar.html'" > </md-toolbar>
		<md-content layout-gt-xs="row"  flex md-scroll-y layout-padding>
		
	    <md-card layout-fill>
	    <md-card-header>
	             <md-card-avatar class="profile-page-avatar">
	               <user-avatar class="useravatar md-avatar" size="'large'" user="getCurrentUser()" ng-if="isLoggedIn()"></user-avatar>
	             </md-card-avatar>
	             <md-card-header-text>
	               <span class="md-headline" translate>User profile</span>
	               <span class="md-subhead">{{getCurrentUser().name}} ({{getCurrentUser().Initialer}})</span>
	             </md-card-header-text>
	           </md-card-header>
	          
			  <md-card-content class="profile-page-card-content">
			  
			  <md-input-container class="md-block md-icon-float" >
			  <md-icon><ng-md-icon icon="email"></ng-md-icon></md-icon>
			 
			          
			          <input ng-model="getCurrentUser().email" type="email" placeholder="Email" >
					  
					 
					  
			        </md-input-container>
			  <md-button  ng-click="saveEmail()" ng-show="oldEmail !== getCurrentUser().email"><ng-md-icon icon="save"></ng-md-icon> <span translate>Gem email</span></md-button>
			  <md-button  ng-click="restoreEmail()" ng-show="oldEmail !== getCurrentUser().email"><ng-md-icon icon="refresh"></ng-md-icon> <span translate>Fortryd</span></md-button>
			 
			
		  </md-card-content>
	          
	         </md-card>
			
				<!--<div>
					<h1 translate>
						User profile
					</h1>
					<p>
						<span translate>Name:</span> {{getCurrentUser().name}}
					</p>
					<p>
						<span translate>Initials:</span> {{getCurrentUser().Initialer}}
					</p>
					<p>
						<span translate>Email:</span> {{getCurrentUser().email}}
					</p>
					
					
					
				</div> -->
				<div layout='column'>
					<md-button class="md-raised btn-facebook"  ng-show="!getCurrentUser().facebook" ng-click="loginOauth('facebook')"><ng-md-icon icon="facebook"></ng-md-icon> Connect with Facebook</md-button> 
					
					<md-button class="md-raised btn-facebook"  ng-show="getCurrentUser().facebook" ng-click="disconnectOauth('facebook')"><ng-md-icon icon="facebook"></ng-md-icon>  Disconnect Facebook account</md-button>
					
					<md-button ng-click="showPwForm()" class="md-raised md-primary"><ng-md-icon icon="edit"></ng-md-icon> <span translate>Change password</span></md-button>
					
					<md-switch  ng-model="useLichenFilter" aria-label="Show only Lichens as default" >
					         {{ 'Vis kun laver i søgninger' | translate}}
					        </md-switch>
				</div>
			
			
		</md-content>
		<div layout="row" id="footer"  layout-align="space-around center" layout-margin ng-include="'components/footer/footer.html'">
        
		      </div>