		<div ng-include="'components/navbar/navbar.html'"></div>
		<div class="container">
			<div class="row">
				<div class="col-sm-5">
					<h1>
						User profile
					</h1>
					<p>
						Name: {{getCurrentUser().name}}
					</p>
					<p>
						Initials: {{getCurrentUser().Initialer}}
					</p>
					<p>
						Email: {{getCurrentUser().email}}
					</p>
					<h1>
						Change Password
					</h1>
					<form class="form" name="form" ng-submit="changePassword(form)" novalidate="" id="form">
						<div class="form-group">
							<label>Current Password</label> <input type="password" name="password" class="form-control" ng-model="user.oldPassword">
							<p class="help-block" ng-show="form.password.$error.mongoose">
								{{ errors.other }}
							</p>
						</div>
						<div class="form-group">
							<label>New Password</label> <input type="password" name="newPassword" class="form-control" ng-model="user.newPassword" ng-minlength="3">
							<p class="help-block" ng-show="(form.newPassword.$error.minlength || form.newPassword.$error.required) &amp;&amp; (form.newPassword.$dirty || submitted)">
								Password must be at least 3 characters.
							</p>
							<p class="help-block">
								{{ message }}
							</p><button class="btn btn-lg btn-primary" type="submit">Save changes</button>
						</div>
					</form>
				</div>
				<div class="col-sm-6">
					<a class="btn btn-facebook" href="" ng-show="!getCurrentUser().fb" ng-click="loginOauth('facebook')"><i class="fa fa-facebook"></i> Connect with Facebook</a> <a class="btn btn-facebook" href="" ng-show="getCurrentUser().fb" ng-click="disconnectOauth('facebook')"><i class="fa fa-facebook"></i> Disconnect Facebook account</a>
				</div>
			</div>
			
		</div>