<!--<div ng-include="'components/navbar/navbar.html'"></div> -->
<!-- <md-toolbar  ng-controller="SearchTabsCtrl" ng-include="'app/searchtabs/searchtabs.html'" > </md-toolbar>-->
<div ng-controller="SearchTabsCtrl" ng-include="'app/searchtabs/searchtabs.html'"></div>	
   <md-button class="md-fab md-warn md-fab-bottom-right" aria-label="Tilføj observation" ng-click="ObservationFormService.show($event)" ng-show="Auth.hasRole('validator')">
               <ng-md-icon icon="add"></ng-md-icon>
           </md-button>

<md-content flex md-scroll-y layout-padding ng-cloak>
	   
			   
	<div class="table-responsive-vertical shadow-z-1">


<table  class="table" ng-class="{'table-bordered': mdMedia('min-width: 768px')}"  st-pipe="callServer" st-table="displayed">
	<md-progress-linear  md-mode="indeterminate" ng-show="displayed && isLoading"></md-progress-linear>
	<thead>
		<tr ng-show="displayed && !isLoading">
			<th st-pagination=""  st-items-by-page="stItemsPrPage" colspan="8" st-template="app/searchresultlist/pagination.tpl.html">
			</th>
		</tr>
	<tr>
		
		
		<th st-sort="DeterminationView.Taxon_FullName"  translate>Art</th>
		<th st-sort="observationCount"  translate>Antal fund</th>
		
		
	</tr>
	</thead>
	<tbody ng-show="displayed.length > 0">
	<tr ng-repeat="row in displayed">
		
		
		<td data-title="{{'Art' | translate}}"> <span ng-if="row.DeterminationView.Taxon_vernacularname_dk"><strong>{{row.DeterminationView.Taxon_vernacularname_dk}}</strong> - </span><em>{{row.DeterminationView.Taxon_FullName}} <span ng-if="row.DeterminationView.Taxon_RankID < 5001">sp.</span></em><span ng-if="row.DeterminationView.Taxon_redlist_status">({{row.DeterminationView.Taxon_redlist_status}})</span></td>
		<td data-title="{{'Antal fund' | translate}}">{{row.observationCount}}</td>	
		
				
			
		<!--<td data-title=""><ng-md-icon icon="camera_alt" ng-if="row.Images.length > 0" ng-click="ObservationModalService.show($event, row)"></ng-md-icon> <ng-md-icon icon="forum" ng-if="row.Forum.length > 0" ng-click="ObservationModalService.show($event, row)"></td> -->
		
		
	</tr>

	</tbody>
	<tbody ng-show="!displayed &&  isLoading">
		<tr><td colspan="6" ><div layout="row" layout-align="center center"><md-progress-circular  md-diameter="96"></md-progress-circular></div></td></tr>
		  
	</tbody>	
	<tbody ng-show="displayed && displayed.length===0 &&  !isLoading">
		<tr><td colspan="6" ><div layout="row" layout-align="center center" translate>Ingen data fundet</div></td></tr>
		  
	</tbody>

	<tfoot  ng-show="displayed && !isLoading">
	<tr>
		<td st-pagination=""  st-items-by-page="stItemsPrPage" colspan="8" st-template="app/searchresultlist/pagination.tpl.html">
		</td>
	</tr>
	</tfoot> 
</table>
<md-progress-linear  md-mode="indeterminate" ng-show="displayed && isLoading"></md-progress-linear>
</div>




	<div layout="row" id="footer"  layout-align="space-around center" layout-margin ng-include="'components/footer/footer.html'">
	        
	      </div>	
</md-content>



