<!--<div ng-include="'components/navbar/navbar.html'"></div> -->
<!-- <md-toolbar  ng-controller="SearchTabsCtrl" ng-include="'app/searchtabs/searchtabs.html'" > </md-toolbar>-->
<md-toolbar class="searchtabs" ng-controller="SearchTabsCtrl" ng-include="'app/searchtabs/searchtabs.html'" > </md-toolbar>	
   <md-button class="md-fab md-warn md-fab-bottom-right" aria-label="Tilføj observation" ng-click="ObservationFormService.show($event)" ng-show="Auth.hasRole('validator')">
               <ng-md-icon icon="add"></ng-md-icon>
           </md-button>

<md-content flex md-scroll-y layout-padding ng-cloak>
	<div layout="row"><md-button aria-label="Download csv" class="csv-button"  ng-csv="getTaxonListCsv" ng-csv="csv" quote-strings="true" csv-label="true" filename="svampeatlasdata.csv" field-separator="{{csvSeparator}}">
	                <ng-md-icon icon="file_download"></ng-md-icon>Download csv
	            </md-button>
	 	   <md-menu  >
	 	   			            <md-button aria-label="Open demo menu" class="md-icon-button csv-button" ng-click="$mdOpenMenu($event)">
	 	   			               <ng-md-icon icon="settings" ></ng-md-icon>
	 	   			            </md-button>
	 	   			            <md-menu-content width="4">
	 	   			              <md-menu-item >
	 	   			                <md-button ng-click="setCsvSeparator(',')">
	 	   			                    <div layout="row" flex>
	 	   			                      <p flex>{{'Komma som separator' | translate}}</p>
	 			                      <ng-md-icon ng-if="csvSeparator === ','" icon="check_box" style="margin: auto 3px auto 0;"></ng-md-icon>
	 								  <ng-md-icon ng-if="csvSeparator === ';'" icon="check_box_outline_blank" style="margin: auto 3px auto 0;"></ng-md-icon>
	 	   			                    </div>
	 	   			                </md-button>
	 	   			              </md-menu-item>
	 	   			              <md-menu-item >
	 	   			                <md-button  ng-click="setCsvSeparator(';')">
	 	   			                    <div layout="row" flex>
	 	   			                      <p flex>{{'Semikolon som separator'  | translate}}</p>
	 				                      <ng-md-icon ng-if="csvSeparator === ';'" icon="check_box" style="margin: auto 3px auto 0;"></ng-md-icon>
	 									  <ng-md-icon ng-if="csvSeparator === ','" icon="check_box_outline_blank" style="margin: auto 3px auto 0;"></ng-md-icon>
								  
	 	   			                    </div>
	 	   			                </md-button>
	 	   			              </md-menu-item>
			          
	 	   			            </md-menu-content>
	 	   			          </md-menu> 
							  <span flex></span>
			   		 	<div ng-if="storedSearch && mdMedia('gt-xs')">
			   		 		
							<h4 ><span >{{'Aktuel søgning:' | translate}}</span> {{storedSearch.name}} <span ng-if="Auth.getCurrentUser()._id !== storedSearch.User._id"> - {{'oprettet af' | translate}} {{storedSearch.User.name}}</span><sharing mail-subject="'Søgeresultat fra Danmarks Svampeatlas: '+storedSearch.name " mail-body="baseUrl+'/search/'+storedSearch._id+'/result/specieslist/'" sharing-uri="baseUrl+'/search/'+storedSearch._id+'/result/specieslist/'"> </sharing></h4>
			   		 	</div>
			   		   
						  </div>   
						
  						  <div ng-if="storedSearch && mdMedia('xs')">
  	 			   		 	<span >{{'Aktuel søgning:' | translate}} </span>
  	 			   		   <h4 >{{storedSearch.name}} <span ng-if="Auth.getCurrentUser()._id !== storedSearch.User._id"> - {{'oprettet af' | translate}} {{storedSearch.User.name}}</span><sharing mail-subject="'Søgeresultat fra Danmarks Svampeatlas: '+storedSearch.name " mail-body="baseUrl+'/search/'+storedSearch._id+'/result/specieslist/'" sharing-uri="baseUrl+'/search/'+storedSearch._id+'/result/specieslist/'" > </sharing></h4>
  						  </div>
							
						 
			   
	<div class="table-responsive-vertical shadow-z-1">


<table  class="table species-table" ng-class="{'table-bordered table-condensed': mdMedia('min-width: 768px')}"  st-table="displayed" st-safe-src='serverData'>
	
	<thead>
		
	  		<tr ng-show="displayed && !isLoading" >
	 			<th >
			</th>
	  			<th >
	  			    <!--<md-radio-group ng-model="group">
	  			         <md-radio-button value="all" >Svampe og laver</md-radio-button>
	  			         <md-radio-button value="fungi">Kun svampe </md-radio-button>
	  			         <md-radio-button value="lichens">kun laver</md-radio-button>
	  			       </md-radio-group> -->
	  				<md-input-container class="th-filter-container">
	          <label translate>Latinsk navn</label>
			  <md-icon md-font-icon="fa fa-refresh fa-lg" class="material-icons md-light md-48 md-primary"  st-reset-search></md-icon>
	          <input st-search="DeterminationView.Taxon_FullName">
	        </md-input-container>
  				<md-input-container class="th-filter-container">
          <label translate>Dansk navn</label>
		  
          <input st-search="DeterminationView.Taxon_vernacularname_dk">
        </md-input-container> </th>
			<th st-pagination=""  st-items-by-page="stItemsPrPage" colspan="2" st-template="app/searchresultspecieslist/pagination.tpl.html">
			</th>
		</tr>
	<tr>
		
		<th st-ratio="5"></th>
		<th st-sort="DeterminationView.Taxon_FullName" translate>Art</th>
		<th st-sort="observationCount"  translate>Antal fund</th>
		
		
	</tr>
	</thead>
	<tbody ng-show="displayed.length > 0">
	<tr ng-repeat="row in displayed">
		
		<td data-title="" ><md-menu  >
			            <md-button aria-label="Open demo menu" class="md-icon-button" ng-click="$mdOpenMenu($event)">
			               <ng-md-icon icon="more_vert" ></ng-md-icon>
			            </md-button>
			            <md-menu-content width="4" >
			              <md-menu-item >
			                <md-button ng-click="showSpeciesSearch(row, 'list')">
			                    <div layout="row" flex>
			                      <p flex>{{'Vis fund i liste' | translate}}</p>
			                      <ng-md-icon icon="list" style="margin: auto 3px auto 0;"></ng-md-icon>
			                    </div>
			                </md-button>
			              </md-menu-item>
			              <md-menu-item >
			                <md-button ng-click="showSpeciesSearch(row, 'map')">
			                    <div layout="row" flex>
			                      <p flex>{{'Vis fund på kort'  | translate}}</p>
			                      <ng-md-icon  icon="map" style="margin: auto 3px auto 0;"></ng-md-icon>
								  
			                    </div>
			                </md-button>
			              </md-menu-item>
			          
			            </md-menu-content>
			          </md-menu></td>
		<td data-title="{{'Art' | translate}}"> <em>{{row.DeterminationView.Taxon_FullName}} <span ng-if="row.DeterminationView.Taxon_RankID < 5001">sp. </span></em>
			<span ng-if="row.DeterminationView.Taxon_vernacularname_dk">- {{row.DeterminationView.Taxon_vernacularname_dk}} </span>
			<span ng-if="row.DeterminationView.Taxon_redlist_status">({{row.DeterminationView.Taxon_redlist_status}})</span></td>
		<td data-title="{{'Antal fund' | translate}}">{{row.observationCount}}</td>	
		
				
			
		<!--<td data-title=""><ng-md-icon icon="camera_alt" ng-if="row.Images.length > 0" ng-click="ObservationModalService.show($event, row)"></ng-md-icon> <ng-md-icon icon="forum" ng-if="row.Forum.length > 0" ng-click="ObservationModalService.show($event, row)"></td> -->
		
		
	</tr>

	</tbody>
	<tbody ng-show="!displayed &&  isLoading">
		<tr><td colspan="6" ><div layout="row" layout-align="center center"><md-progress-circular  md-diameter="96"></md-progress-circular></div></td></tr>
		  
	</tbody>	
	<tbody ng-show="displayed && displayed.length===0 &&  !isLoading">
		<tr><td colspan="6" ><div layout="row" layout-align="center center" translate>Ingen data fundet</div></td></tr>
		  
	</tbody>

	<tfoot  ng-show="displayed && !isLoading">
	<tr>
		<td st-pagination="" st-displayed-pages="7" st-items-by-page="stItemsPrPage" colspan="8" st-template="app/searchresultspecieslist/pagination.tpl.html">
		</td>
	</tr>
	</tfoot> 
</table>
<md-progress-linear  md-mode="indeterminate" ng-show="displayed && isLoading"></md-progress-linear>
</div>




	<div layout="row" id="footer"  layout-align="space-around center" layout-margin ng-include="'components/footer/footer.html'">
	        
	      </div>	
</md-content>



