

.species-table > tbody > tr > td {
	vertical-align: middle;
}

.th-filter-container {
	margin: 0px 0px -16px 0px;
}

.csv-button {
	color: #757575;
}

@media screen and (max-width: 767px) {
	button.show-obs {
		margin-right: -15px !important;
	}
}


