.btn-facebook {
  color: #fff !important;
  background-color: #3B5998 !important;
  border-color: #133783;
}



.login-modal {
    max-width: 66%; 
   
    width: 66%;
	
    
}

.profile-page-avatar {
	width: 60px;
	
}

.profile-page-card-content {
	margin-left: 72px;
}



