<md-dialog aria-label="Login"  ng-cloak  id="login-modal" ng-class="$mdMedia('gt-xs') ? 'login-modal' : ''">
  
    <md-toolbar>
      <div class="md-toolbar-tools">
          <md-button class="md-icon-button" ng-click="cancel()">
            <ng-md-icon icon="arrow_back" aria-label="Close dialog"></ng-md-icon>
          </md-button>
        <h2 >Login</h2>
		
        
	
      </div>
    </md-toolbar>
      
    <md-dialog-content layout-padding layout-align="center center" layout='row'>
      <form  name="form" ng-submit="login(form)" novalidate flex='66'>

        <div class="form-group">
          <label translate>Initialer</label>

          <input type="text" name="initialer" class="form-control" ng-model="user.Initialer" required>
        </div>

        <div class="form-group">
          <label>Password</label>

          <input type="password" name="password" class="form-control" ng-model="user.password" required>
        </div>

        <div class="form-group has-error">
          <p class="help-block" ng-show="form.initialer.$error.required && form.password.$error.required && submitted">
             Indtast initialer og password.
          </p>
          

          <p class="help-block">{{ errors.other | translate}}</p>
        </div>

        <div>
          <button class="btn btn-inverse btn-lg btn-login" type="submit">
            Login
          </button>
         <!-- <a class="btn btn-default btn-lg btn-register" ui-sref="signup">
            Register
          </a> -->
        </div>

        <hr>
        <div >
          <a class="btn btn-facebook" href="" ng-click="loginOauth('facebook')">
            <i class="fa fa-facebook"></i> Signin with Facebook
          </a>
		  
         <!-- <a class="btn btn-google-plus" href="" ng-click="loginOauth('google')">
            <i class="fa fa-google-plus"></i> Connect with Google+
          </a> -->
			 
        </div>
		<br>
	  <div class="alert alert-warning" role="alert" ng-show="fberror"><strong>No facebook account detected.</strong> Login with credentials, then goto settings and connect your Facebook account. 
	  
	  </div>
      </form>
		  
	
     
    </md-dialog-content>
   
   <!-- <md-dialog-actions layout="row">
      <md-button href="http://en.wikipedia.org/wiki/Mango" target="_blank" md-autofocus>
        More on Wikipedia
      </md-button>
      <span flex></span>
      <md-button ng-click="answer('not useful')">
       Not Useful
      </md-button>
      <md-button ng-click="answer('useful')" style="margin-right:20px;">
        Useful
      </md-button>
    </md-dialog-actions> -->
  
</md-dialog>