<div ng-controller="TaxonTabsCtrl" ng-include="'app/taxontabs/taxontabs.html'">	
	
</div>	
<div class="container">


	
<div class="col-md-12" ng-show="isLoading">
	<i class="fa fa-spinner fa-spin fa-2x"></i>
</div>
<div class="col-md-12" >

<table class="table taxontable table-bordered" st-pipe="callServer" st-table="displayed">
	<thead>
	<tr>
		
		<th st-sort="createdAt" st-sort-default="reverse">Created</th>
		<th st-sort="eventname">Event</th>
		<th st-sort="description">Description</th>
		<th st-sort="Taxon.FullName">Taxon name</th>
		<th st-sort="User.name">User</th>
	</tr>
	<tr>
		
		<th><input class="form-control" st-search="createdAt"></th>
		<th><input class="form-control" st-search="eventname"></th>
		<th><input class="form-control" st-search="description"></th>
		<th><input class="form-control" st-search="Taxon.FullName"></th>
		<th><input class="form-control" st-search="User.name"></th>
	</tr>
	</thead>
	<tbody ng-show="!isLoading">
	<tr ng-repeat="row in displayed">
		<td>{{row.createdAt | date : 'medium'}}</td>
		<td><strong>{{row.eventname}}</strong></td>
		<td><span ng-bind-html="formatIndexFungorumLogEvent(row.description)" ng-if="row.eventname === 'Changed Index Fungorum record' || row.eventname === 'Detached Index Fungorum record'"></span><span ng-if="row.eventname !== 'Changed Index Fungorum record' && row.eventname !== 'Detached Index Fungorum record'">{{row.description}}</span></td>
		<td><a href="/taxonbase/taxon/{{row.Taxon._id}}">{{row.Taxon.FullName}}</a></td>
		
		<td>{{row.User.name}}</td>
		
	</tr>
	</tbody>
	<tbody ng-show="isLoading">
	<tr>
		<td colspan="4" class="text-center">Loading ... </td>
	</tr>
	</tbody>
	<tfoot>
	<tr>
		<td class="text-center" st-pagination="" st-items-by-page="50" colspan="4">
		</td>
	</tr>
	</tfoot>
</table>
</div>
</div>



