<div class="modal ng-scope top am-fade-and-slide-top" tabindex="-1" role="dialog" style="display: block;">
	<div class="modal-dialog">
		<div class="modal-content">
			
			<div class="modal-header"><button type="button" class="close" ng-click="$hide()">×</button>
				<h4 class="modal-title" translate>{{$parent.newDkName._id ? 'Edit Danish name:':'Add Danish name:'}}</h4></div>
				<div class="modal-body">
					<form>
					
		            <div layout-gt-xs="row">
		  
		  		   <md-input-container class="md-block" flex-gt-xs>
		  		           <label>Danish name</label>
		  		           <input  ng-model="$parent.newDkName.vernacularname_dk" ng-required="true" >
		  		         </md-input-container>
		  	  		   
		   
		            </div>
 					<div layout-gt-xs="row">
						
 	  	  		   <md-input-container class="md-block" flex-gt-xs>
 	  	  		           <label>Applied latin name </label>
 	  	  		           <input  ng-model="$parent.newDkName.appliedLatinName" ng-required="true">
 	  	  		         </md-input-container>
 					 </div>
					<div layout-gt-xs="row">
					<md-input-container class="md-block" flex-gt-xs>
					          <label>Note (optional)</label>
					          <textarea ng-model="$parent.newDkName.note"  md-maxlength="500" rows="5"></textarea>
					        </md-input-container>
					 </div>
					
				
  					<div layout-gt-xs="row">
						
  	  	  		   <md-input-container class="md-block" flex-gt-xs>
  	  	  		           <label>Source (optional)</label>
  	  	  		           <input  ng-model="$parent.newDkName.source">
  	  	  		         </md-input-container>
  					 </div>
					</form>	
					
		
			
			
				
				<div class="modal-footer">
					<div class="col-md-12">
					<button type="button" class="btn btn-danger" ng-click="$parent.cancelNewName(); $hide()"> <i class="fa fa-times"></i> {{'Close' | translate}}</button> <button type="button" class="btn btn-success pull-right" ng-show="true" ng-click="$parent.saveOrUpdateDkName(); $hide()"> <i class="fa fa-check"></i> {{'Save name' | translate}}!</button> 
					</div>
				</div>
			
		</div>
	</div>