<footer class="footer">
  <div class="container">
	  <div class="col-md-12 vertical-align">
	  	  
  	  <div class="col-md-4 ">
	  	<img src="assets/images/ku_logo_dk_v.png" height="100" alt="Københavns universitet">
  	  </div>
  	  <div class="col-md-4 ">
    	<img src="assets/images/avj_w_text.jpg"  height="50" alt="Aage v. Jensen naturfond">
  	  </div>
  	  <div class="col-md-4">
	  	<img src="assets/images/logo.png" height="100" alt="Svampeforeningen">
  	  </div>
	  </div>
	  
      
  </div>
</footer>