  	  
  	 
	 <!-- 	<img src="assets/images/ku_logo_dk_v.png" height="80" alt="Københavns universitet">
  	
  	
	  	<img src="assets/images/logo.png" height="80" alt="Svampeforeningen">
		
		<img src="assets/images/avj_w_text.jpg"  height="40" alt="Aage v. Jensen naturfond">
		
		<md-bottom-sheet class="md-grid" layout="column" ng-cloak> -->
		
		
		    <md-list flex layout="row" layout-align="center center" layout-fill>
		      <md-list-item layout-align="center center">
		        <img src="assets/images/ku_logo_dk_v.png" height="60" alt="Københavns universitet">
		      </md-list-item>
		      <md-list-item layout-align="center center">
		        <img src="assets/images/logo.png" height="60" alt="Svampeforeningen">
		      </md-list-item>
		      <md-list-item layout-align="center center">
		       <img src="assets/images/avj_w_text.jpg"  height="30" alt="Aage v. Jensen naturfond">
		      </md-list-item>
		    </md-list>
		 
		

	  

