
.taxontable {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    height: 800px; /* this can vary */
}

.taxontable * {
    box-sizing: inherit;
    -moz-box-sizing: inherit;
}

.taxontable thead {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.taxontable tbody {
    overflow-y: scroll;
    display: inline-block;
}

.taxontable thead > tr, tbody > tr, tfoot > tr {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.taxontable thead, .taxontable tfoot {
    flex-shrink: 0;
}

.taxontable th, .taxontable tbody td {
    width: 20%; /* this can vary */
    overflow-x: hidden;
    text-overflow: ellipsis;
    display: inline-block;
}

.taxontable tfoot {
    display: inline-block;
}

.taxontable tfoot td {
    width: 100%;
    display: inline-block;
}