<!--<div ng-include="'components/navbar/navbar.html'"></div> -->
<md-toolbar ng-controller="TaxonTabsCtrl" ng-include="'app/taxontabs/taxontabs.html'">	
	
</md-toolbar>
<md-content flex md-scroll-y layout-padding>


			
				<div class="panel-group" role="tablist" aria-multiselectable="false" start-collapsed="true" ng-model="extendedSearchIsOn" bs-collapse>
					
			    	  <div class="panel panel-default">
			    	    <div class="panel-heading" role="tab">
			    	      <h4 class="panel-title">
			    	        <a bs-collapse-toggle>
			    	       <i class="fa fa-file-excel-o"></i> {{'Higher taxonomy report' | translate}}
			    	        </a>
			    	      </h4>
			    	    </div>
			    	    <div class="panel-collapse" role="tabpanel" bs-collapse-target>
			    	      <div class="panel-body">
			  	          <md-input-container>
			  	             <label>{{'Select taxon rank' | translate}}</label>
			  	             <md-select ng-model="selectedRankForTaxonReport">
			  	               <md-option ng-repeat="rank in ['GENUS', 'FAMILY', 'ORDER', 'CLASS']" value="{{rank}}">
			  	                 {{rank}}
			  	               </md-option>
			  	             </md-select>
			  	           </md-input-container>
			  			  		  <md-input-container >
			  			  	<md-button ng-if="!taxonReportProgress" class="md-raised md-primary" ng-click="generateHigherTaxonReport(selectedRankForTaxonReport)" ng-disabled="!selectedRankForTaxonReport">{{'Generate report' | translate}}</md-button>
			  				<md-progress-circular md-mode="indeterminate" ng-show="taxonReportProgress"></md-progress-circular>
			  			  </md-input-container>
			  				<p>
			  					{{"This tool will compare the fungal atlas taxonomy to the GBIF Backbone Taxonomy at a given rank. It will generate a report of all taxa where the parent taxon differ between the two taxonomies" | translate}}
							</p>
			  		 
			  			  </div>
			  			  </div>
			  			  </div>
					
			    	  <!-- ########################################-->
			    	  <div class="panel panel-default">
			    	    <div class="panel-heading" role="tab">
			    	      <h4 class="panel-title">
			    	        <a bs-collapse-toggle>
			    	       <i class="fa fa-search"></i> {{'Extended search' | translate}}
			    	        </a>
			    	      </h4>
			    	    </div>
			    	    <div class="panel-collapse" role="tabpanel" bs-collapse-target>
			    	      <div class="panel-body">
							  <div class="col-md-12" ng-show="!checkboxes.OrphantTaxa">

							  	<p translate class="md-title">Find species, varietes and forms under selected higher taxa:</p>
	
							      <md-chips ng-model="selectedHigherTaxa" md-autocomplete-snap md-require-match="true">
	
							        <md-autocomplete
							  	  	md-min-length="3"
							  		md-no-cache="true"
							            md-selected-item="selectedItem"
							            md-search-text="searchText"
							            md-items="item in querySearch(searchText)"
							            md-item-text="item.FullName"
							            placeholder="{{'Enter higher taxon' | translate}}">
							          <span md-highlight-text="searchText">{{item.FullName}}</span>
							        </md-autocomplete>
							        <md-chip-template>
							          <span>
							            <strong>{{$chip.FullName}}</strong>
         
							          </span>
							        </md-chip-template>
							      </md-chips>
							 
							 
							 
							  <div class="taxonomy-query-section">
							  	
							      <md-chips ng-model="attributeConditions" ng-show="attributeConditions.length > 0" readonly="false">
							           <md-chip-template>
							             <strong>{{$chip.readable}}</strong>
							           </md-chip-template>
							         </md-chips>
							   <md-content flex layout-padding>	
							  <p  class="md-title taxonomy-query-section-header">{{'Add search terms on attributes' | translate}}:</p>

							  <div layout layout-sm="column">

	
							          <md-input-container>
							             <label>{{'Attribute name' | translate}}</label>
							             <md-select ng-model="attributequery.selectedAttribute">
							               <md-option ng-repeat="(key, value) in taxonattributes" value="{{key}}">
							                 {{key}}
							               </md-option>
							             </md-select>
							           </md-input-container>
							          <md-input-container  ng-if="getAttributeType(attributequery.selectedAttribute, taxonattributes) !== 'boolean' && attributequery.selectedAttribute !== undefined">
							             <label>Operator</label>
							             <md-select ng-model="attributequery.selectedOperator">
							               <md-option ng-repeat="operator in operators" value="{{operator}}">
							                 {{operator}}
							               </md-option>
							             </md-select>
							           </md-input-container>
							           <md-input-container  ng-if="getAttributeType(attributequery.selectedAttribute, taxonattributes) === 'text' || getAttributeType(attributequery.selectedAttribute, taxonattributes) === 'number'">
							  			<label>Query</label>
							  			      <input ng-model="attributequery.value" type="text">
							            </md-input-container>
							           <md-input-container  ng-if="getAttributeType(attributequery.selectedAttribute, taxonattributes) === 'date'">
							  			<label>Date</label>
							  			      <input ng-model="attributequery.value" type="text" data-container="body" data-date-format="yyyy-MM-dd" name="date" autoclose="0" bs-datepicker>
							            </md-input-container>
		

							  		  <md-input-container ng-if=" getAttributeType(attributequery.selectedAttribute, taxonattributes) === 'boolean'">
							  	<md-switch  ng-model="attributequery.value" aria-label="{{attributequery.selectedAttribute}} checked">
	
	          
							  	        </md-switch>
							  </md-input-container>

							  		  <md-input-container ng-if="attributeQueryIsValid(attributequery)">
							  	<md-button class="md-raised md-primary" ng-click="addCondition(attributequery, attributeConditions, 'taxonomy_attribute_conditions')">Add condition</md-button>
							  </md-input-container>
							   
							  </div>
							  </md-content>
							  <!-- ############################# -->
								  
								  
								  
								
							  	
						      <md-chips ng-model="statisticsConditions" ng-show="statisticsConditions.length > 0" readonly="false">
								           <md-chip-template>
								             <strong>{{$chip.readable}}</strong>
								           </md-chip-template>
								         </md-chips>
								   <md-content flex layout-padding>	
								  <p  class="md-title taxonomy-query-section-header">{{'Add search terms on statistics' | translate}}:</p>

								  <div layout layout-sm="column">

	
								          <md-input-container>
								             <label>{{'Statistics name' | translate}}</label>
								             <md-select ng-model="statisticsquery.selectedAttribute">
								               <md-option ng-repeat="(key, value) in taxonStatistics" value="{{key}}">
								                 {{key}}
								               </md-option>
								             </md-select>
								           </md-input-container>
								          <md-input-container  ng-if="getAttributeType(statisticsquery.selectedAttribute, taxonStatistics) !== 'boolean' && statisticsquery.selectedAttribute !== undefined">
								             <label>Operator</label>
								             <md-select ng-model="statisticsquery.selectedOperator">
								               <md-option ng-repeat="operator in statisticsoperators" value="{{operator}}">
								                 {{operator}}
								               </md-option>
								             </md-select>
								           </md-input-container>
								           <md-input-container  ng-if="getAttributeType(statisticsquery.selectedAttribute, taxonStatistics) === 'text' || getAttributeType(statisticsquery.selectedAttribute, taxonStatistics) === 'number'">
								  			<label>Query</label>
								  			      <input ng-model="statisticsquery.value" type="text">
								            </md-input-container>
								           <md-input-container  ng-if="getAttributeType(statisticsquery.selectedAttribute, taxonStatistics) === 'date'">
								  			<label>Date</label>
								  			      <input ng-model="statisticsquery.value" type="text"  data-container="body" data-date-format="yyyy-MM-dd" name="date" autoclose="0" bs-datepicker>
								            </md-input-container>
		

								  		  <md-input-container ng-if=" getAttributeType(statisticsquery.selectedAttribute, taxonStatistics) === 'boolean'">
								  	<md-switch  ng-model="statisticsquery.value" aria-label="{{statisticsquery.selectedAttribute}} checked">
	
	          
								  	        </md-switch>
								  </md-input-container>

								  		  <md-input-container ng-if="attributeQueryIsValid(statisticsquery)">
								  	<md-button class="md-raised md-primary" ng-click="addCondition(statisticsquery, statisticsConditions, 'taxonomy_statistics_conditions')">Add condition</md-button>
								  </md-input-container>
								  
								  </div>
								   </md-content>
								  
								  
								  
								  
								  
								  
							<!-- ######################################	  -->
							  
							  <p  class="md-title taxonomy-query-section-header">{{'Search redlist categories' | translate}}:</p>
						     
							   <div layout layout-sm="column">
 							      <md-switch class="md-raised md-primary" ng-repeat="category in redlistCategories" ng-model="selectedRedListCategories[category.status]">{{category.status}}</md-switch>
								  </div>
								  
							  <p  class="md-title taxonomy-query-section-header">{{'Search tags' | translate}}:</p>
							   <div layout layout-sm="column">
 							      <md-chips ng-model="selectedTags" md-autocomplete-snap md-require-match="true">
	
 							        <md-autocomplete
 							  	  	md-min-length="3"
 							  		md-no-cache="true"
 							            md-selected-item="selectedTag"
 							            md-search-text="searchTagText"
 							            md-items="item in tagSearch(searchTagText)"
 							            md-item-text="item.tagname"
 							            placeholder="{{'Enter tags' | translate}}">
 							          <span md-highlight-text="searchTagText">{{item.tagname}}</span>
 							        </md-autocomplete>
 							        <md-chip-template>
 							          <span>
 							            <strong>{{$chip.tagname}}</strong>
         
 							          </span>
 							        </md-chip-template>
 							      </md-chips>
								  </div>  
								  
								  
								  
								  <p  class="md-title taxonomy-query-section-header">{{'Mycokey characters' | translate}}:</p>
								   <div layout layout-sm="column">
	 							      <md-chips ng-model="selectedMycokeyCharacters" md-autocomplete-snap md-require-match="true">
	
	 							        <md-autocomplete
	 							  	  	md-min-length="3"
	 							  		md-no-cache="true"
	 							            md-selected-item="selectedMycokeyCharacter"
	 							            md-search-text="searchMycokeyCharacterText"
	 							            md-items="item in mycokeySearch(searchMycokeyCharacterText)"
	 							            md-item-text="item['description DK']"
	 							            placeholder="{{'Enter characters' | translate}}"
											class="taxon-autocomplete">
	 							          <span md-highlight-text="searchMycokeyCharacterText">{{(translate.use() === 'en') ? item.charactergroup['Start description UK'] : item.charactergroup['Start description DK']}} {{(translate.use() === 'en') ?  item['description UK'] : item['description DK']}}</span>  
	 							        </md-autocomplete>
	 							        <md-chip-template>
	 							          <span>
	 							            <strong>{{(translate.use() === 'en') ? $chip.charactergroup['Start description UK'] : $chip.charactergroup['Start description DK']}} {{(translate.use() === 'en') ? $chip['description UK'] : $chip['description DK']}}</strong>
         
	 							          </span>
	 							        </md-chip-template>
	 							      </md-chips>
									  </div>
									  
									   <p  class="md-title taxonomy-query-section-header">{{'Morphogroups' | translate}}:</p>
						  		    <div >
						    			   <md-input-container>
						    			           <label>{{'MorphoGroups' | translate}}</label>
						    			           <md-select name="MorphoGroups" ng-model="selectedMorphoGroups" multiple>
		            
						    	   				             <md-option ng-repeat="mg in morphoGroup"  value="{{mg._id}}" >
						    	   				               {{mg.name_dk}} 
						    	   				             </md-option>
  	   							 

						    			           </md-select>
	   
						    			         </md-input-container>
						  			</div>
								  
								  
								  
							  </div>
								
			    	      </div>
			    	    </div>
			    	  </div>
			    	  <!-- ########################################-->
				  </div>
  
 
</div>
			
<md-content layout="row">
	
	<md-button class="md-raised md-warn" ng-click="resetSearch()"><i class="fa fa-refresh"></i> {{ 'Reset search' | translate}}</md-button>
	
	<md-switch  ng-model="checkboxes.acceptedTaxaOnly" aria-label="Only accepted taxa" >
	         {{ 'Omit synonyms' | translate}}
	        </md-switch>
			
	<md-switch  ng-model="checkboxes.PresentInDK" aria-label="Only DK taxa">
	{{ 'Only DK taxa' | translate}}
	          
	        </md-switch>
	<md-switch  ng-model="checkboxes.OrphantTaxa" aria-label="Only DK taxa">
	{{ 'Find orphant taxa' | translate}}     
	        </md-switch>
		<md-switch   ng-model="checkboxes.MorphogroupMissing" aria-label="Morphogroup missing">
		{{ 'Morphogroup missing' | translate}}     
		        </md-switch>
			

</md-content>
<div class="col-md-12">
	<md-button aria-label="Download csv" class="csv-button"  ng-click="getTaxonListCsv()" ng-csv="csv" quote-strings="true" csv-label="true" filename="svampeatlastaxondata.csv" field-separator="{{csvSeparator}}">
		                <ng-md-icon icon="file_download"></ng-md-icon>Download csv
		            </md-button>
		 	   <md-menu  >
		 	   			            <md-button aria-label="Open demo menu" class="md-icon-button csv-button" ng-click="$mdOpenMenu($event)">
		 	   			               <ng-md-icon icon="settings" ></ng-md-icon>
		 	   			            </md-button>
		 	   			            <md-menu-content width="4">
		 	   			              <md-menu-item >
		 	   			                <md-button ng-click="setCsvSeparator(',')">
		 	   			                    <div layout="row" flex>
		 	   			                      <p flex>{{'Komma som separator' | translate}}</p>
		 			                      <ng-md-icon ng-if="csvSeparator === ','" icon="check_box" style="margin: auto 3px auto 0;"></ng-md-icon>
		 								  <ng-md-icon ng-if="csvSeparator === ';'" icon="check_box_outline_blank" style="margin: auto 3px auto 0;"></ng-md-icon>
		 	   			                    </div>
		 	   			                </md-button>
		 	   			              </md-menu-item>
		 	   			              <md-menu-item >
		 	   			                <md-button  ng-click="setCsvSeparator(';')">
		 	   			                    <div layout="row" flex>
		 	   			                      <p flex>{{'Semikolon som separator'  | translate}}</p>
		 				                      <ng-md-icon ng-if="csvSeparator === ';'" icon="check_box" style="margin: auto 3px auto 0;"></ng-md-icon>
		 									  <ng-md-icon ng-if="csvSeparator === ','" icon="check_box_outline_blank" style="margin: auto 3px auto 0;"></ng-md-icon>
								  
		 	   			                    </div>
		 	   			                </md-button>
		 	   			              </md-menu-item>
			          
		 	   			            </md-menu-content>
		 	   			          </md-menu>
	<h4 class="md-headline pull-right">{{'Found' | translate}} {{taxonCount}} taxa</h4>
<md-progress-linear class="col-md-12" md-mode="indeterminate" ng-show="isLoading"></md-progress-linear>
<table st-persist="taxon_search_table" class="table table-bordered" st-pipe="callServer" st-table="displayed">
	<thead>
	<tr>
		<th st-sort="_id" st-ratio="10">DkIndexNr</th>
		<th st-ratio="5">
			<button class="btn btn-primary" ng-click="doBatch()" ><i class="fa fa-edit"></i></button>
		</th>
		<th st-ratio="5"></th>
		<th st-sort="FullName" st-ratio="40" translate>Full name</th>
		
		<th st-sort="TaxonName" translate>Epithet</th>
		<th st-sort="Author"  translate>Author</th>
		<th st-sort="RankName" st-ratio="5" translate>Taxon rank</th>
		<th st-sort="Vernacularname_DK.vernacularname_dk" translate>Dansk navn</th>
		<th st-sort="MorphoGroup.name_dk" translate>MorphoGroup</th>
	</tr>
	<tr>
		<th st-ratio="10"><div class="input-group"><span id="reset-table-state" class="input-group-addon" st-reset-search><i class="fa fa-refresh"></i></span><input class="form-control" st-search="_id" ></div></th>
		<th st-ratio="5"><md-checkbox aria-label="Select All"
                         ng-checked="allAreChecked()"
                         md-indeterminate="isIndeterminate()"
                         ng-click="toggleAllForUpdate()"></md-checkbox></th>
						 <th st-ratio="5"></th>
		<th st-ratio="40"><input class="form-control" st-search="FullName" ></th>
		
		<th><input class="form-control" st-search="TaxonName"></th>
		<th ><input class="form-control" st-search="Author" ></th>
		<th st-ratio="5"><input class="form-control" st-search="RankName"></th>
		<th><input class="form-control" st-search="Vernacularname_DK.vernacularname_dk"></th>
		<th></th>
	</tr>
	</thead>
	<tbody ng-show="!isLoading">
	<tr ng-repeat="row in displayed">
		<td st-ratio="10">{{row._id}}</td>
		<td st-ratio="5"><md-checkbox ng-checked="existsInMarkedForUpdate(row, markedForUpdate)" ng-click="toggleForUpdate(row, markedForUpdate)" aria-label="select for update">
           
          </md-checkbox></td>
		  <td   st-ratio="5" translate> <a ng-click="MycoKeyModalService.show($event, row)"><img src="assets/images/MycoKey.gif" width="24"  alt="MycoKey"> </a></td>
		<td st-ratio="40"><a href="/taxonbase/taxon/{{row._id}}">{{row.FullName}}</a> <a href="/taxonbase/taxonbooklayout/{{row._id}}"><i class="fa fa-book"></i></a>
		</td>
		
		<td>{{row.TaxonName}}</td>
		<td>{{row.Author}}</td>
		<td st-ratio="10">{{row.RankName}}</td>
		<td>{{row.Vernacularname_DK.vernacularname_dk}}</td>
		<td>{{row.MorphoGroup.name_dk}}<i class="fa fa-exclamation-triangle text-danger" ng-show="!row.MorphoGroup" aria-hidden="false"></i></td>
	</tr>
	</tbody>
	<tbody ng-show="isLoading">
	<tr>
		<td colspan="8" class="text-center">Loading ... </td>
	</tr>
	</tbody>
	<tfoot>
	<tr>
		<td class="text-center" st-pagination="" st-displayed-pages="paginationPages" st-items-by-page="50" colspan="5">
		</td>
	</tr>
	</tfoot>
</table>


</div>
</div>
	
</md-content>
	
	        
	      </div>


