<div  ng-controller="TaxonTabsCtrl" ng-include="'app/taxontabs/taxontabs.html'">	
	
</div>	
<md-content    layout-align="center center" layout-padding>


	    	<div class="row"  ng-if="stateParams.id">
			<div class="col-md-6" >
			<h2><em>{{taxon.FullName}}</em> {{taxon.Author}}</h2>
			
<div class="alert alert-warning" role="alert" ng-show="taxon.acceptedTaxon && taxon.acceptedTaxon._id !== taxon._id"><strong>Synonym of: </strong><a href="/taxonbase/taxonredlistdata/{{taxon.acceptedTaxon._id}}"> {{taxon.acceptedTaxon.FullName}}</a> ( {{taxon.acceptedTaxon.DKnavn}} 	) </div>
			
			
			<h4 ><strong>DK name: </strong> <em>{{ taxon.vernacularname_dk || 'n/a' }}</em> </h4> <div  ng-show="taxon._id && taxon.RankID > 5000" layout="row" >
    <md-checkbox  ng-model="taxon.attributes.PresentInDK" ng-change="Taxon.updateAttributes({id: taxon._id}, taxon.attributes)">
	{{'Present in DK' | translate}}
  </md-checkbox>
</div>
			
			
			<p><small><em>{{taxon.SystematicPath}}</em></small></p>
			<p><small><strong>Taxon rank: </strong><em> {{taxon.RankName}}</em></small>
			</p>
			</div>
			
			<div class="col-md-6" >
				<div class="panel-group" role="tablist" aria-multiselectable="true" bs-collapse>
		  	  <div class="panel panel-default" ng-if="taxon._id !== undefined && taxon.synonyms.length && taxon.synonyms.length >1">
		  	    <div class="panel-heading" role="tab">
		  	      <h4 class="panel-title">
		  	        <a bs-collapse-toggle>
		  	          Synonyms ({{taxon.synonyms.length -1}})
		  	        </a>
		  	      </h4>
		  	    </div>
		  	    <div class="panel-collapse" role="tabpanel" bs-collapse-target>
		  	      <div class="panel-body">
						  <table class="table parent-taxon-table">
							   <tr ng-repeat="syn in taxon.synonyms| synonymsWithoutSelf"><td st-ratio="70">
						 <a href="/taxonbase/taxonredlistdata/{{syn._id}}">{{syn.FullName}}</a>
						  </td>
				  <td st-ratio="30">
				    						<button class="btn btn-sm btn-danger" ng-click="importRedlistDataFromSynonym(syn)" ng-show="allyearsredlistdata.length === 0" data-html=true data-title="{{mergetooltip.title}}" bs-tooltip>Importér rødlistedata</button>
				    						  </td>
											  
				  </tr>
				  </table>
		  	        
					<!--<ul>
						<li ng-repeat="syn in taxon.synonyms| synonymsWithoutSelf"><a href="/taxonbase/taxonredlistdata/{{syn._id}}">{{syn.FullName}}</a></li>
					</ul> -->
		  	      </div>
		  	    </div>
		  	  </div>
				
			</div>
			
			</div>
			
			
			
			</div>
			<div  ng-if="stateParams.id">
				<button class="btn btn-primary" ng-show="redListDataIsDirty === true"  ng-click="saveImportedRedlistData()">Save imported redlist data</button> <button class="btn btn-primary" ng-show="redListDataIsDirty === true"  ng-click="discardImportedRedlistData()">Discard imported redlist data</button></row>
			
			
			<h3 class="text-danger">Rødliste: </h3>
	
	
	
			 <div  bs-tabs>
			
  	    <div ng-repeat="redlistdata in allyearsredlistdata" title="{{redlistdata.year +' ('+redlistdata.VerbatimStatus+')'}}"  bs-pane>
			  	   
	   		   <div class="row" >
	   			   <div class="col-md-6" >
	       					<label class="control-label" for="VerbatimStatus">Status (oprindelig) </label>
	       			<a href="#" id="VerbatimStatus" editable-text="redlistdata.VerbatimStatus" e-rows="7" e-cols="40" onaftersave="redlistdata.$update()">
	       			   {{ redlistdata.VerbatimStatus || 'no description' }}
	       			  </a>
	   				  </div>
 				  
	   	   </div>
 		   <div class="row" >
 			   <div class="col-md-6" >
     					<label class="control-label" for="Roedlisteansvarlig">Rødlisteansvarlig </label>
     			<a href="#" id="Roedlisteansvarlig" editable-text="redlistdata.Roedlisteansvarlig" e-rows="7" e-cols="40" onaftersave="redlistdata.$update()">
     			   {{ redlistdata.Roedlisteansvarlig || 'no description' }}
     			  </a>
 				  </div>
 				  
 	   </div>
<div class="row" >
			<div class="col-md-5" >
	
	
					<label class="control-label" for="roedlisteNationalStatus">National status</label>
			<a href="#" id="roedlisteNationalStatus" editable-textarea="redlistdata.roedlisteNationalStatus" e-rows="7" e-cols="40" onaftersave="redlistdata.$update()">
			    <div class="x-editable-texarea">{{ redlistdata.roedlisteNationalStatus || 'no description' }}</div>
			  </a>
		  </div>
		  <div class="col-md-5" >
  					<label class="control-label" for="roedlisteNationalStatusClean">National status clean</label>
  			<a href="#" id="roedlisteNationalStatusClean" editable-textarea="redlistdata.roedlisteNationalStatusClean" e-rows="7" e-cols="40" onaftersave="redlistdata.$update()">
  			    <div class="x-editable-texarea">{{ redlistdata.roedlisteNationalStatusClean || 'no description' }}</div>
  			  </a>
			   </div>
		   </div>
		   <div class="row" >
			   <div class="col-md-5" >
    					<label class="control-label" for="roedlisteBestandsudvikling">Bestandsudvikling</label>
    			<a href="#" id="roedlisteBestandsudvikling" editable-textarea="redlistdata.roedlisteBestandsudvikling" e-rows="7" e-cols="40" onaftersave="redlistdata.$update()">
    			    <div class="x-editable-texarea">{{ redlistdata.roedlisteBestandsudvikling || 'no description' }}</div>
    			  </a>
				  </div>
				  <div class="col-md-5" >
  					<label class="control-label" for="roedlisteBestandsstoerrelseBem">Bestandsstørrelsesbemærkning</label>
  			<a href="#" id="roedlisteBestandsstoerrelseBem" editable-textarea="redlistdata.roedlisteBestandsstoerrelseBem" e-rows="7" e-cols="40" onaftersave="redlistdata.$update()">
  			    <div class="x-editable-texarea">{{ redlistdata.roedlisteBestandsstoerrelseBem || 'no description' }}</div>
  			  </a>
		
		  </div>
	   </div>
		   <div class="row" >
			   <div class="col-md-10" >
    					<label class="control-label" for="Udbredelse">Udbredelse</label>
    			<a href="#" id="Udbredelse" editable-textarea="redlistdata.Udbredelse" e-rows="7" e-cols="40" onaftersave="redlistdata.$update()">
    			    <div class="x-editable-texarea">{{ redlistdata.Udbredelse || 'no description' }}</div>
    			  </a>
				  </div>
				  
	   </div>
	   
		   <div class="row" >
			   <div class="col-md-10" >
    					<label class="control-label" for="Roedlistevurdering">Rødlistevurdering</label>
    			<a href="#" id="Roedlistevurdering" editable-textarea="redlistdata.Roedlistevurdering" e-rows="7" e-cols="40" onaftersave="redlistdata.$update()">
    			    <div class="x-editable-texarea">{{ redlistdata.Roedlistevurdering || 'no description' }}</div>
    			  </a>
				  </div>
				  
	   </div>
	   
		   <div class="row" >
			   <div class="col-md-5" >
    					<label class="control-label" for="Litteratur_DMU">Litteratur DMU</label>
    			<a href="#" id="Litteratur_DMU" editable-textarea="redlistdata.Litteratur_DMU" e-rows="7" e-cols="40" onaftersave="redlistdata.$update()">
    			    <div class="x-editable-texarea">{{ redlistdata.Litteratur_DMU || 'no description' }}</div>
    			  </a>
				  </div>
				  <div class="col-md-5" >
  					<label class="control-label" for="Litteratur">Andre referencer</label>
  			<a href="#" id="Litteratur" editable-textarea="redlistdata.Litteratur" e-rows="7" e-cols="40" onaftersave="redlistdata.$update()">
  			    <div class="x-editable-texarea">{{ redlistdata.Litteratur || 'no description' }}</div>
  			  </a>
		
		  </div>
	   </div>
	   
		   <div class="row" >
			   <div class="col-md-10" >
    					<label class="control-label" for="Kriterier">Kriterier</label>
    			<a href="#" id="Kriterier" editable-text="redlistdata.Kriterier" e-rows="7" e-cols="40" onaftersave="redlistdata.$update()">
    			    {{ redlistdata.Kriterier || 'no description' }}
    			  </a>
				  </div>
				  
	   </div>
		   <div class="row" >
			   <div class="col-md-10" >
    					<label class="control-label" for="roedlisteLevesteder">Levesteder</label>
    			<a href="#" id="roedlisteLevesteder" editable-text="redlistdata.roedlisteLevesteder" e-rows="7" e-cols="40" onaftersave="redlistdata.$update()">
    			    {{ redlistdata.roedlisteLevesteder || 'no description' }}
    			  </a>
				  </div>
				  
	   </div>
		   <div class="row" >
			   <div class="col-md-10" >
    					<label class="control-label" for="roedlisteNegativePaavirknBem">Negative Påvirkninger Bemærkning</label>
    			<a href="#" id="roedlisteNegativePaavirknBem" editable-textarea="redlistdata.roedlisteNegativePaavirknBem" e-rows="7" e-cols="40" onaftersave="redlistdata.$update()">
    			    <div class="x-editable-texarea">{{ redlistdata.roedlisteNegativePaavirknBem || 'no description' }}</div>
    			  </a>
				  </div>
				  
	   </div>
		   <div class="row" >
			   <div class="col-md-10" >
    					<label class="control-label" for="roedlisteNegativePaavirkninger">Negative Påvirkninger</label>
    			<a href="#" id="roedlisteNegativePaavirkninger" editable-text="redlistdata.roedlisteNegativePaavirkninger" e-rows="7" e-cols="40" onaftersave="redlistdata.$update()">
    			    {{ redlistdata.roedlisteNegativePaavirkninger || 'no description' }}
    			  </a>
				  </div>
				  
	   </div>
 		   <div class="row" >
 			   <div class="col-md-3" >
     					<label class="control-label" for="roedlisteBestandsstoerrelse">Rødliste bestandsstørrelse </label>
     			<a href="#" id="roedlisteBestandsstoerrelse" editable-text="redlistdata.roedlisteBestandsstoerrelse" e-rows="7" e-cols="40" onaftersave="redlistdata.$update()">
     			   {{ redlistdata.roedlisteBestandsstoerrelse || 'no description' }}
     			  </a>
 				  </div>
 				  <div class="col-md-5" >
   					<label class="control-label" for="roedlisteBestandsstoerrelseAar">Bestandsstørrelse (år)</label>
   			<a href="#" id="roedlisteBestandsstoerrelseAar" editable-text="redlistdata.roedlisteBestandsstoerrelseAar" e-rows="7" e-cols="40" onaftersave="redlistdata.$update()">
   			    {{ redlistdata.roedlisteBestandsstoerrelseAar || 'no description' }}
   			  </a>
		
 		  </div>
 	   </div>
 		   <div class="row" >
 			   <div class="col-md-3" >
     					<label class="control-label" for="NationalRoedlistekatogeri">National kategori </label>
     			<a href="#" id="NationalRoedlistekatogeri" editable-text="redlistdata.NationalRoedlistekatogeri" e-rows="7" e-cols="40" onaftersave="redlistdata.$update()">
     			   {{ redlistdata.NationalRoedlistekatogeri || 'no description' }}
     			  </a>
 				  </div>
 				  <div class="col-md-2" >
   					<label class="control-label" for="Artstilbagegang">Artstilbagegang</label>
   			<a href="#" id="Artstilbagegang" editable-text="redlistdata.Artstilbagegang" e-rows="7" e-cols="40" onaftersave="redlistdata.$update()">
   			    {{ redlistdata.Artstilbagegang || 'no description' }}
   			  </a>
		
 		  </div>
 				  <div class="col-md-5" >
   					<label class="control-label" for="roedlisteUdbredelsesareal">Udbredelsesareal</label>
   			<a href="#" id="roedlisteUdbredelsesareal" editable-text="redlistdata.roedlisteUdbredelsesareal" e-rows="7" e-cols="40" onaftersave="redlistdata.$update()">
   			   {{ redlistdata.roedlisteUdbredelsesareal || 'no description' }}
   			  </a>
		
 		  </div>
 	   </div>
 		   <div class="row" >
 			   <div class="col-md-3" >
     					<label class="control-label" for="roedlisteID">Rødliste ID </label>
     			<a href="#" id="roedlisteID" editable-text="redlistdata.roedlisteID" e-rows="7" e-cols="40" onaftersave="redlistdata.$update()">
     			   {{ redlistdata.roedlisteID || 'no description' }}
     			  </a>
 				  </div>
 				  <div class="col-md-5" >
   					<label class="control-label" for="roedlisteGruppe">Rødlistegruppe</label>
   			<a href="#" id="roedlisteGruppe" editable-text="redlistdata.roedlisteGruppe" e-rows="7" e-cols="40" onaftersave="redlistdata.$update()">
   			    {{ redlistdata.roedlisteGruppe || 'no description' }}
   			  </a>
		
 		  </div>
 	   </div>
 		   <div class="row" >
 			   <div class="col-md-3" >
     					<label class="control-label" for="roedlisteIndivider">Rødlisteindivider </label>
     			<a href="#" id="roedlisteIndivider" editable-text="redlistdata.roedlisteIndivider" e-rows="7" e-cols="40" onaftersave="redlistdata.$update()">
     			   {{ redlistdata.roedlisteIndivider || 'no description' }}
     			  </a>
 				  </div>
 				  <div class="col-md-2" >
   					<label class="control-label" for="roedlisteGenerationstid">Generationstid</label>
   			<a href="#" id="roedlisteGenerationstid" editable-text="redlistdata.roedlisteGenerationstid" e-rows="7" e-cols="40" onaftersave="redlistdata.$update()">
   			    {{ redlistdata.roedlisteGenerationstid || 'no description' }}
   			  </a>
		
 		  </div>
 				  <div class="col-md-5" >
   					<label class="control-label" for="roedlisteGenerationsinterval">Generationstidsinterval</label>
   			<a href="#" id="roedlisteGenerationsinterval" editable-text="redlistdata.roedlisteGenerationsinterval" e-rows="7" e-cols="40" onaftersave="redlistdata.$update()">
   			   {{ redlistdata.roedlisteGenerationsinterval || 'no description' }}
   			  </a>
		
 		  </div>
 	   </div>
 		   <div class="row" >
 			   <div class="col-md-6" >
     					<label class="control-label" for="roedlisteNomenkaltur">Rødliste nomenklatur </label>
     			<a href="#" id="roedlisteNomenkaltur" editable-text="redlistdata.roedlisteNomenkaltur" e-rows="7" e-cols="40" onaftersave="redlistdata.$update()">
     			   {{ redlistdata.roedlisteNomenkaltur || 'no description' }}
     			  </a>
 				  </div>
 				  
 	   </div>
	  	    </div>
	 </div>
</md-content >

