	<div ng-controller="TaxonTabsCtrl" ng-include="'app/taxontabs/taxontabs.html'">	
	
	</div>
<div class="container">
	
<div class="col-md-12">
	<div class="col-md-4">
	<div class="btn-group" ng-model="dataSource" bs-radio-group>
	  <label class="btn btn-default"><input type="radio" class="btn btn-default" value="IndexFungorum"> Index Fungorum</label>
	  <label class="btn btn-default"><input type="radio" class="btn btn-default" value="MycoBank"> Mycobank</label>
	  <label class="btn btn-default"><input type="radio" class="btn btn-default" value="Manual"> {{'Manual' | translate}}</label>

	</div>
	</div>
	<div class="col-md-8">
	<div class="alert alert-warning pull-right" role="alert" ><strong>{{'Usage' | translate}}: </strong> {{'The preferred way of creating a new taxon is importing it from' | translate}} <strong>Index Fungorum </strong>. Alternatively it can be imported from <strong>MycoBank</strong>. {{'There can be reasons to create taxa manually, for example super species and super genera should always be created using the \'Manual\' option' | translate}}.</div>
	<hr>
</div>
</div>

<div class="col-md-12" ng-show="dataSource && dataSource === 'Manual'">
<div class="col-md-5"> 
	<h4>{{'Choose parent taxon' | translate}}:</h4>
					<form>
						<input type="text" class="form-control" minLength="3" ng-model-options="{allowInvalid:true}" ng-model="$parent.selectedParentTaxon" bs-options="taxon as taxon.FullName for taxon in TaxonTypeaheadService.getTaxon($viewValue)" data-placement="auto" placeholder="{{'Enter taxon name/epithet' | translate}}" bs-typeahead>
					</form>	
					<div class="alert alert-danger col-md-12 possible-funindex-syn-alert" role="alert" ng-show="$parent.selectedParentTaxon.FunIndexNumber !== $parent.selectedParentTaxon.FunIndexCurrUseNumber"><strong>{{'Possible synonym!' | translate}} </strong> {{'This taxon may be a synonym of' | translate}} <a href = "http://www.indexfungorum.org/Names/NamesRecord.asp?RecordID={{$parent.selectedParentTaxon.FunIndexCurrUseNumber}}" target="_BLANK">{{'this taxon' | translate}}</a> {{'on Index Fungorum' | translate}} 

					</div>
					<table ng-show="$parent.selectedParentTaxon !== undefined && $parent.selectedParentTaxon.constructor.name === 'Resource'" class="table parent-taxon-table">

					  <tr class="parent-taxon-table"><td class="parent-taxon-table" st-ratio="20">Full taxon name:</td><td class="parent-taxon-table" st-ratio="30">{{$parent.selectedParentTaxon.FullName}}</td><td st-ratio="50"><a href = "http://www.indexfungorum.org/Names/NamesRecord.asp?RecordID={{$parent.selectedParentTaxon.FunIndexNumber}}" target="_BLANK" class="btn btn-primary" > <i class="fa fa-link"></i> View on Index Fungorum</a></td></tr>
					  <tr class="parent-taxon-table"><td class="parent-taxon-table" st-ratio="20">Epithet :</td><td class="parent-taxon-table" st-ratio="30">{{$parent.selectedParentTaxon.TaxonName}}</td><td st-ratio="50"></td></tr>
					  <tr class="parent-taxon-table"><td class="parent-taxon-table" st-ratio="20">Author(s):</td><td class="parent-taxon-table" st-ratio="30"><i>{{$parent.selectedParentTaxon.Author}}</i></td><td st-ratio="50"></td></tr>
					  <tr ng-show="$parent.selectedParentTaxon !== undefined && $parent.selectedParentTaxon.constructor.name === 'Resource'" class="parent-taxon-table"><td class="parent-taxon-table" st-ratio="20">Taxon rank:</td><td class="parent-taxon-table" st-ratio="30">{{$parent.selectedParentTaxon.RankName}}</td><td st-ratio="50"></td></tr>
				
					</table>
					</div>	
<div class="col-md-5" ng-show="$parent.selectedParentTaxon !== undefined && $parent.selectedParentTaxon.constructor.name === 'Resource'">
<h4>Enter the new taxon attributes:</h4>	
<div class="form-group">
  <label for="rank-selector">Select taxon rank:</label>
  <select id="rank-selector" class="form-control" ng-options="rank as rank.RankName for rank in TaxonRanks | higherRanksThanParent:$parent.selectedParentTaxon" ng-model="selectedTaxonRank"></select>
</div>
	<div class="form-group">
	  <label for="taxonName">Taxon name / epithet:</label>
	  <input type="text" class="form-control" id="taxonName" ng-model="selectedTaxonName">
	</div>
	<div class="form-group" ng-show="selectedTaxonRank && selectedTaxonRank.RankName !== 'supergenus' && selectedTaxonRank.RankName !== 'superspecies'">
	  <label for="taxonAuthor">Author:</label>
	  <input type="text" class="form-control" id="taxonAuthor" ng-model="selectedTaxonAuthor">
	</div>
	<div class="form-group">
	  <button class="btn btn-primary" ng-show="newTaxonIsValid()" ng-click="saveNewTaxon()"> <i class="fa fa-save"></i> Save taxon</button>
	</div>
</div>
</div>	
<div class="col-md-12" ng-show="dataSource && dataSource !== 'Manual'">

<form class="form">
  <div class="form-group col-md-3">
    <label for="searchText">Search for taxon:</label>
    <input type="text" class="form-control" id="SearchText" placeholder="searchText" ng-model="searchParams.SearchText">
  </div>
  <div class="form-group col-md-3">
    <label for="MaxNumber">Max number of records:</label>
    <input type="number" class="form-control" id="MaxNumber" ng-value=100 ng-model="searchParams.MaxNumber">
  </div>
  <div class="form-group col-md-2">
	  <label class="col-md-12 inline-checkboxgroup-label">Anywhere in text:</label>
  
    <label class="radio-inline">
      <input type="radio" name="anywhereInText" id="anywhereInText1"  ng-model="searchParams.AnywhereInText" value="true">
      Yes
    </label>
 
  
 
    <label class="radio-inline">
      <input type="radio" name="anywhereInText" id="anywhereInText2"  ng-model="searchParams.AnywhereInText" value="false">
      No
    </label>

  </div>
   <div class="form-group col-md-2">
  <button  class="btn btn-primary" ng-click="getData()">GO!</button>
</div>
</form>
</div>
<div ng-show="errorMsg" class="alert alert-danger col-md-12" role="alert"><strong>Error!</strong> The data could not be fetched. The error was: <br><strong> {{errorMsg}}</strong> </div>

<div class="col-md-12" ng-show="isLoading && dataSource === 'IndexFungorum'">
	<p>Fetching data from {{dataSource}} <i class="fa fa-spinner fa-spin fa-2x"></i></p>
</div>
<div class="col-md-12" ng-show="rowCollection && dataSource === 'IndexFungorum'">
<table st-table="displayedCollection" st-safe-src="rowCollection" class="table table-striped">
	<thead>
	<tr>
		<th></th>
		<th st-sort="NAME_x0020_OF_x0020_FUNGUS">Name</th>
		<th st-sort="AUTHORS">Author</th>
		<th st-sort="INFRASPECIFIC_x0020_RANK">Rank</th>
		<th>Link</th>
	</tr>
	<tr>
		<th></th>
		<th>
					<input st-search="NAME_x0020_OF_x0020_FUNGUS" placeholder="search for name" class="form-control" >
				</th>
		<th>
					<input st-search="AUTHORS" placeholder="search for author(s)" class="form-control" >
				</th>
		<th>
					<input st-search="INFRASPECIFIC_x0020_RANK" placeholder="search for rank" class="form-control">
				</th>
		<th></th>
	</tr>
	</thead>
	<tbody>
		
	<tr ng-repeat="row in displayedCollection">
		<td><button class="btn btn-primary" ng-click="addToTaxonBase(row)">Add/Sync to our Taxonomy </button></td>
		<td>{{row.NAME_x0020_OF_x0020_FUNGUS}} <i class="fa fa-warning text-warning" ng-if="row.CURRENT_x0020_NAME_x0020_RECORD_x0020_NUMBER !== row.RECORD_x0020_NUMBER" data-title="Possibly invalid or synonym. Please review carefully." bs-tooltip></i></td>
		<td>{{row.AUTHORS}}</td>
		<td>{{row.INFRASPECIFIC_x0020_RANK}}</td>
		<td><a href = "http://www.indexfungorum.org/Names/NamesRecord.asp?RecordID={{row.RECORD_x0020_NUMBER}}" target="_BLANK">Index Fungorum</a></td>
		
	</tr>
	</tbody>
	<tfoot>
				<tr>
					<td colspan="5" class="text-center">
						<div st-pagination="" st-items-by-page="50" st-displayed-pages="7"></div>
					</td>
				</tr>
			</tfoot>
</table>
</div>
<!-- MycoBank     -->
<div class="col-md-12" ng-show="isLoading && dataSource === 'MycoBank'">
	<p>Fetching data from {{dataSource}} <i class="fa fa-spinner fa-spin fa-2x"></i></p>
</div>
<div class="col-md-12" ng-show="rowCollectionMycobank && dataSource === 'MycoBank'">
<table st-table="displayedCollectionMycoBank" st-safe-src="rowCollectionMycobank" class="table table-striped">
	<thead>
	<tr>
		<th></th>
		<th st-sort="name">Name</th>
		<th st-sort="authorsabbrev_">Author</th>
		<th st-sort="rank_pt_.TargetRecord.Name">Rank</th>
		<th>Link</th>
	</tr>
	<tr>
		<th></th>
		<th>
					<input st-search="name" placeholder="search for name" class="form-control">
				</th>
		<th>
					<input st-search="authorsabbrev_" placeholder="search for author(s)" class="form-control" >
				</th>
		<th>
					<input st-search="rank_pt_.TargetRecord.Name" placeholder="search for rank" class="form-control" >
				</th>
		<th></th>
	</tr>
	</thead>
	<tbody>
	<tr ng-repeat="row in displayedCollectionMycoBank">
		<td><button class="btn btn-primary" ng-click="addToTaxonBase(row)">Add/Sync to our Taxonomy </button></td>
		<td>{{row.name}} <i class="fa fa-warning text-warning" ng-if="row.currentname_pt_ && row.currentname_pt_.TargetRecord.Id !== row.mycobanknr_" data-title="Possibly invalid or synonym. Please review carefully." bs-tooltip></i></td>
		<td>{{row.authorsabbrev_}}</td>
		<td>{{row.rank_pt_.TargetRecord.Name}} </td>
		<td><a href = "http://www.mycobank.org/BioloMICS.aspx?Table=Mycobank&mycobank_={{row.mycobanknr_}}&Fields=All" target="_BLANK">Mycobank</a></td>
		
	</tr>
	</tbody>
	<tfoot>
				<tr>
					<td colspan="5" class="text-center">
						<div st-pagination="" st-items-by-page="50" st-displayed-pages="7"></div>
					</td>
				</tr>
			</tfoot>
</table>
</div>


</div>



