<!--<div ng-include="'components/navbar/navbar.html'"></div> -->
<div ng-controller="SearchTabsCtrl" ng-include="'app/searchtabs/searchtabs.html'"></div>
	

<md-content flex md-scroll-y layout-padding>

	
<md-progress-linear  md-mode="indeterminate" ng-show="isLoading"></md-progress-linear>

<div class="table-responsive-vertical shadow-z-1 scroll-table-container">
<table  class="table" ng-class="{'table-bordered': mdMedia('min-width: 768px')}" st-pagination-scroll st-pipe="callServer" st-table="displayed">
	<thead>
	<tr>
		<th st-sort="observationDate" >Dato</th>
		
		<th st-sort="DeterminationView.Taxon_FullName"  translate>Navn</th>
		<th st-sort="DeterminationView.Taxon_vernacularname_dk"  translate>Dansk navn</th>
		<th st-sort="Locality.name"  translate>Lokalitet</th>
		<th st-sort="PrimaryUser.Initialer"  translate>Finder</th>
		
		<th ></th>
	</tr>
	</thead>
	<tbody >
	<tr ng-repeat="row in displayed">
		<td data-title="Dato">{{(row.observationDateAccuracy === 'day') ? (row.observationDate | date : 'dd/MM/yyyy') : getDate(row.observationDate, row.observationDateAccuracy)}}</span></td>
		
		<td data-title="Art"><em>{{row.DeterminationView.Taxon_FullName}} <span ng-if="row.DeterminationView.Taxon_RankID < 5001">sp.</span></em><span ng-if="row.DeterminationView.Taxon_redlist_status">({{row.DeterminationView.Taxon_redlist_status}})</span><span ng-if="row.DeterminationView.Taxon_id !== row.DeterminationView.Recorded_as_id" class="md-caption"><br>Indlagt som <em>{{row.DeterminationView.Recorded_as_FullName}}</em></span></td>
		<td data-title="Dansk navn">{{row.DeterminationView.Taxon_vernacularname_dk}}</td>	
		<td data-title="Lokalitet">{{row.Locality.name}}</td>	
			<td data-title="Finder"><span ng-if="mdMedia('min-width: 768px')"><md-tooltip md-direction="left">
          {{row.PrimaryUser.name}}
        </md-tooltip>{{row.PrimaryUser.Initialer}}</span><span ng-if="mdMedia('max-width: 768px')"> {{row.PrimaryUser.name}}</span></td>	
			
		</td>
		<td data-title=""><ng-md-icon icon="camera_alt" ng-if="row.Images.length > 0" ng-click="showImages($event, row)"></ng-md-icon> <ng-md-icon icon="forum" ng-if="row.Forum.length > 0" ng-click="showForum($event, row)"></td>
		
	</tr>

	</tbody>

	<!--<tfoot>
	<tr>
		<td class="text-center" st-pagination="" st-displayed-pages="10" st-items-by-page="50" colspan="8">
		</td>
	</tr>
	</tfoot> -->
</table>


</div>

<md-progress-linear  md-mode="indeterminate" ng-show="isLoading"></md-progress-linear>
</md-content>



