<!--<div ng-include="'components/navbar/navbar.html'"></div> -->
<!--<div ng-controller="SearchTabsCtrl" ng-include="'app/searchtabs/searchtabs.html'"></div>-->
<md-toolbar class="searchtabs" ng-controller="SearchTabsCtrl" ng-include="'app/searchtabs/searchtabs.html'" > </md-toolbar>
	
   <md-button class="md-fab md-warn md-fab-bottom-right" aria-label="Tilføj observation" ng-click="ObservationFormService.show($event)" ng-show="Auth.isLoggedIn() && $stateParams.searchterm && $stateParams.searchterm === 'mine'">
               <ng-md-icon icon="add"></ng-md-icon>
           </md-button>
		   
   
<md-content flex md-scroll-y layout-padding ng-cloak>
		 	<span ng-if="storedSearch && mdMedia('xs')">{{'Aktuel søgning:' | translate}} </span>
		   <h4 ng-if="storedSearch"><span ng-if="mdMedia('gt-xs')">{{'Aktuel søgning:' | translate}}</span> {{storedSearch.name}} <span ng-if="Auth.getCurrentUser()._id !== storedSearch.User._id"> - {{'oprettet af' | translate}} {{storedSearch.User.name}}</span><sharing mail-subject="'Søgeresultat fra Danmarks Svampeatlas: '+storedSearch.name " mail-body="baseUrl+'/search/'+storedSearch._id+'/result/list/'" sharing-uri="baseUrl+'/search/'+storedSearch._id+'/result/list/'"> </sharing></h4>

	  <div flex layout="row" ng-if="mdMedia('xs')"><span flex></span><p>{{fromRecord +"-"+toRecord}} {{'af' | translate}} {{totalCount}}</p></div> 
			   
	<div class="table-responsive-vertical shadow-z-1">


<table  class="table" ng-class="{'table-bordered table-condensed': mdMedia('min-width: 768px')}"  st-pipe="callServer" st-table="displayed" st-persist="search_result_list_table">
	<md-progress-linear  md-mode="indeterminate" ng-show="displayed && isLoading"></md-progress-linear>
	<thead>
	<tr ng-show="displayed && !isLoading">
			<th colspan="4"><md-button ng-if="10001 > totalCount" aria-label="Download csv" ng-click="getObservationCsv()" ng-csv="csv" quote-strings="true" csv-label="true" filename="svampeatlasdata.csv" field-separator="{{csvSeparator}}" ng-disabled="csvInProgress">
             <ng-md-icon icon="file_download" ></ng-md-icon>

			   Download csv
			   <md-progress-linear ng-show="csvInProgress" ></md-progress-linear>
           </md-button>
	   <md-menu  >
	   			            <md-button aria-label="Open demo menu" class="md-icon-button" ng-click="$mdOpenMenu($event)">
	   			               <ng-md-icon icon="settings" ></ng-md-icon>
	   			            </md-button>
	   			            <md-menu-content width="4" >
	   			              <md-menu-item >
	   			                <md-button ng-click="setCsvSeparator(',')">
	   			                    <div layout="row" flex>
	   			                      <p flex>{{'Komma som separator' | translate}}</p>
			                      <ng-md-icon ng-if="csvSeparator === ','" icon="check_box" style="margin: auto 3px auto 0;"></ng-md-icon>
								  <ng-md-icon ng-if="csvSeparator === ';'" icon="check_box_outline_blank" style="margin: auto 3px auto 0;"></ng-md-icon>
	   			                    </div>
	   			                </md-button>
	   			              </md-menu-item>
	   			              <md-menu-item >
	   			                <md-button  ng-click="setCsvSeparator(';')">
	   			                    <div layout="row" flex>
	   			                      <p flex>{{'Semikolon som separator'  | translate}}</p>
				                      <ng-md-icon ng-if="csvSeparator === ';'" icon="check_box" style="margin: auto 3px auto 0;"></ng-md-icon>
									  <ng-md-icon ng-if="csvSeparator === ','" icon="check_box_outline_blank" style="margin: auto 3px auto 0;"></ng-md-icon>
								  
	   			                    </div>
	   			                </md-button>
	   			              </md-menu-item>
			          
	   			            </md-menu-content>
	   			          </md-menu>
	   
	   </th>
			<th st-pagination=""  st-items-by-page="stItemsPrPage" colspan="6" st-template="app/searchresultlist/pagination.tpl.html">
			</th>
		</tr> 

		<th ></th>
		<th ></th>
		<th st-sort="createdAt" ng-if="$stateParams.searchterm && ($stateParams.searchterm === 'mine' || $stateParams.searchterm === 'today' || $stateParams.searchterm === '3days')" translate>Indlagt</th>
		<th st-sort="observationDate"  translate>Dato</th>
		
		<th translate>Art</th>
	<!--	<th st-sort="DeterminationView.Taxon_FullName"  translate>Art</th> -->
		<th  translate>Dansk navn</th>
		<!--<th st-sort="DeterminationView.Taxon_vernacularname_dk"  translate>Dansk navn</th> -->
		<th  translate>Lokalitet</th>
		<!--<th st-sort="Locality.name"  translate>Lokalitet</th> -->
		<th ng-if="!($stateParams.searchterm && $stateParams.searchterm === 'mine')" translate>Rapportør</th>
		<!--<th st-sort="PrimaryUser.Initialer" >Rapportør</th>-->
		<th st-sort="_id" ng-if="Auth.isLoggedIn()" translate>Databasenummer</th>
		<th ></th>
		
	</tr>
	</thead>
	<tbody ng-show="displayed.length > 0">
	<tr ng-repeat="row in displayed" id="{{row._id}}" st-select-row="row" >
		<td data-title=""><ng-md-icon icon="more_horiz" ng-click="ObservationModalService.show($event, row)"></ng-md-icon> 
			<ng-md-icon icon="edit" ng-if="currentUser._id === row.primaryuser_id" ng-click="ObservationFormService.show($event, row)"></ng-md-icon> </td>
		<td data-title="Status"><md-tooltip md-direction="right" ng-if="mdMedia('min-width: 768px') && row.DeterminationView.Determination_validation !== 'Afvist' && row.DeterminationView.Determination_validation !== 'Godkendt'">
          {{'Dette fund er under godkendelse og bør ikke refereres før det er godkendt' | translate}}
        </md-tooltip>
		<md-tooltip md-direction="right" ng-if="mdMedia('min-width: 768px')  && row.DeterminationView.Determination_validation === 'Afvist'" >
		          {{'Dette fund er på de givne oplysninger afvist da bestemmelsen er for usikker' | translate}}
		        </md-tooltip>
		<ng-md-icon style="fill:red" ng-if="row.DeterminationView.Determination_validation === 'Afvist'" icon="block" ></ng-md-icon>
			<ng-md-icon style="fill:wheat" ng-if="!Auth.hasRole('validator') && row.DeterminationView.Determination_validation !== 'Afvist' && row.DeterminationView.Determination_validation !== 'Godkendt'" icon="error" ></ng-md-icon>
			<ng-md-icon  ng-click="updateValidation(row)" style="{{(row.DeterminationView.Determination_validation === 'Valideres') ? 'fill:wheat' : 'fill:pink' }}" ng-if="Auth.hasRole('validator') && row.DeterminationView.Determination_validation !== 'Afvist' && row.DeterminationView.Determination_validation !== 'Godkendt'" icon="{{(row.DeterminationView.Determination_validation === 'Valideres') ? 'error' : 'pause_circle_filled' }}" ></ng-md-icon>
			
			<ng-md-icon style="fill:green" ng-if="(mdMedia('xs') || Auth.hasRole('validator') ) && row.DeterminationView.Determination_validation === 'Godkendt'" icon="thumb_up" ></ng-md-icon>
		</td>
		<td ng-if="$stateParams.searchterm && ($stateParams.searchterm === 'mine' || $stateParams.searchterm === 'today' || $stateParams.searchterm === '3days')" data-title="{{'Indlagt' | translate}}">{{(moment(row.createdAt).isSame(moment(), 'day')) ? getCreatedAt(row.createdAt) : (row.createdAt | date : 'dd/MM/yyyy')}}</td>
		<td data-title="{{'Dato' | translate}}" >{{(row.observationDateAccuracy === 'day') ? (row.observationDate | date : 'dd/MM/yyyy') : getDate(row.observationDate, row.observationDateAccuracy)}}</td>
		
		<td data-title="{{'Art' | translate}}"><a ng-click="$event.stopPropagation();" ng-href='/taxon/{{row.DeterminationView.Taxon_id}}'><em>{{row.DeterminationView.Taxon_FullName}} <span ng-if="row.DeterminationView.Taxon_RankID < 5001">sp.</span></em><span ng-if="row.DeterminationView.Taxon_redlist_status">({{row.DeterminationView.Taxon_redlist_status}})</span><span ng-if="row.DeterminationView.Taxon_id !== row.DeterminationView.Recorded_as_id" class="md-caption"><br>Indlagt som <em>{{row.DeterminationView.Recorded_as_FullName}}</em></span></a></td>
		<td data-title="{{'Dansk navn' | translate}}">{{row.DeterminationView.Taxon_vernacularname_dk | capitalize}}</td>	
		<td data-title="{{'Lokalitet' | translate}}"><span ng-if="row.Locality">{{row.Locality.name}}</span><span ng-if="row.GeoNames">{{row.GeoNames.countryName+', '+row.GeoNames.adminName1+', '+row.GeoNames.name}}</span></td>	
		
			<td  ng-if="!$stateParams.searchterm || $stateParams.searchterm !== 'mine'" data-title="{{'Rapportør' | translate}}" ><a ng-if="mdMedia('min-width: 768px')" class="cursor-pointer" ng-click="$state.go('userstats', {userid: row.PrimaryUser._id})"><md-tooltip md-direction="left">
          {{row.PrimaryUser.name}}
        </md-tooltip>{{row.PrimaryUser.Initialer}}</a><a ng-if="mdMedia('max-width: 768px')" class="cursor-pointer" ng-click="$state.go('userstats', {userid: row.PrimaryUser._id})"> {{row.PrimaryUser.name}}</a></td>
		
			<td data-title="{{'Databasenummer' | translate}}" ng-if="Auth.isLoggedIn()"><span class="clipboard-copy" data-clipboard-text="{{row.DeterminationView.Taxon_FullName.split(' ').join('-')}}-DMS-{{row._id}}"> DMS-{{row._id}}</span></td>
		
		
				
			
		<td data-title=""><ng-md-icon icon="camera_alt" ng-if="row.Images.length > 0" ng-click="ObservationModalService.show($event, row)"></ng-md-icon> <ng-md-icon icon="forum" ng-if="row.Forum.length > 0" ng-click="ObservationModalService.show($event, row)"></ng-md-icon></td>
		
		
	</tr>

	</tbody>
	<tbody ng-show="!displayed &&  isLoading">
		<tr><td colspan="9" ><div layout="row" layout-align="center center"><md-progress-circular  md-diameter="48"></md-progress-circular></div></td></tr>
		  
	</tbody>	
	<tbody ng-show="displayed && displayed.length===0 &&  !isLoading">
		<tr><td colspan="7" ><div layout="row" layout-align="center center" translate>Ingen data fundet</div></td></tr>
		  
	</tbody>

	<tfoot  ng-show="displayed && !isLoading">
	<tr>
		<td st-pagination=""  st-items-by-page="stItemsPrPage" colspan="9" st-template="app/searchresultlist/pagination.tpl.html">
		</td>
	</tr>
	</tfoot> 
</table>
<md-progress-linear  md-mode="indeterminate" ng-show="displayed && isLoading"></md-progress-linear>
</div>




	<div layout="row" id="footer"  layout-align="space-around center" layout-margin ng-include="'components/footer/footer.html'">
	        
	      </div>	
</md-content>



