<!--<div ng-include="'components/navbar/navbar.html'"></div> -->
<!--<div ng-controller="SearchTabsCtrl" ng-include="'app/searchtabs/searchtabs.html'"></div>-->
<md-toolbar class="searchtabs" ng-controller="SearchTabsCtrl" ng-include="'app/searchtabs/searchtabs.html'" > </md-toolbar>
	
   <md-button class="md-fab md-warn md-fab-bottom-right" aria-label="Tilføj observation" ng-click="ObservationFormService.show($event)" ng-show="Auth.hasRole('validator')">
               <ng-md-icon icon="add"></ng-md-icon>
           </md-button>

<md-content flex md-scroll-y layout-padding ng-cloak>
	   
			   
	<div class="table-responsive-vertical shadow-z-1">


<table  class="table" ng-class="{'table-bordered': mdMedia('min-width: 768px')}"  st-pipe="callServer" st-table="displayed">
	<md-progress-linear  md-mode="indeterminate" ng-show="displayed && isLoading"></md-progress-linear>
	<thead>
		<tr ng-show="displayed && !isLoading">
			<th st-pagination=""  st-items-by-page="stItemsPrPage" colspan="9" st-template="app/searchresultlist/pagination.tpl.html">
			</th>
		</tr>
	<tr>
		<th ></th>
		<th ></th>
		<th st-sort="observationDate" translate>Dato</th>
		
		<th translate>Art</th>
	<!--	<th st-sort="DeterminationView.Taxon_FullName"  translate>Art</th> -->
		<th  translate>Dansk navn</th>
		<!--<th st-sort="DeterminationView.Taxon_vernacularname_dk"  translate>Dansk navn</th> -->
		<th  translate>Lokalitet</th>
		<!--<th st-sort="Locality.name"  translate>Lokalitet</th> -->
		<th translate>Rapportør</th>
		<!--<th st-sort="PrimaryUser.Initialer" >Rapportør</th>-->
		<th st-sort="_id"  translate>Databasenummer</th>
		<th ></th>
		
	</tr>
	</thead>
	<tbody ng-show="displayed.length > 0">
	<tr ng-repeat="row in displayed">
		<td data-title=""><ng-md-icon icon="more_horiz" ng-click="ObservationModalService.show($event, row)"></ng-md-icon> 
			<ng-md-icon icon="edit" ng-if="currentUser._id === row.primaryuser_id" ng-click="ObservationFormService.show($event, row)"></ng-md-icon> </td>
		<td data-title="Status"><md-tooltip md-direction="right" ng-if="mdMedia('min-width: 768px') && row.DeterminationView.Determination_validation !== 'Afvist' && row.DeterminationView.Determination_validation !== 'Godkendt'">
          {{'Dette fund er under godkendelse og bør ikke refereres før det er godkendt' | translate}}
        </md-tooltip>
		<md-tooltip md-direction="right" ng-if="mdMedia('min-width: 768px')  && row.DeterminationView.Determination_validation === 'Afvist'" >
		          {{'Dette fund er på de givne oplysninger afvist da bestemmelsen er for usikker' | translate}}
		        </md-tooltip>
		<ng-md-icon style="fill:red" ng-if="row.DeterminationView.Determination_validation === 'Afvist'" icon="block" ></ng-md-icon>
			<ng-md-icon style="fill:wheat" ng-if="!Auth.hasRole('validator') && row.DeterminationView.Determination_validation !== 'Afvist' && row.DeterminationView.Determination_validation !== 'Godkendt'" icon="error" ></ng-md-icon>
			<ng-md-icon  ng-click="updateValidation(row)" style="fill:wheat" ng-if="Auth.hasRole('validator') && row.DeterminationView.Determination_validation !== 'Afvist' && row.DeterminationView.Determination_validation !== 'Godkendt'" icon="error" ></ng-md-icon>
			
			<ng-md-icon style="fill:green" ng-if="(mdMedia('xs') || Auth.hasRole('validator') ) && row.DeterminationView.Determination_validation === 'Godkendt'" icon="thumb_up" ></ng-md-icon>
		</td>
		<td data-title="{{'Dato' | translate}}">{{(row.observationDateAccuracy === 'day') ? (row.observationDate | date : 'dd/MM/yyyy') : getDate(row.observationDate, row.observationDateAccuracy)}}</td>
		
		<td data-title="{{'Art' | translate}}"><em>{{row.DeterminationView.Taxon_FullName}} <span ng-if="row.DeterminationView.Taxon_RankID < 5001">sp.</span></em><span ng-if="row.DeterminationView.Taxon_redlist_status">({{row.DeterminationView.Taxon_redlist_status}})</span><span ng-if="row.DeterminationView.Taxon_id !== row.DeterminationView.Recorded_as_id" class="md-caption"><br>Indlagt som <em>{{row.DeterminationView.Recorded_as_FullName}}</em></span></td>
		<td data-title="{{'Dansk navn' | translate}}">{{row.DeterminationView.Taxon_vernacularname_dk}}</td>	
		<td data-title="{{'Lokalitet' | translate}}"><span ng-if="row.Locality">{{row.Locality.name}}</span><span ng-if="row.GeoNames">{{row.GeoNames.countryName+', '+row.GeoNames.adminName1+', '+row.GeoNames.name}}</span></td>	
		
			<td data-title="{{'Finder' | translate}}" ><span ng-if="mdMedia('min-width: 768px')"><md-tooltip md-direction="left">
          {{row.PrimaryUser.name}}
        </md-tooltip>{{row.PrimaryUser.Initialer}}</span><span ng-if="mdMedia('max-width: 768px')"> {{row.PrimaryUser.name}}</span></td>
		
			<td data-title="{{'Databasenummer' | translate}}" ng-if="Auth.isLoggedIn()"><span class="clipboard-copy" data-clipboard-text="{{row.DeterminationView.Taxon_FullName.split(' ').join('-')}}-DMS-{{row._id}}"> DMS-{{row._id}}</span></td>
		
		
				
			
		<td data-title=""><ng-md-icon icon="camera_alt" ng-if="row.Images.length > 0" ng-click="ObservationModalService.show($event, row)"></ng-md-icon> <ng-md-icon icon="forum" ng-if="row.Forum.length > 0" ng-click="ObservationModalService.show($event, row)"></ng-md-icon></td>
		
		
	</tr>

	</tbody>
	<tbody ng-show="!displayed &&  isLoading">
		<tr><td colspan="9" ><div layout="row" layout-align="center center"><md-progress-circular  md-diameter="48"></md-progress-circular></div></td></tr>
		  
	</tbody>	
	<tbody ng-show="displayed && displayed.length===0 &&  !isLoading">
		<tr><td colspan="7" ><div layout="row" layout-align="center center" translate>Ingen data fundet</div></td></tr>
		  
	</tbody>

	<tfoot  ng-show="displayed && !isLoading">
	<tr>
		<td st-pagination=""  st-items-by-page="stItemsPrPage" colspan="9" st-template="app/searchresultlist/pagination.tpl.html">
		</td>
	</tr>
	</tfoot> 
</table>
<md-progress-linear  md-mode="indeterminate" ng-show="displayed && isLoading"></md-progress-linear>
</div>




	<div layout="row" id="footer"  layout-align="space-around center" layout-margin ng-include="'components/footer/footer.html'">
	        
	      </div>	
</md-content>



