      <md-toolbar md-scroll-shrink ng-controller="NavbarCtrl" ng-class="{'position-fixed': mdMedia('max-width: 768px') }">
        <div class="md-toolbar-tools">
          <md-button ng-click="openSideNav()" ng-show="!mdSidenav('left').isOpen() && !mdSidenav('left').isLockedOpen()" aria-label="Menu">
            <ng-md-icon icon="menu"></ng-md-icon>
          </md-button>
		  <ng-md-icon icon="{{states[state.current.name].icon}}" ></ng-md-icon>
		  
          <h3 class="inset">
            {{states[state.current.name].name | translate}}
          </h3>
          <span flex></span>

        </div>

      </md-toolbar>