
<md-toolbar class="searchtabs" ng-controller="SearchTabsCtrl" ng-include="'app/searchtabs/searchtabs.html'" > </md-toolbar>
	

		   
   
<md-content flex md-scroll-y layout-padding ng-cloak>
<md-progress-linear  md-mode="indeterminate" ng-show="isLoading !== false"></md-progress-linear>

		 	<span ng-if="storedSearch && mdMedia('xs')">{{'Aktuel søgning:' | translate}} </span>
		   <h4 ng-if="storedSearch"><span ng-if="mdMedia('gt-xs')">{{'Aktuel søgning:' | translate}}</span> {{storedSearch.name}} <span ng-if="Auth.getCurrentUser()._id !== storedSearch.User._id"> - {{'oprettet af' | translate}} {{storedSearch.User.name}}</span><sharing mail-subject="'Søgeresultat fra Danmarks Svampeatlas: '+storedSearch.name " mail-body="baseUrl+'/search/'+storedSearch._id+'/result/gallery/'" sharing-uri="baseUrl+'/search/'+storedSearch._id+'/result/gallery/'"> </sharing></h4>
	 <md-grid-list
	         md-cols-xs="1" md-cols-sm="2" md-cols-md="3" md-cols-gt-md="4"
	        md-row-height="1:1"  md-row-height-gt-sm="3:2"
	         md-gutter="12px" md-gutter-gt-sm="8px" flex>

	 <md-grid-tile ng-repeat="tile in displayed"
                 
	                   md-colspan-sm="1"
					   ng-if="!tile.Images[0].imageLoadError"
					   ng-style="getBackgroundStyle(tile)"
					   ng-click="ObservationModalService.show($event, tile)"
					   
					   >
	 		<div class="progress-container" flex layout-fill layout="center center" ng-if="!tile.Images[0].imageLoadSuccess">
	 			<div flex="33"></div>
	 			<md-progress-circular layout-fill flex="33" md-mode="indeterminate" ></md-progress-circular> 
	 			<div flex="33"></div>
	 		</div>
				<!--<div layout-fill ng-style="{'background-image':  'url({{getImageUrl(tile)}})', 'background-size': 'cover'}"></div> -->
	       <!--<img ng-click="ObservationModalService.show($event, tile)" ng-src="{{getImageUrl(tile)}}"  imageonload="imageHasLoaded(tile.Images[0].name)" imageonerror="imageHasFailed(tile.Images[0].name, tile)" ng-show="loaded[tile.Images[0].name] === true && failed[tile.Images[0].name] !== true"> -->
	       <md-grid-tile-footer class="img-footer"><em>{{tile.DeterminationView.Taxon_FullName}}</em><span ng-if="tile.DeterminationView.Taxon_redlist_status"> ({{tile.DeterminationView.Taxon_redlist_status}})</span><br>
	   <span class="info">{{(tile.observationDateAccuracy === 'day') ? (tile.observationDate | date : 'dd/MM/yyyy') : getDate(tile.observationDate, tile.observationDateAccuracy)}}, {{(tile.Locality) ? tile.Locality.name : ""}}{{(tile.GeoNames) ? (tile.GeoNames.name+", "+ tile.GeoNames.countryName) : ""}}<br>
	   {{tile.PrimaryUser.name}}</span>
	   </md-grid-tile-footer>
	   </md-grid-tile>
	   </md-grid-list>
	   
	   <div layout-row layout-padding>
		   <md-button ng-if="totalCount > offset" ng-click="loadTiles(limit, offset)" layout-fill>{{'Vis flere' | translate}}</md-button>
	   </div>
	   
</md-content>



