
<md-toolbar class="searchtabs" ng-controller="SearchTabsCtrl" ng-include="'app/searchtabs/searchtabs.html'" > </md-toolbar>
	

		   
   
<md-content flex md-scroll-y layout-padding ng-cloak>

		 	<span ng-if="storedSearch && mdMedia('xs')">{{'Aktuel søgning:' | translate}} </span>
		   <h4 ng-if="storedSearch"><span ng-if="mdMedia('gt-xs')">{{'Aktuel søgning:' | translate}}</span> {{storedSearch.name}} <span ng-if="Auth.getCurrentUser()._id !== storedSearch.User._id"> - {{'oprettet af' | translate}} {{storedSearch.User.name}}</span><sharing mail-subject="'Søgeresultat fra Danmarks Svampeatlas: '+storedSearch.name " mail-body="baseUrl+'/search/'+storedSearch._id+'/result/gallery/'" sharing-uri="baseUrl+'/search/'+storedSearch._id+'/result/gallery/'"> </sharing></h4>
	 <md-grid-list
	         md-cols-xs="1" md-cols-sm="2" md-cols-md="3" md-cols-gt-md="4"
	        md-row-height="200px"
	         md-gutter="12px" md-gutter-gt-sm="8px" flex>

	 <md-grid-tile ng-repeat="tile in displayed"
                 		
	                   md-colspan-sm="1"
					   ng-style="getBackgroundStyle(tile)"
					   ng-click="ObservationModalService.show($event, tile)"
					   
					   >

	       <md-grid-tile-footer class="img-footer"><em ng-if="!tile.DeterminationView.Taxon_vernacularname_dk || translate.use()==='en'">{{tile.DeterminationView.Taxon_FullName}}</em><span ng-if="tile.DeterminationView.Taxon_vernacularname_dk && translate.use() !='en'">{{tile.DeterminationView.Taxon_vernacularname_dk | capitalize}}</span><span ng-if="tile.DeterminationView.Taxon_redlist_status"> ({{tile.DeterminationView.Taxon_redlist_status}})</span><br>
	   <span class="info">{{(tile.observationDateAccuracy === 'day') ? (tile.observationDate | date : 'dd/MM/yyyy') : getDate(tile.observationDate, tile.observationDateAccuracy)}}, {{(tile.Locality) ? tile.Locality.name : ""}}{{(tile.GeoNames) ? (tile.GeoNames.name+", "+ tile.GeoNames.countryName) : ""}}<br>
	   {{tile.PrimaryUser.name}}</span>
	   </md-grid-tile-footer>
	   </md-grid-tile>
	   </md-grid-list>
	   
	   <div layout-row layout-padding>
		   <md-button ng-if="totalCount > offset && isLoading === false" ng-click="loadTiles(limit, offset)" layout-fill>{{'Vis flere' | translate}}</md-button>
	   </div>

	 <div layout="row" ng-show="isLoading !== false">
	 	<span flex></span>
		<md-progress-circular  md-mode="indeterminate" ></md-progress-circular>
		<span flex></span>
	 </div>
	   
</md-content>



