<!--<div ng-include="'components/navbar/navbar.html'"></div>-->




      <md-toolbar md-scroll-shrink ng-controller="NavbarCtrl" >
        <div class="md-toolbar-tools">
          <md-button ng-click="openSideNav()" ng-show="!mdSidenav('left').isOpen() && !mdSidenav('left').isLockedOpen()" aria-label="Menu">
            <ng-md-icon icon="menu"></ng-md-icon>
          </md-button>
		 	 
          <span flex></span>
		 <span layout-margin ng-if="mdMedia('gt-xs')"> <h1 class="md-display-1" translate>Danmarks svampeatlas</h1></span>
		   <a href="/"><img class="logo-upper-right" src="assets/images/LogoSmallest.png"></a>
        </div>

      </md-toolbar>	
	
<md-content layout="column" md-scroll-y  flex>
<div layout="row" layout-xs="column" layout-sm="column" flex>
<md-grid-list
        md-cols-xs="1" md-cols-sm="2" md-cols-md="3" md-cols-gt-md="4"
        md-row-height-gt-md="1:1" md-row-height="2:2"
        md-gutter="12px" md-gutter-gt-sm="8px" flex-gt-sm="66">
<md-grid-tile ng-repeat="tile in tiles | limitTo : 12"
                 
                  md-colspan-sm="1"
                  ng-class="tile.background" >
		<div class="progress-container" flex layout-fill layout="center center">
			<div flex="33"></div>
			<md-progress-circular layout-fill flex="33" md-mode="indeterminate" ng-show="loaded[tile.Images[0].name] !== true"></md-progress-circular> 
			<div flex="33"></div>
		</div>
      <img ng-src="{{getImageUrl(tile)}}" imageonload="imageHasLoaded(tile.Images[0].name)" imageonload="imageHasLoaded(tile.Images[0].name)" imageonerror="imageHasFailed(tile.Images[0].name)" ng-show="loaded[tile.Images[0].name] === true && failed[tile.Images[0].name] !== true"> 
      <md-grid-tile-footer ><em>{{tile.DeterminationView.Taxon_FullName}}</em><span ng-if="tile.DeterminationView.Taxon_redlist_status"> ({{tile.DeterminationView.Taxon_redlist_status}})</span><br>
  <span class="info">{{(tile.observationDateAccuracy === 'day') ? (tile.observationDate | date : 'dd/MM/yyyy') : getDate(tile.observationDate, tile.observationDateAccuracy)}}, {{tile.Locality.name}}<br>
  {{tile.PrimaryUser.name}}</span>
  </md-grid-tile-footer>
  </md-grid-tile>
  </md-grid-list>
  
 
   <md-whiteframe class="md-whiteframe-12dp newsfeed" flex-gt-sm="33" layout>
    <md-list layout-fill layout-padding>
      <md-subheader class="md-no-sticky">Nyheder fra svampeatlas</md-subheader>
      <md-list-item class="md-3-line md-long-text" ng-repeat="item in news | limitTo : 5">
       
        <div class="md-list-item-text" layout="column">
          <h3>{{ item.title.$t }}</h3>
          <h4>{{ item.published.$t | date : 'dd/MM/yyyy'}}, {{item.author[0].name.$t}}</h4>
          <p ng-bind-html='item.content.$t | limitHtml: 100'></p><a ng-click='showNews($event, item)'>Læs mere</a>
		 
        </div>
		 <img ng-if="item.media$thumbnail" ng-src="{{item.media$thumbnail.url}}"  alt="{{item.media$thumbnail.url}}" />
		 
      </md-list-item>
     
    </md-list>
	 </md-whiteframe >
	 
	</div>
	
	
	</md-content> 

	
	        
	      </div>
	  
<!--<header class="hero-unit" id="banner" >
  <div class="container">
    <h1 translate>Danmarks svampeatlas</h1>
    <p translate class="lead">internetstedet hvor du kan deltage i kortlægningen af Danmarks svampe</p>
    <img src="assets/images/mycena_crop.jpg" class="img-circle" width="200" height="200" alt="Mycena">
  </div>
</header>-->

<!--<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Features:</h1>
      <ul class="nav nav-tabs nav-stacked col-md-4 col-lg-4 col-sm-6" ng-repeat="thing in awesomeThings">
        <li><a href="#" tooltip="{{thing.info}}">{{thing.name}}<button type="button" class="close" ng-click="deleteThing(thing)">&times;</button></a></li>
      </ul>
    </div>
  </div>

  <form class="thing-form">
    <label>Syncs in realtime across clients</label>
    <p class="input-group">
      <input type="text" class="form-control" placeholder="Add a new thing here." ng-model="newThing">
      <span class="input-group-btn">
        <button type="submit" class="btn btn-primary" ng-click="addThing()">Add New</button>
      </span>
    </p>
  </form>
</div> -->

<!-- <div ng-include="'components/footer/footer.html'"></div> -->
