<md-button ng-if="Auth.isLoggedIn()" ng-click="ObservationFormService.show()" class="md-raised md-primary"><ng-md-icon icon="add"></ng-md-icon> <span translate>Nyt fund</span></md-button>
<md-button ng-if="!Auth.isLoggedIn()" ng-click="showLogin()" class="md-raised md-primary"><ng-md-icon icon="login"></ng-md-icon> <span translate>Login</span></md-button>
<md-button ng-click="$state.go('search')" class="md-raised md-primary"><ng-md-icon icon="search"></ng-md-icon> <span translate>Søg fund</span></md-button>
<div ng-if="mdMedia('xs')"><div layout flex><md-button flex=85 ng-click="locateAndGoToSpeciesList()" class="md-raised md-primary"><ng-md-icon icon="location_on"></ng-md-icon> <span translate>Hvad findes her?</span></md-button>
    <md-menu md-position-mode="target-right target" flex=15>
      <md-button aria-label="Open geo settings" class="md-icon-button" ng-click="openMenu($mdOpenMenu, $event)">
        <ng-md-icon icon="settings"></ng-md-icon>
      </md-button>
      <md-menu-content width="6">
        <md-menu-item>
   
	  	      <md-switch ng-model="$parent.$parent.$parent.redListOnly">{{'Kun rødlistede' | translate}}
	  	      </md-switch>
        </md-menu-item>
        <md-menu-divider></md-menu-divider>
        <md-menu-item>

	  	      
	        <md-slider flex md-discrete ng-model="$parent.$parent.$parent.$parent.positionRadius" step="1" min="50" max="2500" aria-label="Radius">
	        </md-slider> <span flex=30>M (Radius)</span>
        </md-menu-item>
        <md-menu-divider></md-menu-divider>
        <md-menu-item>
		<md-radio-group ng-model="$parent.$parent.$parent.$parent.timePeriod" layout="row">
		      <md-radio-button value="all">{{'Altid'| translate}}</md-radio-button>
		      <md-radio-button value="year">{{'I år' | translate}}</md-radio-button>
		      <md-radio-button value="twoWeeks">{{'Seneste to uger' | translate}}</md-radio-button>
		    </md-radio-group>
		 </md-menu-item>
      </md-menu-content>
    </md-menu>
	
</div>
<md-subheader  ng-if="geoLocationStatusMessage" ng-bind-html="geoLocationStatusMessage"></md-subheader>	
</div>

