<div class="image-header" ng-style="getHeaderImgBackgroundStyle()" >
	    
	
		
	<div class="main-page-header" layout="column" layout-align="end">
		
		<h1 class="md-display-3" translate>Danmarks svampeatlas</h1>
		<div layout="row">
			<p class="md-subhead main-tagline" translate>Søg viden om Danmarks vilde svampe og bidrag med dine egne fund</p>
	
	</div>
		
		<div layout="row" layout-align="space-between center">
			<div ng-click="openSideMenu(); $state.go('search')" class="cursor-pointer">
			<h2 ng-bind="observationCount | localNumber">650.000</h2>
			<h3 translate>svampefund</h3>
		</div>
			<div ng-click="openSideMenu(); $state.go('checklist')" class="cursor-pointer">
			<h2 ng-bind="speciesCount | localNumber">7100</h2>
			<h3>{{($parent.preferred_language ==='en') ? 'danish ': ''}}{{'arter af svampe' | translate}}</h3>
		</div>
			<div ng-click="openSideMenu(); $state.go('search-gallery')" class="cursor-pointer">
			<h2 ng-bind="imageCount | localNumber">90.000</h2>
			<h3 translate>svampebilleder</h3>
		</div>
			<div>
			<h2 ng-bind="userCount | localNumber">1700</h2>
			<h3 translate>rapportører</h3>
		</div>
		</div>
	</div>
	
</div>
<div>
<div class="main-content" layout="row" layout-xs="column" layout-sm="column" flex>
<div layout="column" flex-gt-sm="66">
	<h3 ng-if="Auth.isLoggedIn()" class="validation-needed-sub-header">{{'Fund til validering' | translate }} </h3>
<md-whiteframe class="md-whiteframe-3dp newsfeed" ng-if="Auth.isLoggedIn()">

<div flex layout-fill layout="center center" ng-if="validationTilesLoading"><md-progress-linear></md-progress-linear></div>
<div layout="row" >
	<span ng-if="validationNeededtiles && validationNeededtiles.length ===0" class="validation-needed-sub-header">{{'Ingen data fundet' | translate}}</span>

	<md-button class="md-fab md-mini caroussel-nav-left" aria-label="Back" ng-click="pageBackward()" ng-show="validationTileOffset > 0">
	          <ng-md-icon icon="chevron_left"></ng-md-icon>
	        </md-button>
<md-grid-list
         md-cols="{{validationTileLimit}}"
        md-row-height="200px"
        md-gutter="12px" md-gutter-gt-sm="8px" flex>

<md-grid-tile ng-repeat="tile in validationNeededtiles | limitTo : validationTileLimit : validationTileOffset"
                 
                  md-colspan-sm="1"
                  
			   
			   ng-style="getBackgroundStyle(tile)"
			   ng-click="ObservationModalService.show($event, tile)"
				  >

     
      <md-grid-tile-footer class="img-footer footer-full-width" >
	  <span  class="footer-img-count star-rating"><ng-md-icon size="12" icon="star" ng-if="tile.DeterminationView.Determination_score >= 0"></ng-md-icon><ng-md-icon size="12" icon="star" ng-if="tile.DeterminationView.Determination_score >= ProbableDeterminationScore"></ng-md-icon><ng-md-icon size="12" icon="star" ng-if="tile.DeterminationView.Determination_score >= AcceptedDeterminationScore"></ng-md-icon></span>
	  <em ng-if="!tile.DeterminationView.Taxon_vernacularname_dk || translate.use()==='en'">{{tile.DeterminationView.Taxon_FullName}}</em><span ng-if="tile.DeterminationView.Taxon_vernacularname_dk && translate.use() !='en'">{{tile.DeterminationView.Taxon_vernacularname_dk | capitalize}}</span><span ng-if="tile.DeterminationView.Taxon_redlist_status"> ({{tile.DeterminationView.Taxon_redlist_status}})</span><br>
  <span class="info">{{(tile.observationDateAccuracy === 'day') ? (tile.observationDate | date : 'dd/MM/yyyy') : getDate(tile.observationDate, tile.observationDateAccuracy)}}, {{tile.Locality.name}}<br>
  {{tile.PrimaryUser.name}}</span>
  </md-grid-tile-footer>
  </md-grid-tile>
  </md-grid-list>
	<md-button class="md-fab md-mini caroussel-nav-right" aria-label="Forward" ng-click="pageForward()" ng-show="validationNeededtiles.length  > (validationTileOffset+validationTileLimit)">
	          <ng-md-icon icon="chevron_right"></ng-md-icon>
	        </md-button>

</div>
<div layout="row" layout-margin class="m-left-24">
<div>
<md-chips ng-model="selectedMorphoGroup" md-autocomplete-snap
              md-require-match="true" ng-if="!useLichenFilter">
      <md-autocomplete
          md-selected-item="selectedItem"
          md-search-text="searchText"
          md-items="mg in findMorphoGroup(searchText)"
          md-item-text="mg.name_dk"
          placeholder="{{translate.instant('Filtrér til artsgruppe(r)')}}">
        <span md-highlight-text="searchText">{{mg.name_dk}}</span>
      </md-autocomplete>
      <md-chip-template>
        <span>
          <strong>{{$chip.name_dk}}</strong>
         
        </span>
      </md-chip-template>
    </md-chips>
	<md-button ng-if="selectedMorphoGroupChanged" ng-click="loadValidationTiles()">{{'Opdatér' | translate}}</md-button>
</div><div flex></div><div layout-align="end bottom"><a href="" ng-href="/search/result/gallery/needsvalidation">{{'Se alle til validering' | translate}}...</a></div>
</div>
		 <!--   <md-input-container >
		           <label>{{'MorphoGroups' | translate}}</label>
		           <md-select name="MorphoGroups" ng-model="selectedMorphoGroup" multiple>

   				             <md-option ng-repeat="mg in morphoGroup"  value="{{mg._id}}" >
   				               {{mg.name_dk}} 
   				             </md-option>
 

		           </md-select>
				    </md-input-container > -->
</md-whiteframe>
<h3 class="validation-needed-sub-header">{{'Seneste aktivitet' | translate }}</h3>
<md-whiteframe class="md-whiteframe-3dp newsfeed" >

<md-grid-list
        md-cols-xs="1" md-cols-sm="2" md-cols-md="3" md-cols-gt-md="4"
        md-row-height="200px"
        md-gutter="12px" md-gutter-gt-sm="8px" >
<md-grid-tile md-colspan="2" md-colspan-xs="1" md-rowspan="2" ><leaflet id="frontpagemap" width="100%" height="400px" center="mapsettings.center" defaults="mapsettings.defaults" markers="mapsettings.markers" paths="mapsettings.paths"  ></leaflet>
     <md-grid-tile-footer class="map-footer" >
	 <md-radio-group ng-model="latestlocalitydays" layout="row" ng-change="getLatestLocalities(latestlocalitydays)">
	       <md-radio-button value="1" >{{'Fund i dag' | translate}}</md-radio-button>
	       <md-radio-button value="3">{{'Seneste 3 dage' | translate}} </md-radio-button>
	       <md-radio-button value="7">{{'Seneste uge' | translate}}</md-radio-button>
	     </md-radio-group>
	 
 </md-grid-tile-footer>     
</md-grid-tile>
<md-grid-tile ng-repeat="tile in tiles | limitTo : 12"
                 
                  md-colspan-sm="1"
                  
			   ng-if="!tile.Images[0].imageLoadError"
			   ng-style="getBackgroundStyle(tile)"
			   ng-click="ObservationModalService.show($event, tile)"
				  >

      <md-grid-tile-footer class="img-footer footer-full-width" >
	  <span class="footer-img-count star-rating">
	  <ng-md-icon icon="microscope" size="18" ng-if="tile.DeterminationView.Determination_validation === 'Godkendt'"></ng-md-icon>
	  <span  class="star-rating" ng-if="tile.DeterminationView.Determination_validation !== 'Godkendt' "><ng-md-icon size="12" icon="star" ng-if="tile.DeterminationView.Determination_score >= 0"></ng-md-icon><ng-md-icon size="12" icon="star" ng-if="tile.DeterminationView.Determination_score >= ProbableDeterminationScore"></ng-md-icon><ng-md-icon size="12" icon="star" ng-if="tile.DeterminationView.Determination_score >= AcceptedDeterminationScore"></ng-md-icon></span></span>
	  <em ng-if="!tile.DeterminationView.Taxon_vernacularname_dk || translate.use()==='en'">{{tile.DeterminationView.Taxon_FullName}}</em><span ng-if="tile.DeterminationView.Taxon_vernacularname_dk && translate.use() !='en'">{{tile.DeterminationView.Taxon_vernacularname_dk | capitalize}}</span><span ng-if="tile.DeterminationView.Taxon_redlist_status"> ({{tile.DeterminationView.Taxon_redlist_status}})</span><br>
  <span class="info">{{(tile.observationDateAccuracy === 'day') ? (tile.observationDate | date : 'dd/MM/yyyy') : getDate(tile.observationDate, tile.observationDateAccuracy)}}, {{tile.Locality.name}}<br>
  {{tile.PrimaryUser.name}}</span>
  </md-grid-tile-footer>
  </md-grid-tile>
  </md-grid-list>
  </md-whiteframe>
</div>
 <div layout="column" flex-gt-sm="33" layout ng-if="mdMedia('gt-sm')" >

    <h3 class="validation-needed-sub-header">{{'Nyheder fra svampeatlas' | translate }}</h3>
   <md-whiteframe class="md-whiteframe-3dp newsfeed" >
 
    <md-list layout-fill layout-padding>
	
      
      <md-list-item class="md-3-line md-long-text" ng-repeat="item in news | limitTo : 5">
       
        <div class="md-list-item-text" layout="column">
          <h3 ng-bind-html='item.title.$t | limitHtml: 40'></h3>
          <h4>{{ item.published.$t | date : 'dd/MM/yyyy'}}, {{item.author[0].name.$t}}</h4>
          <p ng-bind-html='item.content.$t | limitHtml: 100'></p><a ng-click='showNews($event, item)'>Læs mere</a>
		 
        </div>
		 <img ng-if="item.media$thumbnail" ng-src="{{item.media$thumbnail.url}}"  alt="{{item.media$thumbnail.url}}" >
		 
      </md-list-item>
     
    </md-list>
	 </md-whiteframe >

	 </div>
	 



	</div>
</div>
<div class="footer-wrapper" ng-include="'app/main/footer.tpl.html'">

</div>