

.footer {
    text-align: center;
    padding: 30px 0;
    margin-top: 70px;
    border-top: 1px solid #E5E5E5;
}

md-grid-list {
  margin: 8px; }
.gray {
  background: #f5f5f5; }
.green {
  background: #b9f6ca; }
.yellow {
  background: #ffff8d; }
.blue {
  background: #84ffff; }
.purple {
  background: #b388ff; }
.red {
  background: #ff8a80; }
md-grid-tile {
  transition: all 400ms ease-out 50ms; 
	overflow: hidden;
	
}
md-grid-tile-footer {
  transition: all 400ms ease-out 50ms; 
	overflow: hidden;
}
md-grid-tile > figure > div.progress-container {
    width: 100% !important;
    height: auto !important;
}  
md-grid-tile > figure > img {
    width: 150%;
    height: auto;
display: block;
} 

md-grid-tile-footer.img-footer > figcaption   {
	font-size : 12px;
	height: 60px !important; 
}

md-grid-tile-footer.map-footer    {
	background-color: rgb(96,125,139);
	
}

md-grid-tile-footer > figcaption {
	padding: 5px;
}

md-list-item > img {
  margin-left: 10px;
}

.newsfeed {
	margin: 8px;
}

.leaflet-top {
	z-index: 1 !important;
}

.leaflet-bottom {
	z-index: 1 !important;
}


#frontpagemap {
	min-width: 500px;
}

.caroussel-nav-left {
    top: 75px;
    right: -35px;
    bottom: auto;
    left: auto;
    position: relative;
	margin-left: -30px;
}

.caroussel-nav-right {
    top: 75px;
    left: -35px !important;
    bottom: auto;
    left: auto;
    position: relative;
	margin-right: -30px;
}

.validation-needed-sub-header {
    display: block;
    font-size: 24px;
    font-weight: 500;
    line-height: 1em;
    margin-top: 10px;
	margin-left: 10px;
    position: relative;
	color: rgb(96,125,139);
}

.news-subheader {
	margin-bottom: 14px;
}

.m-left-24 {
	margin-left: 24px !important;
}

.m-left-4 {
	margin-left: 4px !important;
}

.m-t-0 {
	margin-top: 0px !important;
}

md-badge{
  margin: 0 0 0 -8px;
  background-color: red;
  color: white;
  padding: 2px 4px;
  border-radius: 25%;
}

.feed-button {
	min-width: 0px !important; 
}
@media screen and  (min-width: 600px) {
.image-header {
	height: 400px;
	width: 100%;
	
	
}
}



.main-page-header {
	color: white;
}
.main-page-header {
	background-image: linear-gradient(to bottom,rgba(0,0,0,0),rgba(0,0,0,0.3));
	
	padding-left: 60px;
	padding-right: 60px;
	padding-top: 60px;
	height: 100%;
}

@media screen and  (max-width: 599px) {
	.image-header {
		height: 200px;
		width: 100%;
	
	
	}
}

@media screen and  (max-width: 599px) {
	.main-page-header {
		padding-left: 25px;
		padding-top: 0px;
	}
}

.main-page-header > div > div > h3 {
	margin-top: 0px !important;
}
.main-page-header > div > div > h2 {
	margin-bottom: 0px !important;
}
.main-page-header > div  {
	margin-top: 0px !important;
}
.main-tagline { 
	max-width: 400px; 
}

@media screen and  (max-width: 599px) {
	.main-tagline { 
		max-width: 280px; 
	}
}

md-menu-bar md-menu.md-open>button {
	background-color: rgb(96,125,139) !important;
}

md-menu-bar {
	margin-bottom: -22px;
}

.main-content {
	padding-top: 30px;
	padding-left: 50px;
	padding-right: 50px;
}

.homepage-horisontal-menu {
	padding-left : 0px !important;
}

.cursor-pointer {
	cursor: pointer;

}

.footer-wrapper {
	margin-top: 40px;
}

.footer-partner {
	margin-top: 12px;
}

.mobile-footer {
	max-height : 60px;
	background-color: rgb(250,250,250);
	padding-bottom: 10px;
}

.main-mobile-button {
	min-height: 48px;
	text-align: left;
	padding-left: 50px;
}


