<div layout="row" layout-xs="column" layout-sm="column" flex>
<md-grid-list
        md-cols-xs="1" md-cols-sm="2" md-cols-md="3" md-cols-gt-md="4"
        md-row-height="200px"
        md-gutter="12px" md-gutter-gt-sm="8px" flex-gt-sm="66">
<md-grid-tile md-colspan="2" md-colspan-xs="1" md-rowspan="2" ><leaflet id="frontpagemap" width="100%" height="400px" center="mapsettings.center" defaults="mapsettings.defaults" markers="mapsettings.markers" ></leaflet>
     <md-grid-tile-footer class="map-footer" >
	 <md-radio-group ng-model="latestlocalitydays" layout="row" ng-change="getLatestLocalities(latestlocalitydays)">
	       <md-radio-button value="1" >Fund i dag</md-radio-button>
	       <md-radio-button value="3">Seneste 3 dage </md-radio-button>
	       <md-radio-button value="7">Seneste uge</md-radio-button>
	     </md-radio-group>
	 
 </md-grid-tile-footer>     
</md-grid-tile>
<md-grid-tile ng-repeat="tile in tiles | limitTo : 12"
                 
                  md-colspan-sm="1"
                  
			   ng-if="!tile.Images[0].imageLoadError"
			   ng-style="getBackgroundStyle(tile)"
			   ng-click="ObservationModalService.show($event, tile)"
				  >
		<div class="progress-container" flex layout-fill layout="center center" ng-if="!tile.Images[0].imageLoadSuccess">
			<div flex="33"></div>
			<md-progress-circular layout-fill flex="33" md-mode="indeterminate" ></md-progress-circular> 
			<div flex="33"></div>
		</div>
    <!--  <img ng-click="ObservationModalService.show($event, tile)" ng-src="{{getImageUrl(tile)}}" imageonload="imageHasLoaded(tile.Images[0].name)" imageonload="imageHasLoaded(tile.Images[0].name)" imageonerror="imageHasFailed(tile.Images[0].name)" ng-show="loaded[tile.Images[0].name] === true && failed[tile.Images[0].name] !== true"> -->
      <md-grid-tile-footer class="img-footer"><em>{{tile.DeterminationView.Taxon_FullName}}</em><span ng-if="tile.DeterminationView.Taxon_redlist_status"> ({{tile.DeterminationView.Taxon_redlist_status}})</span><br>
  <span class="info">{{(tile.observationDateAccuracy === 'day') ? (tile.observationDate | date : 'dd/MM/yyyy') : getDate(tile.observationDate, tile.observationDateAccuracy)}}, {{tile.Locality.name}}<br>
  {{tile.PrimaryUser.name}}</span>
  </md-grid-tile-footer>
  </md-grid-tile>
  </md-grid-list>
  
 <div layout="column" flex-gt-sm="33" layout ng-if="mdMedia('gt-sm')">

   <md-whiteframe class="md-whiteframe-5dp newsfeed" >
 
 <md-subheader class="md-no-sticky">Samarbejdspartnere</md-subheader>
   <div flex layout="row" layout-align="space-around center" >
    

       <img src="assets/images/logo.png" height="60" alt="Svampeforeningen">
    
      <img src="assets/images/avj_w_text.jpg"  height="30" alt="Aage v. Jensen naturfond">
     
    
       <img src="assets/images/ku_logo_dk_v.png" height="60" alt="Københavns universitet">
 
   </div>
  <md-divider layout-margin layout-padding></md-divider>
    <md-list layout-fill layout-padding>
      <md-subheader class="md-no-sticky">Nyheder fra svampeatlas</md-subheader>
      <md-list-item class="md-3-line md-long-text" ng-repeat="item in news | limitTo : 5">
       
        <div class="md-list-item-text" layout="column">
          <h3 ng-bind-html='item.title.$t | limitHtml: 40'></h3>
          <h4>{{ item.published.$t | date : 'dd/MM/yyyy'}}, {{item.author[0].name.$t}}</h4>
          <p ng-bind-html='item.content.$t | limitHtml: 100'></p><a ng-click='showNews($event, item)'>Læs mere</a>
		 
        </div>
		 <img ng-if="item.media$thumbnail" ng-src="{{item.media$thumbnail.url}}"  alt="{{item.media$thumbnail.url}}" />
		 
      </md-list-item>
     
    </md-list>
	 </md-whiteframe >
	 </div>
	</div>