
.drop-box {
    background: #F8F8F8;
    border: 5px dashed #DDD;
   	height: 80px;
    text-align: center;
    padding: 50px 10px;

}

.img-preview {
	padding: 0 !important;
}

.valideringsrapport {
	margin-bottom: 18px !important;
	background-color: wheat; 
}

#position-button {
	z-index: 10000;
}

md-autocomplete.taxon-autocomplete {
	min-width: 300px !important;
}

i.hide-icon {
	top: 3px;
	position: relative;
}

md-grid-tile-footer.obs-form-image {
	background-color: rgba(0, 0, 0, 0) !important;
}

.dragover {
    border: 5px dashed rgb(255,64,129);
}

 .autocomplete-custom-template li {
  border-bottom: 1px solid #ccc;
  height: auto;
  padding-top: 8px;
  padding-bottom: 8px;
  white-space: normal; 
  min-height: 60px;}
.autocomplete-custom-template li:last-child {
  border-bottom-width: 0; }
.autocomplete-custom-template .item-title,
.autocomplete-custom-template .item-metadata {
  display: block;
  line-height: 2; }
 .autocomplete-custom-template .item-metadata {
	 font-size: 10px;
	 
 }
 .autocomplete-custom-template  .item-emphasis {
	font-style: italic;
 }
 
 .autocomplete-custom-template  .item-author {
	 font-size:10px;
 }
 

 
.autocomplete-custom-template .item-title md-icon {
  height: 18px;
  width: 18px; }
  
  
  .new-obs-tabs-wrapper {
      position: relative;
  }
  
md-tabs.observationform-tabs {
min-height: 92vh !important;
	
} 

md-tabs.observationform-tabs > md-tabs-wrapper {
	background-color: rgb(96,125,139); 	
	border-width: 0px !important;
	} 
md-tabs.observationform-tabs .md-tab.md-active {
	color: rgb(255,255,255); 
}

md-tabs.observationform-tabs .md-tab {
	color: rgb(207,216,220);
	
}












	
	
	
	

  

  
