        <form name="observationForm">
			<div layout="row">
  			  <div layout="column" ng-if="obs" class="inset" layout-fill>
  	            <span class="md-headline" ng-if="obs.PrimaryDetermination.Taxon.acceptedTaxon.Vernacularname_DK">{{obs.PrimaryDetermination.Taxon.acceptedTaxon.Vernacularname_DK.vernacularname_dk | capitalize}} </span>
  				<span ng-class="(obs.PrimaryDetermination.Taxon.acceptedTaxon.Vernacularname_DK) ? 'md-subhead':'md-headline'"><em>{{obs.PrimaryDetermination.Taxon.acceptedTaxon.FullName}}</em> {{obs.PrimaryDetermination.Taxon.acceptedTaxon.Author}}</span>
  	  		  <span ng-if="obs.PrimaryDetermination.Taxon.acceptedTaxon._id !== obs.PrimaryDetermination.Taxon._id" class="md-subheader">Indlagt som <em>{{obs.PrimaryDetermination.Taxon.FullName}}</em> {{obs.PrimaryDetermination.Taxon.Author}}</span>
  	  		  <span ng-if="obs.PrimaryDetermination.validation !== 'Godkendt' && obs.PrimaryDetermination.validation !== 'Afvist'">{{'Dette fund er under godkendelse og bør ikke refereres før det er godkendt' | translate}}</span>
  	  		  <span ng-if="obs.PrimaryDetermination.validation === 'Afvist'">{{'Dette fund er på de givne oplysninger afvist da bestemmelsen er for usikker' | translate}}</span>
  		  </div>
		  <div class="validator-button-container" ng-if="obs && Auth.hasRole('validator')" ng-include="'app/observationmodal/validatorbutton.tpl.html'"></div>
		  </div>
			
			<div ng-if="!obs">
	 		<div  layout-margin layout-gt-xs="row">
	        <md-chips md-max-chips=1 ng-model="newTaxon" md-autocomplete-snap md-require-match="true" class="md-block" flex-gt-xs>

	          <md-autocomplete
	    	  	md-min-length="3"
	    		md-no-cache="true"
	              md-selected-item="selectedItem"
	              md-search-text="searchText"
	              md-items="item in querySearch(searchText)"
	              md-item-text="item.FullName"
	              placeholder="{{(newTaxon.length ===0) ? $translate.instant('Skriv art')  : ''}}"
	 			 ng-disabled="newTaxon.length >0"
	 			flex class="taxon-autocomplete">
	            <span md-highlight-text="searchText" ng-if="!$parent.DkNames">{{($parent.onlyHigherTaxa) ? item.FullName +' sp.' : item.FullName}}</span>
				<span md-highlight-text="searchText" ng-if="$parent.DkNames">{{($parent.onlyHigherTaxa) ? 'Art af ' +item.Vernacularname_DK.vernacularname_dk : item.Vernacularname_DK.vernacularname_dk}}</span>
	          </md-autocomplete>
	          <md-chip-template>
	            <span ng-if="!$parent.onlyHigherTaxa">
	 			   <strong ng-if="$chip.Vernacularname_DK">{{$chip.Vernacularname_DK.vernacularname_dk | capitalize}} (</strong>
	              <strong><em>{{$chip.FullName}}</em> {{$chip.Author}}</strong>
				  <strong ng-if="$chip.Vernacularname_DK">)</strong>
	            </span>
	            <span ng-if="$parent.onlyHigherTaxa">
	 			   <strong ng-if="$chip.Vernacularname_DK">Art af {{$chip.Vernacularname_DK.vernacularname_dk}} (</strong>
	              <strong><em>{{$chip.FullName}} sp.</em></strong>
				  <strong ng-if="$chip.Vernacularname_DK">)</strong>
	            </span>
	          </md-chip-template>
		
	        </md-chips>
			<md-button class="md-raised md-warn" ng-click="handleUndetermined()" ng-if="newTaxon.length === 0">Ubestemt svamp</md-button>
	 	      </div>
		 		  <div layout="row" layout-margin>
				   	<md-switch ng-model="$parent.$parent.$parent.DkNames" aria-label="Søg danske navne" ng-show="newTaxon.length ===0">
				   	    {{'Danske navne' | translate}}
				   	  </md-switch>
  		 	   <md-switch ng-model="$parent.$parent.$parent.threePlusThree" aria-label="threePlusThree" ng-show="!$parent.$parent.$parent.onlyHigherTaxa && !$parent.$parent.$parent.DkNames && newTaxon.length ===0">
  		 	       {{'3+3' | translate}}
  		 	     </md-switch>
		 	 </div>
			 <div layout="row" layout-margin>
  		 	   
  		 	   <md-switch ng-model="$parent.$parent.$parent.onlyHigherTaxa" aria-label="Højere taxa" ng-show="newTaxon.length ===0">
  		 	       {{'Søg i slægter, familier, ordener osv.' | translate}}
  		 	     </md-switch>
				 
			 </div>
			 <md-whiteframe class="md-whiteframe-2dp valideringsrapport" layout layout-align="center center" layout-padding layout-margin ng-if="taxonAttrs && taxonAttrs.valideringsrapport">
			     <span>{{taxonAttrs.valideringsrapport}}</span>
			   </md-whiteframe>
			 </div>
			  <div layout-margin layout-gt-xs="row" >
				  <md-chips ng-model="selectedLocality" md-autocomplete-snap md-require-match="true" class="md-block" ng-if="!foreignLocality" flex-gt-xs>

				    <md-autocomplete
					
				        md-selected-item="selectedItem"
				        md-search-text="searchText"
				        md-items="item in querySearchLocality(searchText)"
				        md-item-text="item.name"
				        placeholder="Lokalitet"
						ng-disabled="selectedLocality.length > 0">
				      <span md-highlight-text="searchText">{{item.name}}</span>
				    </md-autocomplete>
				    <md-chip-template>
				      <span>
				        <strong>{{$chip.name}}</strong>

				      </span>
				    </md-chip-template>
	
				  </md-chips>
				<md-input-container ng-if="foreignLocality" class="md-block" flex-gt-xs>
				            <label>{{'Lokalitet' | translate}}</label>
				            <input ng-model="foreignLocalityString" disabled>
				          </md-input-container>
						  
			              <md-datepicker ng-model="$parent.$parent.observationDate" md-placeholder="{{'Dato' | translate}}" md-max-date="$parent.$parent.maxDate">
			              </md-datepicker>
			  </div> 
			   <div layout-margin layout="row">
				   <md-input-container>
				           <label>{{'Substrat' | translate}}</label>
				           <md-select name="substrate" ng-model="$parent.$parent.selectedSubstrate" required>
				             <md-option ng-repeat="sub in substrates" value="{{sub._id}}" >
				               {{($translate.use() === 'en') ? sub.name_uk : sub.name}}
				             </md-option>
				           </md-select>
						   <div class="errors" ng-messages="observationForm.substrate.$error" ng-if="observationForm.$dirty && observationForm.substrate.$touched && !$parent.selectedSubstrate">
						           <div ng-message="required">{{'Obligatorisk' | translate}}</div>
						         </div>
				         </md-input-container>
	 				   <md-input-container>
	 				           <label>{{'Vegetationstype' | translate}}</label>
	 				           <md-select ng-model="$parent.$parent.selectedVegetationType" name="vegetationType">
	 				             <md-option ng-repeat="veg in vegetationtypes" value="{{veg._id}}" >
								  {{($translate.use() === 'en') ? veg.name_uk : veg.name}}
	 				              
	 				             </md-option>
	 				           </md-select>
							   <div class="errors" ng-messages="observationForm.vegetationType.$error" ng-if="observationForm.$dirty && observationForm.vegetationType.$touched && !$parent.selectedVegetationType">
							           <div ng-message="required">{{'Obligatorisk' | translate}}</div>
							         </div>
	 				         </md-input-container>
			   </div>
			   <div layout-margin layout="row">
 				  <md-chips ng-model="associatedOrganism" md-autocomplete-snap md-require-match="true" class="md-block"  flex-gt-xs>

 				    <md-autocomplete
 					
					
 				        md-selected-item="selectedItem"
 				        md-search-text="searchText"
 				        md-items="item in querySearchPlantTaxon(searchText)"
 				        md-item-text="item.DKandLatinName"
 				        placeholder="{{'Skriv vært' | translate }}"
 						>
 				      <span md-highlight-text="searchText">{{item.DKandLatinName}}</span>
 				    </md-autocomplete>
 				    <md-chip-template>
 				      <span>
 				        <strong>{{$chip.DKandLatinName}}</strong>

 				      </span>
 				    </md-chip-template>
	
 				  </md-chips>
 			
			   	
			  </div>
				  <div layout-margin layout="column">
 			  <!-- 	<md-switch ng-model="$parent.$parent.$parent.extendedAssociatedOrganismSearch" aria-label="Udvidet søgning" >
 			   	    Udvidet værtssøgning
 			   	  </md-switch> -->
 				  <md-chips ng-model="associatedOrganismImport" md-autocomplete-snap md-require-match="true" class="md-block" ng-if="extendedAssociatedOrganismSearch" flex-gt-xs>

 				    <md-autocomplete
 					md-no-cache="true"
					md-min-length="3"
 				        md-selected-item="selectedItem"
 				        md-search-text="searchText"
 				        md-items="item in querySearchGBIFPlantTaxon(searchText)"
 				        md-item-text="item.canonicalName"
 				        placeholder="{{'Udvidet værtssøgning' | translate }}"
 						>
 				      <span md-highlight-text="searchText">{{item.canonicalName}} ({{item.rank}})</span>
 				    </md-autocomplete>
 				    <md-chip-template>
 				      <span>
 				        <strong>{{$chip.canonicalName}} ({{$chip.rank}})</strong>

 				      </span>
 				    </md-chip-template>
	
 				  </md-chips>
				 
			   </div>
			   <div layout-margin layout="column">
				   <md-input-container class="md-block">
				             <label>{{'Økologi-kommentarer' | translate}}</label>
				             <textarea ng-model="$parent.$parent.ecologynote" md-maxlength="800" rows="5" md-select-on-focus></textarea>
				           </md-input-container>
			   </div>
 			   <div layout-margin layout="row">
  				  <md-chips ng-model="users" md-autocomplete-snap md-require-match="true" class="md-block"  flex-gt-xs>

  				    <md-autocomplete
 					
					
  				        md-selected-item="selectedItem"
  				        md-search-text="searchText"
  				        md-items="item in querySearchUser(searchText)"
  				        md-item-text="item.name"
  				        placeholder="{{'Tilføj finder(e)' | translate}}"
  						>
  				      <span md-highlight-text="searchText">{{item.name}} ({{item.Initialer}})</span>
  				    </md-autocomplete>
  				    <md-chip-template>
  				      <span>
  				        <strong>{{$chip.name}} ({{$chip.Initialer}})</strong>

  				      </span>
  				    </md-chip-template>
	
  				  </md-chips>
 			
			   	
 			  </div>
			  
 			   <div layout-margin layout="row" ng-if="!obs">
  				  <md-chips ng-model="determiner" md-autocomplete-snap md-require-match="true" class="md-block"  flex-gt-xs>

  				    <md-autocomplete
 					
					
  				        md-selected-item="selectedItem"
  				        md-search-text="searchText"
  				        md-items="item in querySearchUser(searchText)"
  				        md-item-text="item.name"
  				        placeholder="{{'Bestemmer' | translate }}"
						ng-disabled="determiner.length >0"
  						>
  				      <span md-highlight-text="searchText">{{item.name}} ({{item.Initialer}})</span>
  				    </md-autocomplete>
  				    <md-chip-template>
  				      <span>
  				        <strong>{{$chip.name}} ({{$chip.Initialer}})</strong>

  				      </span>
  				    </md-chip-template>
	
  				  </md-chips>
 			
			   	
 			  </div>
			  <div layout-margin layout="row">
				  <md-input-container class="md-block" flex-gt-sm>
				              <label>{{'Kollektionsnummer' | translate}}</label>
				              <input ng-model="$parent.$parent.fieldnumber">
				            </md-input-container>
		  				  <md-input-container class="md-block" flex-gt-sm>
		  				              <label>{{'Herbarium' | translate}}</label>
		  				              <input ng-model="$parent.$parent.herbarium">
		  				            </md-input-container>
			  </div>
			   <div layout-margin layout="column">
				   <md-input-container class="md-block">
				             <label>{{'Kommentarer til fundet' | translate}}</label>
				             <textarea ng-model="$parent.$parent.note" md-maxlength="800" rows="5" md-select-on-focus></textarea>
				           </md-input-container>
						   <div ng-show="Auth.hasRole('validator')">
 				   <md-input-container class="md-block">
 				             <label>{{'Intern note' | translate}}</label>
 				             <textarea ng-model="$parent.$parent.noteInternal" md-maxlength="800" rows="5" md-select-on-focus></textarea>
 				           </md-input-container>
					   </div>
			   </div>
			  
			  <!--############################################################-->
			   
			   <div>
				  
					   
				    
					 <md-button ngf-select ng-model="$parent.$parent.files" name="files" ngf-keep="'distinct'" ngf-multiple="true" ngf-capture="'camera'" ngf-resize="{width: 1200, height: 800, quality: .9,  restoreExif: true}" ngf-pattern="'image/jpeg'"  ngf-fix-orientation="true" ng-click="$parent.$parent.showProcessingImageStatus()"
					                  aria-label="Tilføj billeder"
					                  class="md-icon-button" >
					         <ng-md-icon icon="camera_alt" ></ng-md-icon>
					       </md-button>
				 
					 
   				 <md-button  ng-show="observationIsValid()"
   				                  aria-label="Publicer observation"
   				                  class="md-icon-button" 
   								  ng-click="submitObservation()">
   				         <ng-md-icon icon="send" ></ng-md-icon>
   				       </md-button>  
				     
			   </div>
			    <!--############################################################-->
	    	     
				
		</form>
		
   	     <md-list>
  		 <md-subheader class="md-no-sticky">{{'Kommentarer' | translate}}</md-subheader>
   	       <md-list-item class="md-3-line md-long-text" ng-repeat="elm in obs.Forum">
   
  		   <user-avatar class="useravatar md-avatar" user="elm.User" ></user-avatar> 
  
   	         <div class="md-list-item-text">
  				 <div layout="row" flex>
   	           <h3><span ng-show="elm.user_id !== null">{{elm.User.name}}</span></h3>
  			   <p class="layout-fill layout-align-end-start layout-row flex">{{elm.createdAt | date : 'dd/MM/yyyy HH:mm'}}</p>
  		   </div>
  			   <p>{{elm.content}}</p>
          
     
   	         </div>
       
	 
  			   <md-divider class="forum-divider" ng-if="!$last"></md-divider>                        
   	       </md-list-item>
   	       <md-list-item class="md-3-line md-long-text comment-field" >
   
  		   <user-avatar class="useravatar md-avatar" user="Auth.getCurrentUser()" ></user-avatar> 
  
   	         <div class="md-list-item-text">
		
  					 <div layout="row" layout-align="center end" flex>
  			   <form layout-fill>
  			   <md-input-container class="md-block">
  			             <label>{{'Skriv kommentar' | translate}}</label>
  			             <textarea ng-model="$parent.$parent.newComment"  rows="5" md-select-on-focus ng-disabled="$parent.sendingComment"></textarea>
  			           </md-input-container>
			   
  				   </form>
  				   <md-button class="comment-submit" ng-show="$parent.$parent.newComment" ng-click="postComment(newComment)" ng-disabled="$parent.sendingComment">{{'Send' | translate}}</md-button>
  	   	        </div>
 				
     
   	         </div>
           
   	       </md-list-item>
   	     </md-list>
		