
.drop-box {
    background: #F8F8F8;
    border: 5px dashed #DDD;
   	height: 80px;
    text-align: center;
    padding: 50px 10px;

}

.img-preview {
	padding: 0 !important;
}

.valideringsrapport {
	margin-bottom: 18px !important;
}

#position-button {
	z-index: 10000;
}

md-autocomplete.taxon-autocomplete {
	min-width: 300px !important;
}

i.hide-icon {
	top: 3px;
	position: relative;
}