<md-dialog aria-label="Observation" class="fullscreen-dialog" ng-cloak md-component-id="map-and-images-sidenav" id="observation-modal">
  
    <md-toolbar>
      <div class="md-toolbar-tools">
          <md-button class="md-icon-button" ng-click="cancel()">
            <ng-md-icon icon="arrow_back" aria-label="Close dialog"></ng-md-icon>
          </md-button>
        <h2 ng-if="!obs">{{'Nyt fund' | translate}}</h2>
		<h2 ng-if="obs">{{obs.PrimaryUser.Initialer}}{{(obs.observationDateAccuracy !== 'invalid') ? (obs.observationDate.split('-')[0]) : ''}}-{{obs._id}}</h2>
        <span flex></span>
			 <md-button ngf-select ng-model="files" name="files" ngf-keep="'distinct'" ngf-multiple="true" ngf-capture="'camera'" ngf-resize="{width: 1200, height: 800, quality: .9,  restoreExif: true}" ngf-pattern="'image/jpeg'"  ngf-fix-orientation="true" ng-click="showProcessingImageStatus()"
			                  aria-label="Tilføj billeder"
			                  class="md-icon-button" >
			         <ng-md-icon icon="camera_alt" ></ng-md-icon>
			       </md-button>
		 
			 
		 <md-button  ng-disabled="!observationIsValid()"
		                  aria-label="Publicer observation"
		                  class="md-icon-button" 
						  ng-click="submitObservation()">
		         <ng-md-icon icon="send" ></ng-md-icon>
		       </md-button>
			   
			  <md-menu md-position-mode="target-right target" >
			            <md-button aria-label="Open demo menu" class="md-icon-button" ng-click="$mdOpenMenu($event)">
			               <ng-md-icon icon="more_vert" ></ng-md-icon>
			            </md-button>
			            <md-menu-content width="4" >
			              <md-menu-item >
			                <md-button ng-click="resetForm()">
			                    <div layout="row" flex>
			                      <p flex>{{'Nulstil dato og lokalitet' | translate}}</p>
			                      <ng-md-icon icon="refresh" style="margin: auto 3px auto 0;"></ng-md-icon>
			                    </div>
			                </md-button>
			              </md-menu-item>
			              <md-menu-item >
			                <md-button ng-click="toggelExtendedAssociatedOrganismSearch()">
			                    <div layout="row" flex>
			                      <p flex>{{'Udvidet værtssøgning'  | translate}}</p>
			                      <ng-md-icon ng-if="extendedAssociatedOrganismSearch" icon="check_box" style="margin: auto 3px auto 0;"></ng-md-icon>
								  <ng-md-icon ng-if="!extendedAssociatedOrganismSearch" icon="check_box_outline_blank" style="margin: auto 3px auto 0;"></ng-md-icon>
			                    </div>
			                </md-button>
			              </md-menu-item>
			              <md-menu-item >
			                <md-button ng-click="toggleOnlyDkTaxa()">
			                    <div layout="row" flex>
			                      <p flex>{{'Søg kun i danske arter'  | translate}}</p>
			                      <ng-md-icon ng-if="onlyPresentInDK" icon="check_box" style="margin: auto 3px auto 0;"></ng-md-icon>
								  <ng-md-icon ng-if="!onlyPresentInDK" icon="check_box_outline_blank" style="margin: auto 3px auto 0;"></ng-md-icon>
			                    </div>
			                </md-button>
			              </md-menu-item>
			            </md-menu-content>
			          </md-menu>
      </div>
    </md-toolbar>
	
	<md-progress-linear ng-if="fileUploadInProgress" md-mode="determinate" value="{{fileProgress}}"></md-progress-linear>
    <md-progress-linear ng-if="savingObservation || processingImage" md-mode="indeterminate"></md-progress-linear>  
	<md-subheader ng-if="statusMsg">{{statusMsg}}</md-subheader>
    <md-dialog-content>

		  
	 <md-tabs md-dynamic-height md-border-bottom  ng-if="!$mdMedia('gt-sm')" md-selected="$parent.selectedTabIndex">
	        <md-tab label="Fundoplysninger">
	          <md-content class="md-padding" ng-include="'app/observationform/observation-form.tpl.html'">

	          </md-content>
	        </md-tab>
	        <md-tab label="Kort">
	          <md-content class="md-padding">
			 <md-button id="position-button" class="md-fab md-warn md-fab-bottom-right" aria-label="Brug position" ng-click="useLocation()" >
			 		                  <ng-md-icon icon="gps_fixed"></ng-md-icon>
			 		              </md-button>
		   	 <leaflet id="observationformmap" width="100%" height="400" paths="mapsettings.paths" center="mapsettings.center" markers="mapsettings.markers"  controls="mapsettings.controls" layers="mapsettings.layers"> </leaflet>
	 		 <md-subheader class="md-no-sticky" ng-if="geoLocationStatusMessage" ng-bind-html="geoLocationStatusMessage"></md-subheader>
			 <md-subheader class="md-no-sticky" ng-if="selectedLocality.length === 1">{{selectedLocality[0].name}}</md-subheader>
		   	 <md-subheader class="md-no-sticky" ng-if="foreignLocality">{{foreignLocalityString}}</md-subheader>
		   	  <md-subheader class="md-no-sticky" ng-if="precision">{{'Præcision' | translate}}: {{precision}} m</md-subheader>
	          </md-content>
	        </md-tab>
	        <md-tab label="Billeder ({{(obs) ? obs.Images.length + $parent.files.length : $parent.files.length}})" ng-if="$parent.files.length > 0 || obs.Images.length > 0">
	          <md-content class="md-padding">
			  
		 	<md-card ng-repeat="file in $parent.files" >
		 	<md-card-header layout="row" layout-align="end start" class="img-preview" flex="nogrow">
		
		  
		         <md-button class="md-icon-button" aria-label="Remove" >
		           <ng-md-icon icon="close" ng-click="$parent.removeImageFromUpload(file)"></ng-md-icon>
		         </md-button> 
		 	</md-card-header>
	
		 	<md-card-content layout-align="center center">
		 	 <img ngf-src="file"  ngf-resize="{width: 300, height: 300}" >
		 	 </md-card-content>
	 
		 	</md-card>
			
	      <md-grid-list
	            md-cols="1" 
	            md-row-height-gt-md="1:1" md-row-height="4:3"
	            md-gutter="8px" md-gutter-gt-sm="4px" >
	        <md-grid-tile ng-repeat="img in obs.Images" >
	          <img   style="max-width: 100%;" alt="{{obs.PrimaryDetermination.Taxon.FullName}}" ng-src="{{imageurl+img.name}}.JPG" >
	       <md-grid-tile-footer class="obs-form-image">
   		   <md-button ng-if="Auth.hasRole('validator') && !img.hide" class="md-fab md-mini md-warn" aria-label="Hide"  ng-click='toggleHide(img, true)'>
             <i class="fa fa-eye-slash fa-2x hide-icon"></i> 
           </md-button>
   		   <md-button ng-if="Auth.hasRole('validator') && img.hide" class="md-fab md-mini md-warn" aria-label="Hide"  ng-click='toggleHide(img, false)'>
             <i class="fa fa-eye fa-2x hide-icon"></i> 
           </md-button>
		   
   		   <md-button class="md-fab md-mini md-warn" aria-label="Delete" ng-if="Auth.hasRole('validator') || ( Auth.getCurrentUser()._id === img.user_id && moment(img.createdAt) > moment().subtract(1, 'weeks') )" ng-click='deleteImg(img)'>
             <ng-md-icon icon="close"></ng-md-icon> 
           </md-button>
		
	   </md-grid-tile-footer>
	        </md-grid-tile>
	      </md-grid-list>
			
	          </md-content>
			 
		    
		  
	        </md-tab>
	      </md-tabs>
 <div md-dynamic-height md-border-bottom  ng-if="$mdMedia('gt-sm')" layout="row" layout-align="center start" flex>
	
    <md-card flex="60" ng-include="'app/observationform/observation-form.tpl.html'">


        
	
 	    
      </md-card-content>
     
    </md-card>
	
	 <md-card flex="40" layout-padding>
	 <leaflet id="observationformmap" width="100%" height="400" paths="mapsettings.paths" center="mapsettings.center" markers="mapsettings.markers"  controls="mapsettings.controls" layers="mapsettings.layers"></leaflet>
	
	 <md-subheader class="md-no-sticky" ng-if="foreignLocality">{{foreignLocalityString}}</md-subheader>
	  <md-subheader class="md-no-sticky" ng-if="precision">{{'Præcision' | translate}}: {{precision}} m</md-subheader>
	 
   				      <div flex layout-margin ngf-drop="" ng-model="$parent.files" ngf-keep="'distinct'" class="drop-box"
     ngf-drag-over-class="'dragover'" ngf-multiple="true"   ngf-pattern="'image/jpeg'"
     ngf-resize="{width: 1200, height: 800, quality: .9,  restoreExif: true}"
	 ngf-fix-orientation="true"
  
     >{{'Træk billeder hertil' | translate}}</div>
	 <md-card-content layout="row">
 	<!--<div layout-padding ng-repeat="file in files" ng-if="files.length > 0">
		<img ngf-src="file"  ngf-resize="{width: 200, height: 200}" >
	</div> -->
	
	<md-card ng-repeat="file in files" ng-if="files.length > 0">
	<md-card-header layout="row" layout-align="end start" class="img-preview" flex="nogrow">
		
		  
        <md-button class="md-icon-button" aria-label="Remove" >
          <ng-md-icon icon="close" ng-click="removeImageFromUpload(file)"></ng-md-icon>
        </md-button> 
	</md-card-header>
	
	<md-card-content layout-align="center center">
	 <img ngf-src="file"  ngf-resize="{width: 200, height: 200}" >
	 </md-card-content>
	 
	</md-card>
	
   
	
	
	
	 
 </md-card-content>
     
	<md-card-content> 
   <md-grid-list
         md-cols="1" 
         md-row-height="4:3"
         md-gutter="8px" md-gutter-gt-sm="4px" >
     <md-grid-tile ng-repeat="img in obs.Images" >
       <img   style="max-width: 100%;" alt="{{obs.PrimaryDetermination.Taxon.FullName}}" ng-src="{{imageurl+img.name}}.JPG" ng-click="openImage(img)">
   	       <md-grid-tile-footer class="obs-form-image">
   		   <md-button ng-if="Auth.hasRole('validator') && !img.hide" class="md-fab md-mini md-warn" aria-label="Hide"  ng-click='toggleHide(img, true)'>
             <i class="fa fa-eye-slash fa-2x hide-icon"></i> 
           </md-button>
   		   <md-button ng-if="Auth.hasRole('validator') && img.hide" class="md-fab md-mini md-warn" aria-label="Hide"  ng-click='toggleHide(img, false)'>
             <i class="fa fa-eye fa-2x hide-icon"></i> 
           </md-button>
		   
   		   <md-button class="md-fab md-mini md-warn" aria-label="Delete" ng-if="Auth.hasRole('validator') || ( Auth.getCurrentUser()._id === img.user_id && moment(img.createdAt) > moment().subtract(1, 'weeks') )" ng-click='deleteImg(img)'>
             <ng-md-icon icon="close"></ng-md-icon> 
           </md-button>
		
   	   </md-grid-tile-footer>
     </md-grid-tile>
   </md-grid-list>
	 </md-card-content>
	  <!-- <div layout layout-margin ng-repeat="img in obs.Images">
		  
		   <md-progress-circular md-mode="indeterminate" ng-show="loaded[img.name] !== true && failed[img.name] !== true"></md-progress-circular>
	     <img   style="margin: auto; max-width: 100%; height:inherit;" alt="{{obs.PrimaryDetermination.Taxon.FullName}}" ng-src="{{imageurl+img.name}}.jpg" imageonload="imageHasLoaded(img.name)" imageonerror="imageHasFailed(img.name)" ng-show="failed[img.name] !== true">
	 </div> -->
 </md-card>
 
 

 
 </div>
     
    </md-dialog-content>
   
   <!-- <md-dialog-actions layout="row">
      <md-button href="http://en.wikipedia.org/wiki/Mango" target="_blank" md-autofocus>
        More on Wikipedia
      </md-button>
      <span flex></span>
      <md-button ng-click="answer('not useful')">
       Not Useful
      </md-button>
      <md-button ng-click="answer('useful')" style="margin-right:20px;">
        Useful
      </md-button>
    </md-dialog-actions> -->
  
</md-dialog>