    <md-toolbar>
      <div class="md-toolbar-tools">
          <md-button class="md-icon-button" ng-click="openSideNav()" ng-show="!mdSidenav('left').isOpen() && !mdSidenav('left').isLockedOpen()" aria-label="Menu" ng-controller="SideNavBtnCtrl">
            <ng-md-icon icon="menu"></ng-md-icon>
          </md-button>
        <h2 ng-if="!obs || !obs._id">{{'Nyt fund' | translate}} {{(duplicateID) ? ('('+('klonet fra' | translate)+' DMS-'+duplicateID+')') : ''}}</h2>
		<h2 ng-if="obs && obs._id">DMS-{{obs._id}} </h2>
        <span flex></span>
	 <md-button ng-if="$mdMedia('xs') || $mdMedia('sm')" ng-click="moveToMapAndUseLocation()"
	                  aria-label="Tilføj position"
	                  class="md-icon-button" >
	         <ng-md-icon icon="gps_fixed" ></ng-md-icon>
	       </md-button>
			 <md-button ngf-select ng-model="ctrl.files" name="files" ngf-keep="'distinct'" ngf-multiple="true"  ngf-resize="{width: 1500, height: 1000, quality: .9,  restoreExif: true}" ngf-pattern="'image/jpeg'"  ngf-fix-orientation="true" ng-click="showProcessingImageStatus()"
			                  aria-label="Tilføj billeder"
			                  class="md-icon-button" >
			         <ng-md-icon icon="camera_alt" ></ng-md-icon>
			       </md-button>
		 
			 
		 <md-button  ng-disabled="!observationIsValid() || ctrl.savingObservation || ctrl.processingImage"
		                  aria-label="Publicer observation"
		                  class="md-icon-button" 
						  ng-click="submitObservation()">
		         <ng-md-icon icon="send" ></ng-md-icon>
		       </md-button>
			   
			  <md-menu md-position-mode="target-right target" >
			            <md-button aria-label="Open demo menu" class="md-icon-button" ng-click="$mdOpenMenu($event)">
			               <ng-md-icon icon="more_vert" ></ng-md-icon>
			            </md-button>
			            <md-menu-content width="6" >
			              <md-menu-item >
			                <md-button ng-click="resetForm()">
			                    <div layout="row" flex>
			                      <p flex>{{'Nulstil dato og lokalitet' | translate}}</p>
			                      <ng-md-icon icon="refresh" style="margin: auto 3px auto 0;"></ng-md-icon>
			                    </div>
			                </md-button>
			              </md-menu-item>
			              <md-menu-item >
			                <md-button ng-click="toggleNearestLocalityOnClick()">
			                    <div layout="row" flex>
			                      <p flex>{{'Brug nærmeste lokalitet ved klik'  | translate}}</p>
			                      <ng-md-icon ng-if="useNearestLocalityOnClick" icon="check_box" style="margin: auto 3px auto 0;"></ng-md-icon>
								  <ng-md-icon ng-if="!useNearestLocalityOnClick" icon="check_box_outline_blank" style="margin: auto 3px auto 0;"></ng-md-icon>
			                    </div>
			                </md-button>
			              </md-menu-item>
			              <md-menu-item ng-if="$mdMedia('gt-xs')">
			                <md-button ng-click="toggleLatLngInput()">
			                    <div layout="row" flex>
			                      <p flex>{{'Vis inputfelter til Lat/Lon'  | translate}}</p>
			                      <ng-md-icon ng-if="showLatLngFields" icon="check_box" style="margin: auto 3px auto 0;"></ng-md-icon>
								  <ng-md-icon ng-if="!showLatLngFields" icon="check_box_outline_blank" style="margin: auto 3px auto 0;"></ng-md-icon>
			                    </div>
			                </md-button>
			              </md-menu-item>
			              <md-menu-item >
			                <md-button ng-click="toggelExtendedAssociatedOrganismSearch()">
			                    <div layout="row" flex>
			                      <p flex>{{'Udvidet værtssøgning'  | translate}}</p>
			                      <ng-md-icon ng-if="extendedAssociatedOrganismSearch" icon="check_box" style="margin: auto 3px auto 0;"></ng-md-icon>
								  <ng-md-icon ng-if="!extendedAssociatedOrganismSearch" icon="check_box_outline_blank" style="margin: auto 3px auto 0;"></ng-md-icon>
			                    </div>
			                </md-button>
			              </md-menu-item>
						  
			 			  <md-menu-item ng-if="Auth.getCurrentUser()._id === obs.primaryuser_id && moment(obs.createdAt) > moment().subtract(2, 'days') ">
			   	         <md-button aria-label="Delete observation"  ng-click="deleteObs($event, obs)">
			 <div layout="row" flex>
				 <p flex> {{"Slet" | translate}}</p>
			   	            <ng-md-icon icon="delete_forever"></ng-md-icon> </div>
			   	          </md-button>
			          </md-menu-item>
			            </md-menu-content>
			          </md-menu>
      </div>
    </md-toolbar>
	
	<md-progress-linear ng-if="fileUploadInProgress" md-mode="determinate" value="{{fileProgress}}"></md-progress-linear>
    <md-progress-linear ng-if="ctrl.savingObservation || ctrl.processingImage" md-mode="indeterminate"></md-progress-linear>  
	<md-subheader ng-if="statusMsg">{{statusMsg}}</md-subheader>
	 <div ng-if="$mdMedia('xs') || $mdMedia('sm')" class="new-obs-tabs-wrapper" ng-include="'app/observationform/observation-form-view-mobile.tpl.html'">
	 </div>
    <md-content ng-if="$mdMedia('gt-sm')" ng-include="'app/observationform/observation-form-view-desktop.tpl.html' ">

		  

     
    </md-content>
   

