 <div md-dynamic-height md-border-bottom  layout="row" layout-align="center start" flex>
	
    <md-card flex="60" ng-include="'app/observationform/observation-form.tpl.html'">


        
	
 	    
      </md-card-content>
     
    </md-card>
	<div flex="40" layout-padding>
		
		<leaflet id="observationformmap" width="100%" height="400" paths="mapsettings.paths" center="mapsettings.center" markers="mapsettings.markers"  controls="mapsettings.controls" layers="mapsettings.layers"></leaflet>
 <md-subheader class="md-no-sticky" ng-if="foreignLocality">{{foreignLocalityString}}</md-subheader>
 <md-subheader class="md-no-sticky" ng-if="ctrl.precision && !showLatLngFields">{{'Præcision' | translate}}: {{ctrl.precision}} m</md-subheader>
  
  
  
			  <div  layout="row" ng-if="showLatLngFields">
				  
				  <md-input-container class="md-block" flex-gt-sm>
				              <label>{{'Latitude' | translate}}</label>
				              <input type="number" ng-model="ctrl.inputposition.lat" >
				            </md-input-container>
		  				  <md-input-container class="md-block" flex-gt-sm>
		  				              <label>{{'Longitude' | translate}}</label>
		  				              <input type="number" ng-model="ctrl.inputposition.lng">
		  				            </md-input-container>
				  				  <md-input-container class="md-block" flex-gt-sm>
				  				              <label>{{'Præcision' | translate}}</label>
				  				              <input type="number" ng-model="ctrl.precision">
				  				            </md-input-container>
			  </div>	 
	 
	 
	

	 
   				      <div flex layout-margin ngf-drop="" ng-model="ctrl.files" ngf-keep="'distinct'" class="drop-box"
     ngf-drag-over-class="'dragover'" ngf-multiple="true"   ngf-pattern="'image/jpeg'"
     ngf-resize="{width: 1200, height: 800, quality: .9,  restoreExif: true}"
	 ngf-fix-orientation="true" ngf-hide-on-drop-not-available="true"
  
     >{{'Træk billeder hertil' | translate}}</div>
	 <md-card-content layout="column">
 	<!--<div layout-padding ng-repeat="file in files" ng-if="files.length > 0">
		<img ngf-src="file"  ngf-resize="{width: 200, height: 200}" >
	</div> -->
	
	<md-card ng-repeat="file in ctrl.files" ng-if="ctrl.files.length > 0">
	<md-card-header layout="row" layout-align="end start" class="img-preview" flex="nogrow">
		
		  
        <md-button class="md-icon-button" aria-label="Remove" >
          <ng-md-icon icon="close" ng-click="removeImageFromUpload(file)"></ng-md-icon>
        </md-button> 
	</md-card-header>
	
	<md-card-content layout-align="center center">
	 <img ngf-src="file"  ngf-resize="{width: 300, height: 200}" >
	 </md-card-content>
	 
	</md-card>
	
   
	
	
	
	 
 </md-card-content>
     
	<md-card-content> 
   <md-grid-list
         md-cols="1" 
         md-row-height="4:3"
         md-gutter="8px" md-gutter-gt-sm="4px" >
     <md-grid-tile ng-repeat="img in obs.Images" >
       <img   style="max-width: 100%;" alt="{{obs.PrimaryDetermination.Taxon.FullName}}" ng-src="{{imageurl+img.name}}.JPG" ng-click="openImage(img)">
   	       <md-grid-tile-footer class="obs-form-image">
   		   <md-button ng-if="Auth.hasRole('validator') && !img.hide" class="md-fab md-mini md-warn" aria-label="Hide"  ng-click='toggleHide(img, true)'>
             <i class="fa fa-eye-slash fa-2x hide-icon"></i> 
           </md-button>
   		   <md-button ng-if="Auth.hasRole('validator') && img.hide" class="md-fab md-mini md-warn" aria-label="Hide"  ng-click='toggleHide(img, false)'>
             <i class="fa fa-eye fa-2x hide-icon"></i> 
           </md-button>
		   
   		   <md-button class="md-fab md-mini md-warn" aria-label="Delete" ng-if="Auth.hasRole('validator') || ( Auth.getCurrentUser()._id === img.user_id && moment(img.createdAt) > moment().subtract(1, 'weeks') )" ng-click='deleteImg(img)'>
             <ng-md-icon icon="close"></ng-md-icon> 
           </md-button>
		
   	   </md-grid-tile-footer>
     </md-grid-tile>
   </md-grid-list>
	 </md-card-content>
	  <!-- <div layout layout-margin ng-repeat="img in obs.Images">
		  
		   <md-progress-circular md-mode="indeterminate" ng-show="loaded[img.name] !== true && failed[img.name] !== true"></md-progress-circular>
	     <img   style="margin: auto; max-width: 100%; height:inherit;" alt="{{obs.PrimaryDetermination.Taxon.FullName}}" ng-src="{{imageurl+img.name}}.jpg" imageonload="imageHasLoaded(img.name)" imageonerror="imageHasFailed(img.name)" ng-show="failed[img.name] !== true">
	 </div> -->

</div>
 
 

 
 </div>