 <div md-dynamic-height md-border-bottom  layout="row" layout-align="center start" flex>
	<div flex="60">
    <md-card  ng-include="'app/observationform/observation-form.tpl.html'">


        
	
 	    
     
     
    </md-card>
	<div ng-if="obs && obs._id" ng-include="'app/observationmodal/determinationlist.tpl.html'" flex></div>
	<div ng-if="obs && obs._id" ng-include="'app/observationmodal/commentlist.tpl.html'"></div>
</div>
	<div flex="40" >
		 <md-card>
		<leaflet id="observationformmap" width="100%" height="400" paths="mapsettings.paths" center="mapsettings.center" markers="mapsettings.markers"  controls="mapsettings.controls" layers="mapsettings.layers"></leaflet>
 <md-subheader class="md-no-sticky" ng-if="foreignLocality">{{foreignLocalityString}}</md-subheader>
 <md-subheader class="md-no-sticky" ng-if="ctrl.precision && !showLatLngFields">{{'Præcision' | translate}}: {{ctrl.precision}} m</md-subheader>
  
  
  
			  <div  layout="row" ng-if="showLatLngFields">
				  
				  <md-input-container class="md-block" flex-gt-sm>
				              <label>{{'Latitude' | translate}}</label>
				              <input type="number" ng-model="ctrl.inputposition.lat" >
				            </md-input-container>
		  				  <md-input-container class="md-block" flex-gt-sm>
		  				              <label>{{'Longitude' | translate}}</label>
		  				              <input type="number" ng-model="ctrl.inputposition.lng">
		  				            </md-input-container>
				  				  <md-input-container class="md-block" flex-gt-sm>
				  				              <label>{{'Præcision' | translate}}</label>
				  				              <input type="number" ng-model="ctrl.precision">
				  				            </md-input-container>
			  </div>
			  <div  layout="row" ng-if="showLatLngFields">
				  
				  <md-input-container class="md-block" flex-gt-sm>
				              <label>{{'UTM northing' | translate}}</label>
				              <input type="number" ng-model="ctrl.inputposition.northing" >
				            </md-input-container>
		  				  <md-input-container class="md-block" flex-gt-sm>
		  				              <label>{{'UTM easting' | translate}}</label>
		  				              <input type="number" ng-model="ctrl.inputposition.easting">
		  				            </md-input-container>
				  				  <md-input-container class="md-block" flex-gt-sm>
				  				              <label>{{'UTM zone' | translate}}</label>
				  				              <input type="number" ng-model="ctrl.inputposition.utmzone">
				  				            </md-input-container>
					 	 				   <md-input-container>
					 	 				           
					 	 				           <md-select ng-model="ctrl.inputposition.southernHemisphere" >
					 	 				             <md-option  ng-value="{{false}}" >
					 								  N
	 				              
					 	 				             </md-option>
					 	 				             <md-option  ng-value="{{true}}" >
					 								  S
	 				              
					 	 				             </md-option>
					 	 				           </md-select>
							   
					 	 				         </md-input-container>
			  </div>	 
	 
	 </md-card>
	  <md-card>
	  <div layout-margin>
 <md-button layout-fill class="md-primary"  ngf-select ng-model="ctrl.files" name="files" ngf-keep="'distinct'" ngf-multiple="true"  ngf-resize="{width: 1800, height: 1200, quality: .9,  restoreExif: true}" ngf-pattern="'image/jpeg'"  ngf-fix-orientation="true" ngf-before-model-change="$parent.$parent.showProcessingImageStatus()"
                  aria-label="Tilføj billeder"
                  class="md-icon-button" >
         <ng-md-icon icon="camera_alt" ></ng-md-icon> {{'Vælg billeder' | translate}}
       </md-button>
   </div>
	 <div style="text-align: center">{{'eller' | translate}}</div>
   				      <div  flex layout-margin  ngf-drop="" ng-model="ctrl.files" ngf-keep="'distinct'" class="drop-box" 
     ngf-drag-over-class="'dragover'" ngf-multiple="true"   ngf-pattern="'image/jpeg'"
     ngf-resize="{width: 1800, height: 1200, quality: .9,  restoreExif: true}"
	 ngf-before-model-change="$parent.$parent.showProcessingImageStatus()"
	 ngf-fix-orientation="true" ngf-hide-on-drop-not-available="true"
     ><h3 class="md-title">{{'Træk billeder hertil' | translate}}</h3>
 	<ng-md-icon icon="camera_alt" size="64" style="margin-left: -24px"></ng-md-icon>
 </div>
	 <md-card-content layout="column">
 	<!--<div layout-padding ng-repeat="file in files" ng-if="files.length > 0">
		<img ngf-src="file"  ngf-resize="{width: 200, height: 200}" >
	</div> -->

<md-grid-list
         md-cols-xs="1" md-cols-sm="1" md-cols-md="2" md-cols-gt-md="2"
        md-row-height="200px"
        md-gutter="12px" md-gutter-gt-sm="8px">

<md-grid-tile ng-repeat="file in ctrl.files"
                 
                  md-colspan-sm="1"
            ngf-background="file"
			   ng-style="{'background-size': 'cover'}"
			 
				  >
		
    <!--  <img ng-click="ObservationModalService.show($event, tile)" ng-src="{{getImageUrl(tile)}}" imageonload="imageHasLoaded(tile.Images[0].name)" imageonload="imageHasLoaded(tile.Images[0].name)" imageonerror="imageHasFailed(tile.Images[0].name)" ng-show="loaded[tile.Images[0].name] === true && failed[tile.Images[0].name] !== true"> -->
	<div class="md-gridtile-delete-upper-right"><md-button ng-click="removeImageFromUpload(file)"><ng-md-icon icon="clear"></ng-md-icon></md-button></div>
      <md-grid-tile-footer  >{{file.name}}
  </md-grid-tile-footer>
  </md-grid-tile>
  </md-grid-list>	
	

	
   
	
	
	
	 
 </md-card-content>
     
	<md-card-content> 
   <md-grid-list
         md-cols="1" 
         md-row-height="4:3"
         md-gutter="12px" md-gutter-gt-sm="8px" >
   
     <md-grid-tile ng-repeat="img in obs.Images" 
     md-colspan-sm="1" md-rowspan="{{(img.height > img.width) ? 2: 1}}"
   ng-style="getBackgroundStyle(img)"
  	 ng-click="openImage(img)"
	 >
      <!-- <img   style="max-width: 100%;" alt="{{obs.PrimaryDetermination.Taxon.FullName}}" ng-src="{{imageurl+img.name}}.JPG" ng-click="openImage(img)">-->
   	       
		   
	   	<div class="md-gridtile-hide-upper-left" ng-if="Auth.hasRole('validator')"><md-button ng-click="toggleHide(img, !img.hide); $event.stopPropagation();"><md-icon ng-if="!img.hide" md-font-icon="fa fa-eye-slash fa-2x"  ></md-icon ><md-icon ng-if="img.hide" md-font-icon="fa fa-eye fa-2x" ></md-icon ></md-button></div>
		   
		   <div class="md-gridtile-delete-upper-right"><md-button aria-label="Delete" ng-if="Auth.hasRole('validator') || ( currentUser._id === img.user_id && moment(img.createdAt) > moment().subtract(1, 'weeks') )" ng-click='deleteImg(img); $event.stopPropagation();'><ng-md-icon icon="clear"></ng-md-icon></md-button></div>
		   

     </md-grid-tile>
   </md-grid-list>
	 </md-card-content>
	  <!-- <div layout layout-margin ng-repeat="img in obs.Images">
		  
		   <md-progress-circular md-mode="indeterminate" ng-show="loaded[img.name] !== true && failed[img.name] !== true"></md-progress-circular>
	     <img   style="margin: auto; max-width: 100%; height:inherit;" alt="{{obs.PrimaryDetermination.Taxon.FullName}}" ng-src="{{imageurl+img.name}}.jpg" imageonload="imageHasLoaded(img.name)" imageonerror="imageHasFailed(img.name)" ng-show="failed[img.name] !== true">
	 </div> -->
</md-card>
</div>
 
 

 
 </div>
 <div class="grayout" ng-show="ctrl.processingImage || ctrl.savingObservation || fileUploadInProgress" >
	
 </div>
 <div class="status-overlay" layout="column"    layout-align="center center" ng-show="ctrl.processingImage || ctrl.savingObservation || fileUploadInProgress" >
 	<h3 class="md-title" ng-if="statusMsg">{{statusMsg}}</h3>
 	<div layout="row"    layout-align="center">
 		<span flex></span>
 		<md-progress-circular ng-if="fileUploadInProgress" md-mode="determinate" value="{{fileProgress}}"></md-progress-circular>
 	    <md-progress-circular ng-if="ctrl.savingObservation || ctrl.processingImage" md-mode="indeterminate"></md-progress-circular>
 		<span flex></span>
 	</div>

		
 	</div>