<md-dialog aria-label="Forum" class="fullscreen-dialog" ng-cloak md-component-id="map-and-images-sidenav" id="observation-modal">
  
    <md-toolbar>
      <div class="md-toolbar-tools">
          <md-button class="md-icon-button" ng-click="cancel()">
            <ng-md-icon icon="arrow_back" aria-label="Close dialog"></ng-md-icon>
          </md-button>
        <h2>Opret fund</h2>
        <span flex></span>
			 <md-button ngf-select ng-model="files" name="files" ngf-keep="'distinct'" ngf-multiple="true" ngf-capture="'camera'" ngf-resize="{width: 1200, height: 800, quality: .8,  restoreExif: true}" ngf-pattern="'image/jpeg'"  ngf-fix-orientation="true"
			                  aria-label="Tilføj billeder"
			                  class="md-icon-button" >
			         <ng-md-icon icon="camera_alt" ></ng-md-icon>
			       </md-button>
		 
			 
		 <md-button  ng-disabled="!observationIsValid()"
		                  aria-label="Publicer observation"
		                  class="md-icon-button" 
						  ng-click="submitObservation()">
		         <ng-md-icon icon="send" ></ng-md-icon>
		       </md-button>
      </div>
    </md-toolbar>
      
    <md-dialog-content>

		  
	 <md-tabs md-dynamic-height md-border-bottom  ng-if="!$mdMedia('gt-sm')" md-selected="$parent.selectedTabIndex">
	        <md-tab label="Fundoplysninger">
	          <md-content class="md-padding" ng-include="'app/observationform/observation-form.tpl.html'">

	          </md-content>
	        </md-tab>
	        <md-tab label="Kort">
	          <md-content class="md-padding">
		   	 <leaflet id="observationformmap" width="100%" height="400" paths="mapsettings.paths" center="mapsettings.center" markers="mapsettings.markers"  controls="mapsettings.controls" layers="mapsettings.layers"></leaflet>
	 		 <md-subheader class="md-no-sticky" ng-if="selectedLocality.length === 1">{{selectedLocality[0].name}}</md-subheader>
		   	 <md-subheader class="md-no-sticky" ng-if="foreignLocality">{{foreignLocalityString}}</md-subheader>
		   	  <md-subheader class="md-no-sticky" ng-if="precision">Præcision: {{precision}} m</md-subheader>
	          </md-content>
	        </md-tab>
	        <md-tab label="Billeder ({{$parent.files.length}})" ng-if="$parent.files.length > 0">
	          <md-content class="md-padding">
			  
		 	<md-card ng-repeat="file in $parent.files" >
		 	<md-card-header layout="row" layout-align="end start" class="img-preview" flex="nogrow">
		
		  
		         <md-button class="md-icon-button" aria-label="Remove" >
		           <ng-md-icon icon="close" ng-click="$parent.removeImageFromUpload(file)"></ng-md-icon>
		         </md-button> 
		 	</md-card-header>
	
		 	<md-card-content layout-align="center center">
		 	 <img ngf-src="file"  ngf-resize="{width: 300, height: 300}" >
		 	 </md-card-content>
	 
		 	</md-card>
	          </md-content>
	        </md-tab>
	      </md-tabs>
 <div md-dynamic-height md-border-bottom  ng-if="$mdMedia('gt-sm')" layout="row" layout-align="center start" flex>
	
    <md-card flex="60" ng-include="'app/observationform/observation-form.tpl.html'">


        
	
 	    
      </md-card-content>
     
    </md-card>
	
	 <md-card flex="40" layout-padding>
	 <leaflet id="observationformmap" width="100%" height="400" paths="mapsettings.paths" center="mapsettings.center" markers="mapsettings.markers"  controls="mapsettings.controls" layers="mapsettings.layers"></leaflet>
	
	 <md-subheader class="md-no-sticky" ng-if="foreignLocality">{{foreignLocalityString}}</md-subheader>
	  <md-subheader class="md-no-sticky" ng-if="precision">Præcision: {{precision}} m</md-subheader>
	 
   				      <div flex layout-margin ngf-drop="" ng-model="$parent.files" ngf-keep="'distinct'" class="drop-box"
     ngf-drag-over-class="'dragover'" ngf-multiple="true"   ngf-pattern="'image/jpeg'"
     ngf-resize="{width: 1200, height: 800, quality: .8,  restoreExif: true}"
	 ngf-fix-orientation="true"
  
     >Træk billeder hertil</div>
	 <md-card-content layout="row">
 	<!--<div layout-padding ng-repeat="file in files" ng-if="files.length > 0">
		<img ngf-src="file"  ngf-resize="{width: 200, height: 200}" >
	</div> -->
	
	<md-card ng-repeat="file in files" ng-if="files.length > 0">
	<md-card-header layout="row" layout-align="end start" class="img-preview" flex="nogrow">
		
		  
        <md-button class="md-icon-button" aria-label="Remove" >
          <ng-md-icon icon="close" ng-click="removeImageFromUpload(file)"></ng-md-icon>
        </md-button> 
	</md-card-header>
	
	<md-card-content layout-align="center center">
	 <img ngf-src="file"  ngf-resize="{width: 200, height: 200}" >
	 </md-card-content>
	 
	</md-card>
	
	
	
	 
 </md-card-content>
     
	 
	  <!-- <div layout layout-margin ng-repeat="img in obs.Images">
		  
		   <md-progress-circular md-mode="indeterminate" ng-show="loaded[img.name] !== true && failed[img.name] !== true"></md-progress-circular>
	     <img   style="margin: auto; max-width: 100%; height:inherit;" alt="{{obs.PrimaryDetermination.Taxon.FullName}}" ng-src="{{imageurl+img.name}}.jpg" imageonload="imageHasLoaded(img.name)" imageonerror="imageHasFailed(img.name)" ng-show="failed[img.name] !== true">
	 </div> -->
 </md-card>
 </div>
     
    </md-dialog-content>
   
   <!-- <md-dialog-actions layout="row">
      <md-button href="http://en.wikipedia.org/wiki/Mango" target="_blank" md-autofocus>
        More on Wikipedia
      </md-button>
      <span flex></span>
      <md-button ng-click="answer('not useful')">
       Not Useful
      </md-button>
      <md-button ng-click="answer('useful')" style="margin-right:20px;">
        Useful
      </md-button>
    </md-dialog-actions> -->
  
</md-dialog>