  
	 <md-tabs class="observationform-tabs md-default-theme" md-border-bottom  md-selected="$parent.selectedTabIndex" >
	 
	        <md-tab  label="Fundoplysninger">
	          <md-content class="md-padding" ng-include="'app/observationform/observation-form.tpl.html'" md-scroll-y flex layout-fill>

	          </md-content>
	        </md-tab>
	        <md-tab label="Kort">
	          <md-content class="md-padding"  md-scroll-y layout-fill flex>
			 
		 <md-subheader class="md-no-sticky" ng-if="selectedLocality.length === 1 || (ctrl.precision && !foreignLocality )">{{selectedLocality[0].name}} <span ng-if="ctrl.precision">{{'Præcision' | translate}}: {{ctrl.precision}} m</span></md-subheader>
	   	 <md-subheader class="md-no-sticky" ng-if="foreignLocality">{{foreignLocalityString}} <span ng-if="ctrl.precision">{{'Præcision' | translate}}: {{ctrl.precision}} m</span></md-subheader>
	   	 
		   	 <leaflet id="observationformmap" width="100%" height="400" paths="mapsettings.paths" center="mapsettings.center" markers="mapsettings.markers"  controls="mapsettings.controls" layers="mapsettings.layers"> </leaflet>
	 		 <md-subheader class="md-no-sticky" ng-if="geoLocationStatusMessage" ng-bind-html="geoLocationStatusMessage"></md-subheader>
			
	          </md-content>
	        </md-tab>
	        <md-tab label="Billeder ({{(obs) ? obs.Images.length + ctrl.files.length : ctrl.files.length}})" ng-if="ctrl.files.length > 0 || obs.Images.length > 0">
	          <md-content class="md-padding" md-scroll-y layout-fill flex>
			  
	<md-grid-list
	         md-cols-xs="1" md-cols-sm="2" md-cols-md="2" md-cols-gt-md="2"
	        md-row-height="1:1"  md-row-height-gt-sm="3:2"
	        md-gutter="12px" md-gutter-gt-sm="8px">

	<md-grid-tile ng-repeat="file in ctrl.files"
                 
	                  md-colspan-sm="1"
	            ngf-background="file"
				   ng-style="{'background-size': 'cover'}"
			 
					  >
		
	    <!--  <img ng-click="ObservationModalService.show($event, tile)" ng-src="{{getImageUrl(tile)}}" imageonload="imageHasLoaded(tile.Images[0].name)" imageonload="imageHasLoaded(tile.Images[0].name)" imageonerror="imageHasFailed(tile.Images[0].name)" ng-show="loaded[tile.Images[0].name] === true && failed[tile.Images[0].name] !== true"> -->
		<div class="md-gridtile-delete-upper-right"><md-button ng-click="removeImageFromUpload(file)"><ng-md-icon icon="clear"></ng-md-icon></md-button></div>
	      <md-grid-tile-footer  >{{file.name}}
	  </md-grid-tile-footer>
	  </md-grid-tile>
	  </md-grid-list>
			
   <md-grid-list
         md-cols="1" 
         md-row-height="4:3"
         md-gutter="12px" md-gutter-gt-sm="8px" >
   
     <md-grid-tile ng-repeat="img in obs.Images" 
     md-colspan-sm="1" md-rowspan="{{(img.height > img.width) ? 2: 1}}"
   ng-style="getBackgroundStyle(img)"
	 >
      <!-- <img   style="max-width: 100%;" alt="{{obs.PrimaryDetermination.Taxon.FullName}}" ng-src="{{imageurl+img.name}}.JPG" ng-click="openImage(img)">-->
   	       
		   
	   	<div class="md-gridtile-hide-upper-left" ng-if="Auth.hasRole('validator')"><md-button ng-click="toggleHide(img, !img.hide); $event.stopPropagation();"><md-icon ng-if="!img.hide" md-font-icon="fa fa-eye-slash fa-2x"  ></md-icon ><md-icon ng-if="img.hide" md-font-icon="fa fa-eye fa-2x" ></md-icon ></md-button></div>
		   
		   <div class="md-gridtile-delete-upper-right"><md-button aria-label="Delete" ng-if="Auth.hasRole('validator') || ( currentUser._id === img.user_id && moment(img.createdAt) > moment().subtract(1, 'weeks') )" ng-click='deleteImg(img); $event.stopPropagation();'><ng-md-icon icon="clear"></ng-md-icon></md-button></div>
		   

     </md-grid-tile>
   </md-grid-list>
			
	          </md-content>
			 
		    
		  
	        </md-tab>
	      </md-tabs>
<div class="grayout" ng-show="ctrl.processingImage || ctrl.savingObservation || fileUploadInProgress" >
	
</div>
<div class="status-overlay" layout="column"    layout-align="center center" ng-show="ctrl.processingImage || ctrl.savingObservation || fileUploadInProgress" >
	<h3 class="md-title" ng-if="statusMsg">{{statusMsg}}</h3>
	<div layout="row"    layout-align="center">
		<span flex></span>
		<md-progress-circular ng-if="fileUploadInProgress" md-mode="determinate" value="{{fileProgress}}"></md-progress-circular>
	    <md-progress-circular ng-if="ctrl.savingObservation || ctrl.processingImage" md-mode="indeterminate"></md-progress-circular>
		<span flex></span>
	</div>

		
	</div>