		  <md-expansion-panel md-component-id="commentsPanel" class="determination-panel">

		    <md-expansion-panel-collapsed>
		      <div class="md-title">{{'Kommentarer' | translate}} ({{obs.Forum.length}})</div>
		      <div class="md-summary"></div>
		      <md-expansion-panel-icon></md-expansion-panel-icon>
		    </md-expansion-panel-collapsed>


		    <md-expansion-panel-expanded>

		      <md-expansion-panel-header ng-click="$panel.collapse()" md-no-sticky>
		        <div class="md-title">{{'Kommentarer' | translate}} ({{obs.Forum.length}})</div>
		         <div class="md-summary"></div>
		        <md-expansion-panel-icon ></md-expansion-panel-icon>
		      </md-expansion-panel-header>

		      <md-expansion-panel-content class="p-0">
		        
						   	     <md-list>
		  		
						   	       <md-list-item class="md-3-line md-long-text" ng-repeat="elm in obs.Forum">
		   
						  		   <user-avatar class="useravatar md-avatar" user="elm.User" ></user-avatar> 
	   
						   	         <div class="md-list-item-text">
						  				 <div layout-gt-xs="row" flex>
						   	           <h3><span ng-show="elm.user_id !== null">{{elm.User.name}}</span></h3>
									   <span ng-if="$mdMedia('gt-xs')" layout-fill flex></span>
						  			   <p >{{elm.createdAt | date : 'dd/MM/yyyy HH:mm'}}</p>
						  		   </div>
						  			   <p ng-bind-html="elm.content | linky | linkMentions"></p>
 	           
          
						   	         </div>
 	        
			 
						  			   <md-divider class="forum-divider" ng-if="!$last"></md-divider>                        
						   	       </md-list-item>
						 	       <md-list-item class="md-3-line md-long-text comment-field" ng-if="User">
		   
								   <user-avatar class="useravatar md-avatar" user="User" ></user-avatar> 
	   
						 	         <div class="md-list-item-text">
				
											 <div layout="row" layout-align="center end"

				flex>
									   <form layout-fill>
						   		         
							
														 
									             <label>{{'Skriv kommentar' | translate}}</label>
												 <div class="mention-container">
									             <textarea id="newComment" class="form-control" ng-model="ctrl.newComment" ui-mention atlas-mention  md-select-on-focus ng-disabled="ctrl.sendingComment" autocomplete="off"></textarea>
												 <div class="mention-highlight"></div>
												 
										   		<ul ng-if="$mention.choices.length" class="mention-dropdown">
														<li ng-show="$mention.loading" layout="row"><span flex></span><md-progress-circular></md-progress-circular><span flex></span></li>
										   		       <li ng-repeat="choice in $mention.choices" ng-class="{active:$mention.activeChoice==choice}">
										   		         <a ng-click="$mention.select(choice); focusNewComment() " >
										   		           {{::choice.name}} {{::choice.Initialer}}
										   		         </a>
										   		       </li>
										   		     </ul>
												 </div>
					   
										   </form>
										 
										   <md-button class="md-icon-button comment-submit" ng-show="ctrl.newComment" ng-click="postComment($mention.mentions)" ng-disabled="ctrl.sendingComment"><ng-md-icon icon="send" ></ng-md-icon></md-button>
  						   		         
							   	        </div>
										
	  				
		
						 	         </div>
	   		 
						 	       </md-list-item>
						   	     </md-list>
	
		      </md-expansion-panel-content>

		      <md-expansion-panel-footer md-no-sticky>
		        <div flex></div>
		        <md-button  ng-click="$panel.collapse()">{{'Luk' | translate}}</md-button>
		      </md-expansion-panel-footer>

		    </md-expansion-panel-expanded>

		  </md-expansion-panel>  






	













	