



		  <md-expansion-panel md-component-id="determinationsPanel" class="determination-panel">

		    <md-expansion-panel-collapsed>
		      <div class="md-title">{{'Bestemmelser' | translate}} ({{obs.Determinations.length}})</div>
		      <div class="md-summary"></div>
		      <md-expansion-panel-icon></md-expansion-panel-icon>
		    </md-expansion-panel-collapsed>


		    <md-expansion-panel-expanded>

		      <md-expansion-panel-header  ng-click="$panel.collapse()">
		        <div class="md-title">{{'Bestemmelser' | translate}} ({{obs.Determinations.length}})</div>
		         <div class="md-summary"></div>
		        <md-expansion-panel-icon ></md-expansion-panel-icon>
		      </md-expansion-panel-header>

		      <md-expansion-panel-content id="determination-list-container" flex>
		        
					 <md-button layout-fill class="md-primary" ng-click="ctrl.DeterminationModalService.show($event, obs)"><ng-md-icon icon="add"></ng-md-icon> {{'Foreslå bestemmelse' | translate}}</md-button>


	<md-list flex>
	
	        <md-list-item class="md-3-line md-long-text" ng-repeat="det in obs.Determinations | filter:{ _id:  obs.PrimaryDetermination._id} " >
		
	        
	         <md-icon md-font-icon="fa fa-check fa-2x" class="material-icons md-light md-48 green-check" >
		 
		 </md-icon>

	

	          <div class="md-list-item-text"  >
				  <h3 ng-if="det.Taxon.acceptedTaxon.Vernacularname_DK" ng-class="(det._id === obs.primarydetermination_id) ? 'primary-determination': ''">{{ det.Taxon.acceptedTaxon.Vernacularname_DK.vernacularname_dk | capitalize}} {{(det._id === obs.primarydetermination_id) ? '(Nuværende bestemmelse)' : '' }}</h3>
	            <h3 ng-if="!det.Taxon.acceptedTaxon.Vernacularname_DK" ng-class="(det._id === obs.primarydetermination_id) ? 'primary-determination': ''">{{ det.Taxon.acceptedTaxon.FullName }} {{( 9950 > det.Taxon.RankID) ? 'sp.' : ''}} {{(det._id === obs.primarydetermination_id) ? '(Nuværende bestemmelse)' : '' }}</h3>
				<h4 ng-if="det.Taxon.acceptedTaxon.Vernacularname_DK"><em>{{ det.Taxon.acceptedTaxon.FullName }} {{( 9950 > det.Taxon.RankID) ? 'sp.' : ''}}</em></h4>
	            <h4>{{(ctrl.moment(det.createdAt).isSame(ctrl.moment(), 'day')) ? ctrl.getCreatedAt(det.createdAt) : (det.createdAt | date : 'dd/MM/yyyy')}}, {{ det.User.name }} ({{det.User.Initialer}})</h4>
	            <p>Status: {{ det.validation }} </p>
				<p>{{(det.Validator) ? ('Status senest ændret af '+ det.Validator.name+' ('+det.Validator.Initialer+')'):"" }}</p>
				
	          </div>
			
			  <div layout="column" layout-align="center center" class="md-secondary"><md-button ng-click="vote($event, det, 'up')" class="vote-btn"><ng-md-icon icon="thumb_up" ng-class="{'green-thumb' : det.vote === 'up'}"></ng-md-icon></md-button>
				  <h3 class="vote-count">{{det.score}}</h3>
			  <md-button ng-click="vote($event, det, 'down')" class="vote-btn"><ng-md-icon icon="thumb_down" ng-class="{'red-thumb' : det.vote === 'down'}"></ng-md-icon></md-button>
			  </div>

			  <md-divider ></md-divider>
	        </md-list-item>	

	        <md-list-item class="md-3-line md-long-text" ng-repeat="det in obs.Determinations | filter:{ _id: '!' + obs.PrimaryDetermination._id} | orderBy:'createdAt' : true" >
		
	         <md-icon ng-if="det._id !== obs.primarydetermination_id && !Auth.hasRole('validator') " md-font-icon="fa fa-tag fa-2x" class="material-icons md-light md-48 md-primary" >
		 
		 </md-icon>
	         <md-icon ng-if="det._id === obs.primarydetermination_id" md-font-icon="fa fa-check fa-2x" class="material-icons md-light md-48 green-check" >
		 
		 </md-icon>
		 <md-button ng-if="det._id !== obs.primarydetermination_id && Auth.hasRole('validator')" class="md-icon-button"
		                ng-click="setPrimaryDetermination(det)">
			   		 <md-tooltip md-direction="right">
			   		          {{'Anvend bestemmelse' | translate}}
			   		        </md-tooltip>
		       <md-icon md-font-icon="fa fa-tag fa-2x" class="material-icons md-light md-48 md-primary" >
		     </md-button>
	

	          <div class="md-list-item-text"  >
				  <h3 ng-if="det.Taxon.acceptedTaxon.Vernacularname_DK" ng-class="(det._id === obs.primarydetermination_id) ? 'primary-determination': ''">{{ det.Taxon.acceptedTaxon.Vernacularname_DK.vernacularname_dk | capitalize}} {{(det._id === obs.primarydetermination_id) ? '(Nuværende bestemmelse)' : '' }}</h3>
	            <h3 ng-if="!det.Taxon.acceptedTaxon.Vernacularname_DK" ng-class="(det._id === obs.primarydetermination_id) ? 'primary-determination': ''">{{ det.Taxon.acceptedTaxon.FullName }} {{( 9950 > det.Taxon.RankID) ? 'sp.' : ''}} {{(det._id === obs.primarydetermination_id) ? '(Nuværende bestemmelse)' : '' }}</h3>
				<h4 ng-if="det.Taxon.acceptedTaxon.Vernacularname_DK"><em>{{ det.Taxon.acceptedTaxon.FullName }} {{( 9950 > det.Taxon.RankID) ? 'sp.' : ''}}</em></h4>
	            <h4>{{(ctrl.moment(det.createdAt).isSame(ctrl.moment(), 'day')) ? ctrl.getCreatedAt(det.createdAt) : (det.createdAt | date : 'dd/MM/yyyy')}}, {{ det.User.name }} ({{det.User.Initialer}})</h4>
	            <p>Status: {{ det.validation }} </p>
				<p>{{(det.Validator) ? ('Status senest ændret af '+ det.Validator.name+' ('+det.Validator.Initialer+')'):"" }}</p>
				
	          </div>
			
			  <div layout="column" layout-align="center center" class="md-secondary"><md-button ng-click="vote($event, det, 'up')" class="vote-btn"><ng-md-icon icon="thumb_up" ng-class="{'green-thumb' : det.vote === 'up'}"></ng-md-icon></md-button>
				  <h3 class="vote-count">{{det.score}}</h3>
			  <md-button ng-click="vote($event, det, 'down')" class="vote-btn"><ng-md-icon icon="thumb_down" ng-class="{'red-thumb' : det.vote === 'down'}"></ng-md-icon></md-button>
			  </div>

			  <md-divider ></md-divider>
	        </md-list-item>

		</md-list>
	
		      </md-expansion-panel-content>

		      <md-expansion-panel-footer>
		        <div flex></div>
		        <md-button  ng-click="$panel.collapse()">{{'Luk' | translate}}</md-button>
		      </md-expansion-panel-footer>

		    </md-expansion-panel-expanded>

		  </md-expansion-panel>  







	