<div role="dialog" aria-label="Other determinations" layout="column" layout-align="center center" flex>
 <md-toolbar>
   <div class="md-toolbar-tools">
     
	<h2>{{'Hændelses-log for bestemmelse' | translate}}</h2>
     <span flex></span>
     <md-button class="md-icon-button" ng-click="ctrl.closeDialog()">
       <ng-md-icon icon="close"></ng-md-icon>
     </md-button>
   </div>
 </md-toolbar>

      <md-content id="determinationlog-panel-content" class="demo-dialog-content">
		  
	<table class="table taxontable table-bordered log-table" st-table="displayed" st-safe-src="ctrl.logs">
		<thead>
		<tr>
		
			<th st-ratio="30" st-sort="createdAt" st-sort-default="reverse">Created</th>
			<th st-ratio="70"></th>
		</tr>
		
		</thead>
		<tbody >
		<tr ng-repeat="row in displayed">
			<td st-ratio="30">{{row.createdAt | date : 'medium'}}</td>
			<td st-ratio="70"><json-formatter open="1" json="row.logObject"></json-formatter></td>
			
		
		
		</tr>
		</tbody>
		
		
	</table>	  
		  

	
      </md-content>

  <div class="demo-dialog-button" layout="row">
	  
	  <span flex></span>
    <md-button   class="md-primary" style="margin-right:20px;" ng-click="ctrl.closeDialog()" >
      {{'Luk' | translate}}
    </md-button>
   
  </div>
</div>











 