<md-dialog aria-label="Ombestem {{obs.PrimaryUser.Initialer}}{{(obs.observationDateAccuracy !== 'invalid') ? (obs.observationDate.split('-')[0]) : ''}}-{{obs._id}}"  ng-cloak>
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Ombestem {{obs.PrimaryUser.Initialer}}{{(obs.observationDateAccuracy !== 'invalid') ? (obs.observationDate.split('-')[0]) : ''}}-{{obs._id}}</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <ng-md-icon icon="close"></ng-md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content">
        <h2></h2>
		<div layout="row" layout-margin>
       <md-chips md-max-chips=1 ng-model="newTaxon" md-autocomplete-snap md-require-match="true" class="md-block" flex-gt-xs>

         <md-autocomplete
   	  	md-min-length="3"
   		md-no-cache="true"
             md-selected-item="selectedItem"
             md-search-text="searchText"
             md-items="item in querySearch(searchText)"
             md-item-text="item.FullName"
             placeholder="{{(newTaxon.length ===0) ? 'Skriv taxon' : ''}}"
			 ng-disabled="newTaxon.length >0"
			 class="taxon-autocomplete">
           <span md-highlight-text="searchText">{{item.FullName}}</span>
         </md-autocomplete>
         <md-chip-template>
           <span>
			   <strong ng-if="$chip.Vernacularname_DK">{{$chip.Vernacularname_DK.vernacularname_dk}} - </strong>
             <strong><em>{{$chip.FullName}}</em> {{$chip.Author}}</strong>

           </span>
         </md-chip-template>
		
       </md-chips>
	      </div>
		  <div layout="row" layout-margin>
 		 	   <md-switch ng-model="threePlusThree" aria-label="threePlusThree" ng-show="!onlyHigherTaxa  newTaxon.length ===0">
 		 	       {{'3+3' | translate}}
 		 	     </md-switch>
	   <md-switch ng-model="onlyHigherTaxa" aria-label="Højere taxa" ng-show="newTaxon.length ===0">
	       Søg i slægter, familier, ordener osv.
	     </md-switch>
	 </div> 
   <div layout-margin layout="row" >
	  <md-chips ng-model="determiner" md-autocomplete-snap md-require-match="true" class="md-block"  flex-gt-xs>

	    <md-autocomplete
		
		
	        md-selected-item="selectedItem"
	        md-search-text="searchText"
	        md-items="item in querySearchUser(searchText)"
	        md-item-text="item.name"
	        placeholder="{{'Evt anden bestemmer' | translate }}"
			ng-disabled="determiner.length >0"
			>
	      <span md-highlight-text="searchText">{{item.name}} ({{item.Initialer}})</span>
	    </md-autocomplete>
	    <md-chip-template>
	      <span>
	        <strong>{{$chip.name}} ({{$chip.Initialer}})</strong>

	      </span>
	    </md-chip-template>

	  </md-chips>

   	
  </div>
	 <div layout="row" layout-padding layout-margin>
		 <md-input-container class="md-block" layout-fill>
		           <label>Note til bestemmelsen</label>
		           <textarea ng-model="determination.notes"  rows="5" md-select-on-focus></textarea>
		         </md-input-container>
	 </div>
	 <div layout="row" layout-padding layout-margin>
		 <md-input-container layout-fill>
		        <label>Bestemmelsens sikkerhed</label>
		        <md-select ng-model="determination.confidence">
		          <md-option value="sikker" >
		            sikker
		          </md-option>
		          <md-option value="sandsynlig">
		            sandsynlig
		          </md-option>
		          <md-option value="mulig">
		            mulig
		          </md-option>
		        </md-select>
		      </md-input-container>
			  </div>
      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      
      <span flex></span>
      <md-button ng-click="cancel()">
       Fortryd
      </md-button>
      <md-button ng-click="reopenObs()" style="margin-right:20px;" ng-disabled="1 > newTaxon.length">
        Gem
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>