
   
   
   .fullscreen-dialog {
       max-width: 100%; 
       max-height: 100%;
       width: 100%;
       height: 100%;
       border-radius: 0;
   }
   
   table.observation-detail td.rightalign {
     text-align: right;
   }
   
  .forum-divider {
   	left: 74px;
    width: calc(100% - 74px);
   }
   
   .comment-field {
   	padding: 0px 16px;
   }
   
   .comment-submit {
   	margin-bottom: 42px;
   }
   
   .validator-button-container {
	   height: 60px !important;
   }
   
   
   
   .demo-md-panel {
     min-height: 500px;
   }

   .demo-dialog-example {
     background: white;
     border-radius: 4px;
     box-shadow: 0 7px 8px -4px rgba(0, 0, 0, 0.2),
         0 13px 19px 2px rgba(0, 0, 0, 0.14),
         0 5px 24px 4px rgba(0, 0, 0, 0.12);
     width: 500px;
   }

   .demo-dialog-content {
     padding: 0 15px;
     width: 100%;
	 background-color: white;
   }
   
   .demo-dialog-button {
     padding: 0 15px;
     width: 100%;
	 background-color: white;
   }



   .row-updated {
	   background-color: grey;
   }
   
   div.md-list-item-text > h3.primary-determination {
	   font-weight: 500 !important;
   }
   md-list md-list-item > md-icon.green-check {
   	color: #64DD17 ;
   }
   
   h3.vote-count {
	   margin-top: 0px;
	    margin-bottom: 0px;
   }
   
   ng-md-icon.green-thumb {
   	color: #64DD17 ;
   }
   
   ng-md-icon.red-thumb {
   	color: #D50000 ;
   }