<md-dialog aria-label="Forum" class="fullscreen-dialog" ng-cloak md-component-id="map-and-images-sidenav">
  
    <md-toolbar>
      <div class="md-toolbar-tools">
          <md-button class="md-icon-button" ng-click="cancel()">
            <ng-md-icon icon="arrow_back" aria-label="Close dialog"></ng-md-icon>
          </md-button>
        <h2>ID: {{obs.PrimaryUser.Initialer}}{{(obs.observationDateAccuracy !== 'invalid') ? (obs.observationDate.split('-')[0]) : ''}}-{{obs._id}}</h2>
        <span flex></span>
        
      </div>
    </md-toolbar>
      
    <md-dialog-content>

		  
	 <md-tabs md-dynamic-height md-border-bottom  ng-if="!$mdMedia('gt-sm')">
	        <md-tab label="Fundoplysninger">
	          <md-content class="md-padding">
			  <div layout="column" class="inset">
	            <span class="md-headline" ng-if="obs.PrimaryDetermination.Taxon.acceptedTaxon.Vernacularname_DK">{{obs.PrimaryDetermination.Taxon.acceptedTaxon.Vernacularname_DK.vernacularname_dk | capitalize}} </span>
				<span ng-class="(obs.PrimaryDetermination.Taxon.acceptedTaxon.Vernacularname_DK) ? 'md-subhead':'md-headline'"><em>{{obs.PrimaryDetermination.Taxon.acceptedTaxon.FullName}}</em> {{obs.PrimaryDetermination.Taxon.acceptedTaxon.Author}}</span>
	  		  <span ng-if="obs.PrimaryDetermination.Taxon.acceptedTaxon._id !== obs.PrimaryDetermination.Taxon._id" class="md-subheader"><br>Indlagt som <em>{{obs.PrimaryDetermination.Taxon.FullName}}</em> {{obs.PrimaryDetermination.Taxon.Author}}</span>
	  		  <span ng-if="obs.PrimaryDetermination.validation !== 'Godkendt' && obs.PrimaryDetermination.validation !== 'Afvist'">Dette fund er under godkendelse og bør ikke refereres før det er godkendt</span>
	  		  <span ng-if="obs.PrimaryDetermination.validation === 'Afvist'">Dette fund er på de givne oplysninger afvist da bestemmelsen er for usikker</span>
		  </div>
	   	     <md-list>
	  		 
	   	       <md-list-item class="md-2-line md-long-text">
	   	         <div class="md-list-item-text">	  				
	   	           <h3>Finder</span></h3>
	  			   <p>{{obs.PrimaryUser.name}} ({{obs.PrimaryUser.Initialer}})</p>
	   	         </div>
	  			   <md-divider  ng-if="!$last"></md-divider>                        
	   	       </md-list-item>
   	       <md-list-item class="md-2-line md-long-text">
   	         <div class="md-list-item-text">	  				
   	           <h3>Bestemmer</span></h3>
  			   <p ng-if="obs.PrimaryDetermination.User !== null">{{obs.PrimaryDetermination.User.name}} ({{obs.PrimaryDetermination.User.Initialer}})</p>
   	         </div>
  			   <md-divider  ng-if="!$last"></md-divider>                        
   	       </md-list-item>
   	       <md-list-item class="md-2-line md-long-text">
   	         <div class="md-list-item-text">	  				
   	           <h3>Lokalitet</span></h3>
  			   <p>{{obs.Locality.name}}</p>
   	         </div>
  			   <md-divider  ng-if="!$last"></md-divider>                        
   	       </md-list-item>
    	       <md-list-item class="md-2-line md-long-text">
    	         <div class="md-list-item-text">	  				
    	           <h3>Dato</span></h3>
   			   <p>{{(obs.observationDateAccuracy === 'day') ? (obs.observationDate | date : 'dd/MM/yyyy') : getDate(obs.observationDate, obs.observationDateAccuracy)}}</p>
    	         </div>
   			   <md-divider  ng-if="!$last"></md-divider>                        
    	       </md-list-item>
    	       <md-list-item class="md-2-line md-long-text">
    	         <div class="md-list-item-text">	  				
    	           <h3>Vært/mykorrhizapartner</span></h3>
   			   <p><span ng-repeat="tx in obs.associatedTaxa"> {{tx.DKandLatinName}}<span ng-if="!$last">, </span> </span></p>
    	         </div>
   			   <md-divider  ng-if="!$last"></md-divider>                        
    	       </md-list-item>
	   	       <md-list-item class="md-2-line md-long-text">
	   	         <div class="md-list-item-text">	  				
	   	           <h3>Substrat</span></h3>
	  			   <p>{{obs.Substrate.name}}</p>
	   	         </div>
	  			   <md-divider  ng-if="!$last"></md-divider>                        
	   	       </md-list-item>
	   	       <md-list-item class="md-2-line md-long-text">
	   	         <div class="md-list-item-text">	  				
	   	           <h3>Vegetationstype</span></h3>
	  			   <p>{{obs.VegetationType.name}}</p>
	   	         </div>
	  			   <md-divider  ng-if="!$last"></md-divider>                        
	   	       </md-list-item>
	   	       <md-list-item class="md-2-line md-long-text">
	   	         <div class="md-list-item-text">	  				
	   	           <h3>Kollektionsnummer</span></h3>
	  			   <p>{{obs.fieldnumber}}</p>
	   	         </div>
	  			   <md-divider  ng-if="!$last"></md-divider>                        
	   	       </md-list-item>
	   	       <md-list-item class="md-2-line md-long-text">
	   	         <div class="md-list-item-text">	  				
	   	           <h3>Herbarium</span></h3>
	  			   <p>{{obs.herbarium}}</p>
	   	         </div>
	  			   <md-divider  ng-if="!$last"></md-divider>                        
	   	       </md-list-item>
	   	       <md-list-item class="md-2-line md-long-text">
	   	         <div class="md-list-item-text">	  				
	   	           <h3>Økologi-kommentarer</span></h3>
	  			   <p>{{obs.ecologynote}}</p>
	   	         </div>
	  			   <md-divider  ng-if="!$last"></md-divider>                        
	   	       </md-list-item>
	   	       <md-list-item class="md-2-line md-long-text">
	   	         <div class="md-list-item-text">	  				
	   	           <h3>Bemærkninger</span></h3>
	  			   <p>{{obs.note}}</p>
	   	         </div>
	  			   <md-divider  ng-if="!$last"></md-divider>                        
	   	       </md-list-item>
        </md-list>
		   	     <md-list>
		  		 <md-subheader class="md-no-sticky">Kommentarer</md-subheader>
		   	       <md-list-item class="md-3-line md-long-text" ng-repeat="elm in forum">
		   
		  		   <user-avatar class="useravatar md-avatar" user="elm.User" ></user-avatar> 
	   
		   	         <div class="md-list-item-text">
		  				 <div layout-gt-xs="row" flex>
		   	           <h3><span ng-show="elm.user_id !== null">{{elm.User.name}}</span></h3>
					   <span ng-if="$mdMedia('gt-xs')" layout-fill flex></span>
		  			   <p >{{elm.createdAt | date : 'dd/MM/yyyy HH:mm'}}</p>
		  		   </div>
		  			   <p>{{elm.content}}</p>
 	           
          
		   	         </div>
 	        
			 
		  			   <md-divider class="forum-divider" ng-if="!$last"></md-divider>                        
		   	       </md-list-item>
		 	       <md-list-item class="md-3-line md-long-text comment-field" ng-if="isLoggedIn()">
		   
				   <user-avatar class="useravatar md-avatar" user="User" ></user-avatar> 
	   
		 	         <div class="md-list-item-text">
				
							 <div layout="row" layout-align="center end"

flex>
					   <form layout-fill>
					   <md-input-container class="md-block">
					             <label>Skriv kommentar</label>
					             <textarea ng-model="$parent.newComment"  rows="5" md-select-on-focus ng-disabled="$parent.sendingComment"></textarea>
					           </md-input-container>
					   
						   </form>
						   <md-button class="comment-submit" ng-show="$parent.newComment" ng-click="postComment(newComment)" ng-disabled="$parent.sendingComment">Send</md-button>
			   	        </div>
	  				
          
		 	         </div>
                
		 	       </md-list-item>
		   	     </md-list>
	          </md-content>
	        </md-tab>
	        <md-tab label="Kort">
	          <md-content class="md-padding">
	             <leaflet id="observationdetailmap" width="100%" height="350px" paths="mapsettings.paths" center="mapsettings.center" markers="mapsettings.markers" controls="mapsettings.controls" layers="mapsettings.layers"></leaflet>
				 <md-subheader class="md-no-sticky">Præcision: {{obs.accuracy}} m</md-subheader>
	          </md-content>
	        </md-tab>
	        <md-tab label="Billeder ({{obs.Images.length}})">
	          <md-content class="md-padding">
		      <md-grid-list
		            md-cols="1" 
		            md-row-height-gt-md="1:1" md-row-height="4:3"
		            md-gutter="8px" md-gutter-gt-sm="4px" >
		        <md-grid-tile ng-repeat="img in obs.Images" >
		          <img   style="max-width: 100%;" alt="{{obs.PrimaryDetermination.Taxon.FullName}}" ng-src="{{imageurl+img.name}}.jpg" imageonload="imageHasLoaded(img.name)" imageonerror="imageHasFailed(img.name)" ng-show="failed[img.name] !== true">
         
		        </md-grid-tile>
		      </md-grid-list>
	          </md-content>
	        </md-tab>
	      </md-tabs>
 <div md-dynamic-height md-border-bottom  ng-if="$mdMedia('gt-sm')" layout="row" layout-align="center start" flex>
    <md-card flex="60">
     
      <md-card-title>
        <md-card-title-text >
		 
          <span class="md-headline" ng-if="obs.PrimaryDetermination.Taxon.acceptedTaxon.Vernacularname_DK">{{obs.PrimaryDetermination.Taxon.acceptedTaxon.Vernacularname_DK.vernacularname_dk | capitalize}} </span>
		  <span ng-class="(obs.PrimaryDetermination.Taxon.acceptedTaxon.Vernacularname_DK) ? 'md-subhead':'md-headline'"><em>{{obs.PrimaryDetermination.Taxon.acceptedTaxon.FullName}}</em> {{obs.PrimaryDetermination.Taxon.acceptedTaxon.Author}}</span>
		  <span ng-if="obs.PrimaryDetermination.Taxon.acceptedTaxon._id !== obs.PrimaryDetermination.Taxon._id" class="md-subheader"><br>Indlagt som <em>{{obs.PrimaryDetermination.Taxon.FullName}}</em> {{obs.PrimaryDetermination.Taxon.Author}}</span>
		  <span ng-if="obs.PrimaryDetermination.validation !== 'Godkendt' && obs.PrimaryDetermination.validation !== 'Afvist'">Dette fund er under godkendelse og bør ikke refereres før det er godkendt</span>
		  <span ng-if="obs.PrimaryDetermination.validation === 'Afvist'">Dette fund er på de givne oplysninger afvist da bestemmelsen er for usikker</span>
        </md-card-title-text>
      </md-card-title >
      <md-card-content>
	  <table  class="table table-bordered observation-detail" st-table>
	
	  	<tbody >
	  	<tr >
	  		<td class="rightalign"><strong>Finder:</strong></td><td >{{obs.PrimaryUser.name}} ({{obs.PrimaryUser.Initialer}})</td>
			<td class="rightalign"><strong>Bestemmer:</strong></td><td ><span ng-if="obs.PrimaryDetermination.User !== null">{{obs.PrimaryDetermination.User.name}} ({{obs.PrimaryDetermination.User.Initialer}})</span></td>
		</tr >
	  	<tr >
	  		<td class="rightalign"><strong>Lokalitet:</strong></td><td>{{obs.Locality.name}} </td> 
			<td class="rightalign"><strong>Dato:</strong></td><td >{{(obs.observationDateAccuracy === 'day') ? (obs.observationDate | date : 'dd/MM/yyyy') : getDate(obs.observationDate, obs.observationDateAccuracy)}}</td>
		</tr >
	  	<tr >
	  		<td class="rightalign"><strong>Vært/mykorrhizapartner:</strong></td><td colspan="3"><span ng-repeat="tx in obs.associatedTaxa"> {{tx.DKandLatinName}}<span ng-if="!$last">, </span> </span></td> 
			
		</tr >
	  	<tr >
			<td class="rightalign"><strong>Substrat:</strong></td><td >{{obs.Substrate.name}}</td>
	  		<td class="rightalign"><strong>Vegetationstype:</strong></td><td>{{obs.VegetationType.name}}</td> 
			
		</tr >
	  	<tr >
			<td class="rightalign"><strong>Kollektionsnummer:</strong></td><td >{{obs.fieldnumber}}</td>
	  		<td class="rightalign"><strong>Herbarium:</strong></td><td>{{obs.herbarium}}</td> 
			
		</tr >
	  	<tr >
			<td class="rightalign"><strong>Økologi-kommentarer:</strong></td><td colspan="3">{{obs.ecologynote}}</td>
	  		
			
		</tr >	
	  	<tr >
			<td class="rightalign"><strong>Bemærkninger:</strong></td><td colspan="3">{{obs.note}}</td>
	  		
			
		</tr >	
	  	</tbody>
	  </table>
        
 	     <md-list>
		 <md-subheader class="md-no-sticky">Kommentarer</md-subheader>
 	       <md-list-item class="md-3-line md-long-text" ng-repeat="elm in forum">
		   
		   <user-avatar class="useravatar md-avatar" user="elm.User" ></user-avatar> 
	   
 	         <div class="md-list-item-text">
				 <div layout="row" flex>
 	           <h3><span ng-show="elm.user_id !== null">{{elm.User.name}}</span></h3>
			   <p class="layout-fill layout-align-end-start layout-row flex">{{elm.createdAt | date : 'dd/MM/yyyy HH:mm'}}</p>
		   </div>
			   <p>{{elm.content}}</p>
 	           
          
 	         </div>
 	        
			 
			   <md-divider class="forum-divider" ng-if="!$last"></md-divider>                        
 	       </md-list-item>
 	       <md-list-item class="md-3-line md-long-text comment-field" ng-if="isLoggedIn()">
		   
		   <user-avatar class="useravatar md-avatar" user="User" ></user-avatar> 
	   
 	         <div class="md-list-item-text">
				
					 <div layout="row" layout-align="center end" flex>
			   <form layout-fill>
			   <md-input-container class="md-block">
			             <label>Skriv kommentar</label>
			             <textarea ng-model="$parent.newComment"  rows="5" md-select-on-focus ng-disabled="$parent.sendingComment"></textarea>
			           </md-input-container>
					   
				   </form>
				   <md-button class="comment-submit" ng-show="$parent.newComment" ng-click="postComment(newComment)" ng-disabled="$parent.sendingComment">Send</md-button>
	   	        </div>
	  				
          
 	         </div>
                
 	       </md-list-item>
 	     </md-list>

      </md-card-content>
     
    </md-card>
	
	 <md-card flex="40" layout-padding>
	 <leaflet id="observationdetailmap" width="100%" height="250px" paths="mapsettings.paths" center="mapsettings.center" markers="mapsettings.markers" controls="mapsettings.controls" layers="mapsettings.layers"></leaflet>
	  <md-subheader class="md-no-sticky">Præcision: {{obs.accuracy}} m</md-subheader>
	 
	 
     <md-grid-list
           md-cols="1" 
           md-row-height-gt-md="1:1" md-row-height="4:3"
           md-gutter="8px" md-gutter-gt-sm="4px" >
       <md-grid-tile ng-repeat="img in obs.Images" >
         <img   style="max-width: 100%;" alt="{{obs.PrimaryDetermination.Taxon.FullName}}" ng-src="{{imageurl+img.name}}.jpg" imageonload="imageHasLoaded(img.name)" imageonerror="imageHasFailed(img.name)" ng-show="failed[img.name] !== true">
         
       </md-grid-tile>
     </md-grid-list>
	 
	  <!-- <div layout layout-margin ng-repeat="img in obs.Images">
		  
		   <md-progress-circular md-mode="indeterminate" ng-show="loaded[img.name] !== true && failed[img.name] !== true"></md-progress-circular>
	     <img   style="margin: auto; max-width: 100%; height:inherit;" alt="{{obs.PrimaryDetermination.Taxon.FullName}}" ng-src="{{imageurl+img.name}}.jpg" imageonload="imageHasLoaded(img.name)" imageonerror="imageHasFailed(img.name)" ng-show="failed[img.name] !== true">
	 </div> -->
 </md-card>
 </div>
     
    </md-dialog-content>
   
   <!-- <md-dialog-actions layout="row">
      <md-button href="http://en.wikipedia.org/wiki/Mango" target="_blank" md-autofocus>
        More on Wikipedia
      </md-button>
      <span flex></span>
      <md-button ng-click="answer('not useful')">
       Not Useful
      </md-button>
      <md-button ng-click="answer('useful')" style="margin-right:20px;">
        Useful
      </md-button>
    </md-dialog-actions> -->
  
</md-dialog>