	 <md-tabs md-dynamic-height md-border-bottom  ng-if="!$mdMedia('gt-sm')">
	        <md-tab label="Fundoplysninger">
	          <md-content class="md-padding">
			  <div layout="row" class="speeddial-parent" flex>
			  <div layout="column" class="inset" layout-fill>
	            <span class="md-headline" ng-if="obs.PrimaryDetermination.Taxon.acceptedTaxon.Vernacularname_DK">{{obs.PrimaryDetermination.Taxon.acceptedTaxon.Vernacularname_DK.vernacularname_dk | capitalize}} </span>
				<span ng-class="(obs.PrimaryDetermination.Taxon.acceptedTaxon.Vernacularname_DK) ? 'md-subhead':'md-headline'"><em>{{obs.PrimaryDetermination.Taxon.acceptedTaxon.FullName}}</em> {{obs.PrimaryDetermination.Taxon.acceptedTaxon.Author}}</span>
	  		  <span ng-if="obs.PrimaryDetermination.Taxon.acceptedTaxon._id !== obs.PrimaryDetermination.Taxon._id" class="md-subheader"><br>{{'Indlagt som' | translate}} <em>{{obs.PrimaryDetermination.Taxon.FullName}}</em> {{obs.PrimaryDetermination.Taxon.Author}}</span>
	  		  <span ng-if="obs.PrimaryDetermination.validation !== 'Godkendt' && obs.PrimaryDetermination.validation !== 'Afvist'">{{'Dette fund er under godkendelse og bør ikke refereres før det er godkendt' | translate}}</span>
	  		  <span ng-if="obs.PrimaryDetermination.validation === 'Afvist'">{{'Dette fund er på de givne oplysninger afvist da bestemmelsen er for usikker' | translate}}</span>
			  <span ng-if="obs.PrimaryDetermination.validation === 'Godkendt' && obs.PrimaryDetermination.Validator">{{'Dette fund er valideret og godkendt af' | translate}} <a ng-click="showUser(obs.PrimaryDetermination.Validator._id)">{{obs.PrimaryDetermination.Validator.name}} ({{obs.PrimaryDetermination.Validator.Initialer}})</a></span>
		  </div>
		
	  		<div class="validator-button-container" ng-if="Auth.hasRole('validator')" ng-include="'app/observationmodal/validatorbutton.tpl.html'">
		
	  	  </div>
	  </div>
	   	     <md-list>
	  		 
	   	       <md-list-item class="md-2-line md-long-text">
	   	         <div class="md-list-item-text">	  				
	   	           <h3>{{'Finder(e)' | translate}} <span ng-if="Auth.isLoggedIn()" >
				
				   				<md-icon ng-show="!addingUser && userIsFinder(Auth.getCurrentUser()) === false" md-font-icon="fa fa-user-plus" ng-click="addFinder(obs, Auth.getCurrentUser())" class="material-icons md-light md-48 md-primary" ></md-icon>
								<md-icon ng-show="!addingUser && userIsFinder(Auth.getCurrentUser())" ng-click="removeFinder(obs, Auth.getCurrentUser())" md-font-icon="fa fa-user-times" class="material-icons md-light md-48 md-primary" ></md-icon></span></h3>
				   <md-progress-linear ng-show="addingUser" md-mode="indeterminate"></md-progress-linear>
	  			   <p><span ng-repeat="usr in obs.users"> {{usr.name}} ({{usr.Initialer}})<span ng-if="!$last">, </span> </span>{{(obs.users.length > 0) ? "" : obs.verbatimLeg}}</p>
	   	         </div>
	  			   <md-divider  ng-if="!$last"></md-divider>                        
	   	       </md-list-item>
   	       <md-list-item class="md-2-line md-long-text">
   	         <div class="md-list-item-text">	  				
   	           <h3>{{'Bestemmer' | translate}}</h3>
  			   <p ng-if="obs.PrimaryDetermination.User !== null">{{obs.PrimaryDetermination.User.name}} ({{obs.PrimaryDetermination.User.Initialer}})</p>
			   <p ng-if="obs.PrimaryDetermination.User === null  && obs.PrimaryDetermination.verbatimdeterminator">{{obs.PrimaryDetermination.verbatimdeterminator}}</p>
   	         </div>
  			   <md-divider  ng-if="!$last"></md-divider>                        
   	       </md-list-item>
   	       <md-list-item class="md-2-line md-long-text">
   	         <div class="md-list-item-text">	  				
   	           <h3>{{'Lokalitet' | translate}}</h3>
  			   <p ng-if="obs.Locality">{{obs.Locality.name}}</p>
			   <p ng-if="!obs.Locality && obs.verbatimLocality">{{obs.verbatimLocality}}</p>
   	         </div>
  			   <md-divider  ng-if="!$last"></md-divider>                        
   	       </md-list-item>
    	       <md-list-item class="md-2-line md-long-text">
    	         <div class="md-list-item-text">	  				
    	           <h3>{{'Dato' | translate}}</h3>
   			   <p>{{(obs.observationDateAccuracy === 'day') ? (obs.observationDate | date : 'dd/MM/yyyy') : getDate(obs.observationDate, obs.observationDateAccuracy)}}</p>
    	         </div>
   			   <md-divider  ng-if="!$last"></md-divider>                        
    	       </md-list-item>
    	       <md-list-item class="md-2-line md-long-text">
    	         <div class="md-list-item-text">	  				
    	           <h3>{{'Vært/mykorrhizapartner' | translate}}</span></h3>
   			   <p><span ng-repeat="tx in obs.associatedTaxa"> {{tx.DKandLatinName}}<span ng-if="!$last">, </span> </span></p>
    	         </div>
   			   <md-divider  ng-if="!$last"></md-divider>                        
    	       </md-list-item>
	   	       <md-list-item class="md-2-line md-long-text">
	   	         <div class="md-list-item-text">	  				
	   	           <h3>{{'Substrat' | translate}}</h3>
				   <p> {{($translate.use() === 'en') ? obs.Substrate.name_uk : obs.Substrate.name}}</p>
	   	         </div>
	  			   <md-divider  ng-if="!$last"></md-divider>                        
	   	       </md-list-item>
	   	       <md-list-item class="md-2-line md-long-text">
	   	         <div class="md-list-item-text">	  				
	   	           <h3>{{'Vegetationstype' | translate}}</h3>
				   <p> {{($translate.use() === 'en') ? obs.VegetationType.name_uk : obs.VegetationType.name}}</p>
	   	         </div>
	  			   <md-divider  ng-if="!$last"></md-divider>                        
	   	       </md-list-item>
	   	       <md-list-item class="md-2-line md-long-text">
	   	         <div class="md-list-item-text">	  				
	   	           <h3>{{'Kollektionsnummer' | translate}}</h3>
	  			   <p>{{obs.fieldnumber}}</p>
	   	         </div>
	  			   <md-divider  ng-if="!$last"></md-divider>                        
	   	       </md-list-item>
	   	       <md-list-item class="md-2-line md-long-text">
	   	         <div class="md-list-item-text">	  				
	   	           <h3>{{'Herbarium' | translate}}</h3>
	  			   <p>{{obs.herbarium}}</p>
	   	         </div>
	  			   <md-divider  ng-if="!$last"></md-divider>                        
	   	       </md-list-item>
	   	       <md-list-item class="md-2-line md-long-text">
	   	         <div class="md-list-item-text">	  				
	   	           <h3>{{'Økologi-kommentarer' | translate}}</h3>
	  			   <p>{{obs.ecologynote}}</p>
	   	         </div>
	  			   <md-divider  ng-if="!$last"></md-divider>                        
	   	       </md-list-item>
	   	       <md-list-item class="md-2-line md-long-text">
	   	         <div class="md-list-item-text">	  				
	   	           <h3>{{'Bemærkninger' | translate}}</h3>
	  			   <p>{{obs.note}}</p>
	   	         </div>
	  			   <md-divider  ng-if="!$last"></md-divider>                        
	   	       </md-list-item>
	   	       <md-list-item class="md-2-line md-long-text" ng-if="Auth.hasRole('validator')">
	   	         <div class="md-list-item-text">	  				
	   	           <h3>{{'Intern note' | translate}}</h3>
	  			   <p>{{obs.noteInternal}}</p>
	   	         </div>
	  			   <md-divider  ng-if="!$last"></md-divider>                        
	   	       </md-list-item>
        </md-list>
		   	     <md-list>
		  		 <md-subheader class="md-no-sticky">{{'Kommentarer' | translate}}</md-subheader>
		   	       <md-list-item class="md-3-line md-long-text" ng-repeat="elm in forum">
		   
		  		   <user-avatar class="useravatar md-avatar" user="elm.User" ></user-avatar> 
	   
		   	         <div class="md-list-item-text">
		  				 <div layout-gt-xs="row" flex>
		   	           <h3><span ng-show="elm.user_id !== null">{{elm.User.name}}</span></h3>
					   <span ng-if="$mdMedia('gt-xs')" layout-fill flex></span>
		  			   <p >{{elm.createdAt | date : 'dd/MM/yyyy HH:mm'}}</p>
		  		   </div>
		  			   <p>{{elm.content}}</p>
 	           
          
		   	         </div>
 	        
			 
		  			   <md-divider class="forum-divider" ng-if="!$last"></md-divider>                        
		   	       </md-list-item>
		 	       <md-list-item class="md-3-line md-long-text comment-field" ng-if="isLoggedIn()">
		   
				   <user-avatar class="useravatar md-avatar" user="User" ></user-avatar> 
	   
		 	         <div class="md-list-item-text">
				
							 <div layout="row" layout-align="center end"

flex>
					   <form layout-fill>
					   <md-input-container class="md-block">
					             <label>{{'Skriv kommentar' | translate}}</label>
					             <textarea ng-model="ctrl.newComment"  rows="5" md-select-on-focus ng-disabled="ctrl.sendingComment"></textarea>
					           </md-input-container>
					   
						   </form>
						   <md-button class="comment-submit" ng-show="ctrl.newComment" ng-click="postComment()" ng-disabled="ctrl.sendingComment">{{'Send' | translate}}</md-button>
			   	        </div>
	  				
          
		 	         </div>
                
		 	       </md-list-item>
		   	     </md-list>
	          </md-content>
	        </md-tab>
	        <md-tab label="Kort">
	          <md-content class="md-padding">
	             <leaflet id="observationdetailmap" width="100%" height="350px" paths="mapsettings.paths" center="mapsettings.center" markers="mapsettings.markers" controls="mapsettings.controls" layers="mapsettings.layers"></leaflet>
				 <md-subheader class="md-no-sticky">{{'Præcision:' | translate}} {{obs.accuracy}} m</md-subheader>
	          </md-content>
	        </md-tab>
	        <md-tab label="Billeder ({{obs.Images.length}})">
	          <md-content class="md-padding">
		      <md-grid-list
		            md-cols="1" 
		            md-row-height-gt-md="1:1" md-row-height="4:3"
		            md-gutter="8px" md-gutter-gt-sm="4px" >
		        <md-grid-tile ng-repeat="img in obs.Images" >
		          <img   style="max-width: 100%;" alt="{{obs.PrimaryDetermination.Taxon.FullName}}" ng-src="{{imageurl+img.name}}.JPG" imageonload="imageHasLoaded(img.name)" imageonerror="imageHasFailed(img.name)" ng-show="failed[img.name] !== true">
         
		        </md-grid-tile>
		      </md-grid-list>
	          </md-content>
	        </md-tab>
	      </md-tabs>
 <div md-dynamic-height md-border-bottom  ng-if="$mdMedia('gt-sm')" layout="row" layout-align="center start" flex>
	
    <md-card flex="60">
     
      <md-card-title class="speeddial-parent">
        <md-card-title-text >
		 
          <span class="md-headline" ng-if="obs.PrimaryDetermination.Taxon.acceptedTaxon.Vernacularname_DK">{{obs.PrimaryDetermination.Taxon.acceptedTaxon.Vernacularname_DK.vernacularname_dk | capitalize}} </span>
		  <span ng-class="(obs.PrimaryDetermination.Taxon.acceptedTaxon.Vernacularname_DK) ? 'md-subhead':'md-headline'"><em>{{obs.PrimaryDetermination.Taxon.acceptedTaxon.FullName}}</em> {{obs.PrimaryDetermination.Taxon.acceptedTaxon.Author}}</span>
		  <span ng-if="obs.PrimaryDetermination.Taxon.acceptedTaxon._id !== obs.PrimaryDetermination.Taxon._id" class="md-subheader"><br>{{'Indlagt som' | translate}} <em>{{obs.PrimaryDetermination.Taxon.FullName}}</em> {{obs.PrimaryDetermination.Taxon.Author}}</span>
		  <span ng-if="obs.PrimaryDetermination.validation !== 'Godkendt' && obs.PrimaryDetermination.validation !== 'Afvist'">{{'Dette fund er under godkendelse og bør ikke refereres før det er godkendt' | translate}}</span>
		  <span ng-if="obs.PrimaryDetermination.validation === 'Afvist'">{{'Dette fund er på de givne oplysninger afvist da bestemmelsen er for usikker' | translate}}</span>
		  <span ng-if="obs.PrimaryDetermination.validation === 'Godkendt' && obs.PrimaryDetermination.Validator">{{'Dette fund er valideret og godkendt af' | translate}} <a ng-click="showUser(obs.PrimaryDetermination.Validator._id)">{{obs.PrimaryDetermination.Validator.name}} ({{obs.PrimaryDetermination.Validator.Initialer}})</a></span>
        </md-card-title-text>
		<div ng-if="Auth.hasRole('validator') && obs && obs.Determinations && obs.Determinations.length > 1">
			 <md-tooltip md-direction="left" >{{'Tidligere bestemmelser' | translate}}</md-tooltip>
			<md-button id="determinations-btn" class="md-icon-button md-primary demo-dialog-open-button" aria-label="Determinations" ng-click="showDeterminationsPanel($event)">
			        <md-icon md-font-icon="fa fa-tags fa-lg" class="material-icons md-light md-48 md-primary" ></md-icon>
			      </md-button>
			</div>
		
		<div class="validator-button-container" ng-if="Auth.hasRole('validator')" ng-include="'app/observationmodal/validatorbutton.tpl.html'">

	  </div>
      </md-card-title >
      <md-card-content>
	  <table  class="table table-bordered observation-detail" st-table>
	
	  	<tbody >
	  	<tr >
	  		<td class="rightalign"><span ng-if="Auth.isLoggedIn()" >
				
				<md-icon ng-show="!addingUser && userIsFinder(Auth.getCurrentUser()) === false" md-font-icon="fa fa-user-plus" ng-click="addFinder(obs, Auth.getCurrentUser())" class="material-icons md-light md-48 md-primary" ></md-icon><md-icon ng-show="!addingUser && userIsFinder(Auth.getCurrentUser())" ng-click="removeFinder(obs, Auth.getCurrentUser())" md-font-icon="fa fa-user-times" class="material-icons md-light md-48 md-primary" ></md-icon></span> 
				
				<strong>{{'Finder(e)' | translate}}:</strong>
			<md-progress-linear ng-show="addingUser" md-mode="indeterminate"></md-progress-linear>
			</td><td >
			
			<span ng-repeat="usr in obs.users"> {{usr.name}} ({{usr.Initialer}})<span ng-if="!$last">, </span> </span>{{(obs.users.length >0) ? "" : obs.verbatimLeg}}
			</td>
			<td class="rightalign"><strong>{{'Bestemmer' | translate}}:</strong></td><td ><span ng-if="obs.PrimaryDetermination.User !== null">{{obs.PrimaryDetermination.User.name}} ({{obs.PrimaryDetermination.User.Initialer}})</span>
		  
		   <span ng-if="obs.PrimaryDetermination.User === null  && obs.PrimaryDetermination.verbatimdeterminator">{{obs.PrimaryDetermination.verbatimdeterminator}}</span>
			</td>
		</tr >
	  	<tr >
	  		<td class="rightalign"><strong>{{'Lokalitet'| translate}}:</strong></td><td><span ng-if="obs.Locality">{{obs.Locality.name}}</span>
			   <span ng-if="!obs.Locality && obs.verbatimLocality">{{obs.verbatimLocality}}</span></td> 
			<td class="rightalign"><strong>{{'Dato' | translate}}:</strong></td><td >{{(obs.observationDateAccuracy === 'day') ? (obs.observationDate | date : 'dd/MM/yyyy') : getDate(obs.observationDate, obs.observationDateAccuracy)}}</td>
		</tr >
	  	<tr >
	  		<td class="rightalign"><strong>{{'Vært/mykorrhizapartner' | translate}}:</strong></td><td colspan="3"><span ng-repeat="tx in obs.associatedTaxa"> {{tx.DKandLatinName}}<span ng-if="!$last">, </span> </span></td> 
			
		</tr >
	  	<tr >
			<td class="rightalign"><strong>{{'Substrat' | translate}}:</strong></td><td ng-if="$translate.use() === 'dk'">{{obs.Substrate.name}}</td><td ng-if="$translate.use() === 'en'">{{obs.Substrate.name_uk}}</td>
	  		<td class="rightalign"><strong>{{'Vegetationstype' | translate}}:</strong></td><td>{{($translate.use() === 'en') ? obs.VegetationType.name_uk : obs.VegetationType.name}}</td> 
			
		</tr >
	  	<tr >
			<td class="rightalign"><strong>{{'Kollektionsnummer' | translate}}:</strong></td><td >{{obs.fieldnumber}}</td>
	  		<td class="rightalign"><strong>{{'Herbarium' | translate}}:</strong></td><td>{{obs.herbarium}}</td> 
			
		</tr >
	  	<tr >
			<td class="rightalign"><strong>{{'Økologi-kommentarer' | translate}}:</strong></td><td colspan="3">{{obs.ecologynote}}</td>
	  		
			
		</tr >	
	  	<tr >
			<td class="rightalign"><strong>{{'Bemærkninger' | translate}}:</strong></td><td colspan="3">{{obs.note}}</td>
	  		
			
		</tr >	
	  	<tr ng-if="Auth.hasRole('validator')">
			<td class="rightalign"><strong>{{'Intern note' | translate}}:</strong></td><td colspan="3">{{obs.noteInternal}}</td>
	  		
			
		</tr >
	  	</tbody>
	  </table>
        
 	     <md-list>
		 <md-subheader class="md-no-sticky">{{'Kommentarer' | translate}}</md-subheader>
 	       <md-list-item class="md-3-line md-long-text" ng-repeat="elm in forum">
		   
		   <user-avatar class="useravatar md-avatar" user="elm.User" ng-click="$state.go('userstats', {userid: elm.user_id}); cancel()"></user-avatar> 
	   
 	         <div class="md-list-item-text">
				 <div layout="row" flex>
 	           <h3><span ng-show="elm.user_id !== null">{{elm.User.name}}</span></h3>
			   <p class="layout-fill layout-align-end-start layout-row flex">{{elm.createdAt | date : 'dd/MM/yyyy HH:mm'}}</p>
		   </div>
			   <p>{{elm.content}}</p>
 	           
          
 	         </div>
 	        
			 
			   <md-divider class="forum-divider" ng-if="!$last"></md-divider>                        
 	       </md-list-item>
 	       <md-list-item class="md-3-line md-long-text comment-field" ng-if="isLoggedIn()">
		   
		   <user-avatar class="useravatar md-avatar" user="User" ></user-avatar> 
	   
 	         <div class="md-list-item-text">
				
					 <div layout="row" layout-align="center end" flex>
			   <form layout-fill>
			   <md-input-container class="md-block">
			             <label>{{'Skriv kommentar' | translate}}</label>
			             <textarea ng-model="ctrl.newComment"  rows="5" md-select-on-focus ng-disabled="ctrl.sendingComment"></textarea>
			           </md-input-container>
					   
				   </form>
				   <md-button class="comment-submit" ng-show="ctrl.newComment" ng-click="postComment()" ng-disabled="ctrl.sendingComment">{{'Send' | translate}}</md-button>
	   	        </div>
	  				
          
 	         </div>
                
 	       </md-list-item>
 	     </md-list>

      </md-card-content>
     
    </md-card>
	
	
	
	 <div flex="40" layout-padding>
	 <leaflet id="observationdetailmap" width="100%" height="250px" paths="mapsettings.paths" center="mapsettings.center" markers="mapsettings.markers" controls="mapsettings.controls" layers="mapsettings.layers"></leaflet>
	  <md-subheader class="md-no-sticky">{{'Præcision' | translate}}: {{obs.accuracy}} m</md-subheader>
	 
	 
     <md-grid-list
           md-cols="1" 
           md-row-height-gt-md="1:1" md-row-height="4:3"
           md-gutter="8px" md-gutter-gt-sm="4px" >
       <md-grid-tile ng-repeat="img in obs.Images" >
         <img   style="max-width: 100%;" alt="{{obs.PrimaryDetermination.Taxon.FullName}}" ng-src="{{imageurl+img.name}}.JPG" imageonload="imageHasLoaded(img.name)" imageonerror="imageHasFailed(img.name)" ng-show="failed[img.name] !== true" ng-click="openImage(img)">
    	       <md-grid-tile-footer class="obs-form-image">
    		   <md-button ng-if="Auth.hasRole('validator') && !img.hide" class="md-fab md-mini md-warn" aria-label="Hide"  ng-click='toggleHide(img, true)'>
              <i class="fa fa-eye-slash fa-2x hide-icon"></i> 
            </md-button>
    		   <md-button ng-if="Auth.hasRole('validator') && img.hide" class="md-fab md-mini md-warn" aria-label="Hide"  ng-click='toggleHide(img, false)'>
              <i class="fa fa-eye fa-2x hide-icon"></i> 
            </md-button>
		   
    		   <md-button ng-if="(Auth.hasRole('validator') || Auth.hasRole('taxonimageadmin') )&& img.Photographer.photopermission" class="md-fab md-mini md-warn" aria-label="Hide"  ng-click='addToSpeciesPage(img)'>
              <i class="fa fa-star fa-2x hide-icon"></i> 
            </md-button>
		  
		
    	   </md-grid-tile-footer> 
       </md-grid-tile>
     </md-grid-list>
	 
	  <!-- <div layout layout-margin ng-repeat="img in obs.Images">
		  
		   <md-progress-circular md-mode="indeterminate" ng-show="loaded[img.name] !== true && failed[img.name] !== true"></md-progress-circular>
	     <img   style="margin: auto; max-width: 100%; height:inherit;" alt="{{obs.PrimaryDetermination.Taxon.FullName}}" ng-src="{{imageurl+img.name}}.jpg" imageonload="imageHasLoaded(img.name)" imageonerror="imageHasFailed(img.name)" ng-show="failed[img.name] !== true">
	 </div> -->
 </div>
 </div>