
  
    <md-toolbar>
      <div class="md-toolbar-tools">
         <md-button class="md-icon-button" ng-click="openSideNav()" ng-show="!mdSidenav('left').isOpen() && !mdSidenav('left').isLockedOpen()" aria-label="Menu" ng-controller="SideNavBtnCtrl">
           <ng-md-icon icon="menu"></ng-md-icon>
         </md-button>
        <h2>ID: DMS-{{obs._id}}</h2>
        <span flex></span>
  		<div>
  		 <md-tooltip md-direction="bottom" >{{'Del fund' | translate}}</md-tooltip>
		 <sharing mail-subject="(obs.PrimaryDetermination.Taxon.acceptedTaxon.Vernacularname_DK ? (obs.PrimaryDetermination.Taxon.acceptedTaxon.Vernacularname_DK.vernacularname_dk | capitalize) +' ('+obs.PrimaryDetermination.Taxon.acceptedTaxon.FullName+')' : obs.PrimaryDetermination.Taxon.acceptedTaxon.FullName)+' DMS-'+obs._id" mail-body="baseUrl+'/observations/'+obs._id" sharing-uri="baseUrl+'/observations/'+obs._id"> </sharing>
  	<!--  <md-menu md-position-mode="target-right target" >
	 
  	            <md-button aria-label="Open demo menu" class="md-icon-button" ng-click="$mdOpenMenu($event)">
  	               <ng-md-icon icon="share" ></ng-md-icon>
  	            </md-button>
  	            <md-menu-content width="3" >
  	              <md-menu-item >
  	                <md-button ng-click="shareOnFacebook()">
  	                    <div layout="row" flex>
							
  	                      <p flex><ng-md-icon icon="facebook" style="margin: auto 3px auto 0;"></ng-md-icon> {{'Facebook' | translate}}</p>
	                      
  	                    </div>
  	                </md-button>
  	              </md-menu-item>
  	              <md-menu-item >
  	                <md-button ng-click="sendMail('', (obs.PrimaryDetermination.Taxon.acceptedTaxon.Vernacularname_DK ? (obs.PrimaryDetermination.Taxon.acceptedTaxon.Vernacularname_DK.vernacularname_dk | capitalize) +' ('+obs.PrimaryDetermination.Taxon.acceptedTaxon.FullName+')' : obs.PrimaryDetermination.Taxon.acceptedTaxon.FullName)+' DMS-'+obs._id, 'http://svampe.databasen.org/observations/'+obs._id )">
  	                    <div layout="row" flex>
							
  	                      <p flex><ng-md-icon  icon="email" style="margin: auto 3px auto 0;"></ng-md-icon> {{'Email'  | translate}}</p>
	                      
						 
  	                    </div>
  	                </md-button>
  	              </md-menu-item>
	          
  	            </md-menu-content>
  	          </md-menu>-->
  		</div>
		
   <span><md-tooltip md-direction="bottom" >{{'Ret fund' | translate}}</md-tooltip>
	 <md-button ng-click="editRecord()" ng-if="obs.primaryuser_id === Auth.getCurrentUser()._id || Auth.hasRole('validator')"
	                  aria-label="Ret fund"
	                  class="md-icon-button" >
	         <ng-md-icon icon="edit" ></ng-md-icon>
	       </md-button>
	   </span>
	  <md-menu md-position-mode="target-right target" >
	            <md-button aria-label="Open demo menu" class="md-icon-button" ng-click="$mdMenu.open($event)">
	               <ng-md-icon icon="more_vert" ></ng-md-icon>
	            </md-button>
	            <md-menu-content width="4" >
	              <md-menu-item  >
							
					
					 <md-button 
					                  aria-label="Kopiér funddata til udklipsholder"
					                   >
					       <p class="clipboard-copy" data-clipboard-text="{{obs.PrimaryDetermination.Taxon.acceptedTaxon.Vernacularname_DK ? (obs.PrimaryDetermination.Taxon.acceptedTaxon.Vernacularname_DK.vernacularname_dk | capitalize) +', ' : ''}}{{obs.PrimaryDetermination.Taxon.acceptedTaxon.FullName}}, {{obs.Locality ? obs.Locality.name +', ': ''}}{{!obs.Locality && obs.verbatimLocality ? obs.verbatimLocality+', ' : ''}}{{'lat: '+obs.decimalLatitude.toFixed(7) +' lon: '+obs.decimalLongitude.toFixed(7)+', '}}{{(obs.observationDateAccuracy === 'day') ? (obs.observationDate | date : 'dd/MM/yyyy') : getDate(obs.observationDate, obs.observationDateAccuracy)}}, Leg: {{obs.users | getUserNamesAsList}}, Det: {{obs.PrimaryDetermination.User ? obs.PrimaryDetermination.User.name : ''}}{{obs.PrimaryDetermination.User === null  && obs.PrimaryDetermination.verbatimdeterminator ? obs.PrimaryDetermination.verbatimdeterminator : ''}}, DMS-{{obs._id}}" flex> {{'Kopier funddata til udklipsholder' | translate}}</p>
					       </md-button>	
					
	              </md-menu-item>
				 
	              <md-menu-item class="clipboard-copy" data-clipboard-text="{{obs.PrimaryDetermination.Taxon.acceptedTaxon.FullName.split(' ').join('-')}}-DMS-{{obs._id}}">
				 <md-button 
				                  aria-label="Kopiér kort fund reference"
				                   >
	                <p  flex>  {{'Kopier kort fundreference' | translate}} </p>
				     </md-button>
	              </md-menu-item>
				  <md-menu-item ng-if="Auth.isLoggedIn()">
		  		
		  	    <md-button  aria-label="Udskriv kapsel" ng-click="openCapsule(obs._id)">
		  	           <p flex> {{'Udskriv kapsel' | translate}}</p>
		  	          </md-button>
	              </md-menu-item>
				  <md-menu-item ng-if="Auth.isLoggedIn()">
		  		
		  	    <md-button  aria-label="Kopiér fund" ng-click="editRecord(true)">
		  	           <p flex> {{'Klon fund' | translate}}</p>
		  	          </md-button>
	              </md-menu-item>
  				  <md-menu-item ng-if="Auth.isLoggedIn()">
		  		
  		  	    <md-button  aria-label="Kopiér fund" ng-click="ctrl.ValidatorNotificationModalService.show($event, obs)">
  		  	           <p flex> {{'Kontakt validator' | translate}}</p>
  		  	          </md-button>
  	              </md-menu-item>
				  
	            </md-menu-content>
	          </md-menu>
      </div>
    </md-toolbar>
      
    <md-content class="observation-body" ng-include="'app/observationmodal/observation.tpl.html'">

		  
	
    </md-content>
   
   <!-- <md-dialog-actions layout="row">
      <md-button href="http://en.wikipedia.org/wiki/Mango" target="_blank" md-autofocus>
        More on Wikipedia
      </md-button>
      <span flex></span>
      <md-button ng-click="answer('not useful')">
       Not Useful
      </md-button>
      <md-button ng-click="answer('useful')" style="margin-right:20px;">
        Useful
      </md-button>
    </md-dialog-actions> -->
  
