<md-dialog aria-label="Forum" class="fullscreen-dialog" ng-cloak md-component-id="map-and-images-sidenav">
  
    <md-toolbar>
      <div class="md-toolbar-tools">
          <md-button class="md-icon-button" ng-click="cancel()">
            <ng-md-icon icon="arrow_back" aria-label="Close dialog"></ng-md-icon>
          </md-button>
        <h2>Danmarks Svampeatlas observations-ID: {{obs._id}}</h2>
        <span flex></span>
        
      </div>
    </md-toolbar>
      
    <md-dialog-content>

		  
	 <md-tabs md-dynamic-height md-border-bottom  ng-if="!$mdMedia('gt-sm')">
	        <md-tab label="Fundoplysninger">
	          <md-content class="md-padding">
	            <span class="md-headline">{{obs.PrimaryDetermination.Taxon.acceptedTaxon.Vernacularname_DK.vernacularname_dk | capitalize}} {{(obs.PrimaryDetermination.Taxon.acceptedTaxon.Vernacularname_DK) ? "(" : ""}}<em>{{obs.PrimaryDetermination.Taxon.acceptedTaxon.FullName}}</em> {{obs.PrimaryDetermination.Taxon.acceptedTaxon.Author}}{{(obs.PrimaryDetermination.Taxon.acceptedTaxon.Vernacularname_DK) ? ")": ""}}</span>
	  		  <span ng-if="obs.PrimaryDetermination.Taxon.acceptedTaxon._id !== obs.PrimaryDetermination.Taxon._id" class="md-subheader"><br>Indlagt som <em>{{obs.PrimaryDetermination.Taxon.FullName}}</em> {{obs.PrimaryDetermination.Taxon.Author}}</span>
	  		  <span ng-if="obs.PrimaryDetermination.validation !== 'Godkendt' && obs.PrimaryDetermination.validation !== 'Afvist'">Dette fund er under godkendelse og bør ikke refereres før det er godkendt</span>
	  		  <span ng-if="obs.PrimaryDetermination.validation === 'Afvist'">Dette fund er på de givne oplysninger afvist da bestemmelsen er for usikker</span>
	            <div ng-include="'app/observationmodal/fundoplysninger.tpl.html'"></div>
	          </md-content>
	        </md-tab>
	        <md-tab label="Kort">
	          <md-content class="md-padding">
	             <leaflet width="100%" height="250px" center="mapsettings.center" markers="mapsettings.markers" controls="mapsettings.controls" layers="mapsettings.layers"></leaflet>
	          </md-content>
	        </md-tab>
	        <md-tab label="Billeder">
	          <md-content class="md-padding">
		      <md-grid-list
		            md-cols="1" 
		            md-row-height-gt-md="1:1" md-row-height="4:3"
		            md-gutter="8px" md-gutter-gt-sm="4px" >
		        <md-grid-tile ng-repeat="img in obs.Images" >
		          <img   style="max-width: 100%;" alt="{{obs.PrimaryDetermination.Taxon.FullName}}" ng-src="{{imageurl+img.name}}.jpg" imageonload="imageHasLoaded(img.name)" imageonerror="imageHasFailed(img.name)" ng-show="failed[img.name] !== true">
         
		        </md-grid-tile>
		      </md-grid-list>
	          </md-content>
	        </md-tab>
	      </md-tabs>
 <div md-dynamic-height md-border-bottom  ng-if="$mdMedia('gt-sm')" layout="row" flex>
    <md-card flex="60" layout-fill>
     
      <md-card-title>
        <md-card-title-text >
		 
          <span class="md-headline">{{obs.PrimaryDetermination.Taxon.acceptedTaxon.Vernacularname_DK.vernacularname_dk | capitalize}} {{(obs.PrimaryDetermination.Taxon.acceptedTaxon.Vernacularname_DK) ? "(" : ""}}<em>{{obs.PrimaryDetermination.Taxon.acceptedTaxon.FullName}}</em> {{obs.PrimaryDetermination.Taxon.acceptedTaxon.Author}}{{(obs.PrimaryDetermination.Taxon.acceptedTaxon.Vernacularname_DK) ? ")": ""}}</span>
		  <span ng-if="obs.PrimaryDetermination.Taxon.acceptedTaxon._id !== obs.PrimaryDetermination.Taxon._id" class="md-subheader"><br>Indlagt som <em>{{obs.PrimaryDetermination.Taxon.FullName}}</em> {{obs.PrimaryDetermination.Taxon.Author}}</span>
		  <span ng-if="obs.PrimaryDetermination.validation !== 'Godkendt' && obs.PrimaryDetermination.validation !== 'Afvist'">Dette fund er under godkendelse og bør ikke refereres før det er godkendt</span>
		  <span ng-if="obs.PrimaryDetermination.validation === 'Afvist'">Dette fund er på de givne oplysninger afvist da bestemmelsen er for usikker</span>
        </md-card-title-text>
      </md-card-title >
      <md-card-content ng-include="'app/observationmodal/fundoplysninger.tpl.html'">

      </md-card-content>
     
    </md-card>
	
	 <md-card flex="40" layout-padding>
	 <leaflet width="100%" height="250px" center="mapsettings.center" markers="mapsettings.markers" controls="mapsettings.controls" layers="mapsettings.layers"></leaflet>
	 
	 
     <md-grid-list
           md-cols="1" 
           md-row-height-gt-md="1:1" md-row-height="4:3"
           md-gutter="8px" md-gutter-gt-sm="4px" >
       <md-grid-tile ng-repeat="img in obs.Images" >
         <img   style="max-width: 100%;" alt="{{obs.PrimaryDetermination.Taxon.FullName}}" ng-src="{{imageurl+img.name}}.jpg" imageonload="imageHasLoaded(img.name)" imageonerror="imageHasFailed(img.name)" ng-show="failed[img.name] !== true">
         
       </md-grid-tile>
     </md-grid-list>
	 
	  <!-- <div layout layout-margin ng-repeat="img in obs.Images">
		  
		   <md-progress-circular md-mode="indeterminate" ng-show="loaded[img.name] !== true && failed[img.name] !== true"></md-progress-circular>
	     <img   style="margin: auto; max-width: 100%; height:inherit;" alt="{{obs.PrimaryDetermination.Taxon.FullName}}" ng-src="{{imageurl+img.name}}.jpg" imageonload="imageHasLoaded(img.name)" imageonerror="imageHasFailed(img.name)" ng-show="failed[img.name] !== true">
	 </div> -->
 </md-card>
 </div>
     
    </md-dialog-content>
   
   <!-- <md-dialog-actions layout="row">
      <md-button href="http://en.wikipedia.org/wiki/Mango" target="_blank" md-autofocus>
        More on Wikipedia
      </md-button>
      <span flex></span>
      <md-button ng-click="answer('not useful')">
       Not Useful
      </md-button>
      <md-button ng-click="answer('useful')" style="margin-right:20px;">
        Useful
      </md-button>
    </md-dialog-actions> -->
  
</md-dialog>