
   
   
   .fullscreen-dialog {
       max-width: 100%; 
       max-height: 100%;
       width: 100%;
       height: 100%;
       border-radius: 0;
   }
   
   table.observation-detail td.rightalign {
     text-align: right;
   }
   
  .forum-divider {
   	left: 74px;
    width: calc(100% - 74px);
   }
   
   .comment-field {
   	padding: 0px 16px;
   }
   
   .comment-submit {
   	margin-bottom: 42px;
   }
   
   .validator-button-container {
	   height: 60px !important;
   }
   
   
   
   .demo-md-panel {
     min-height: 500px;
   }

   .demo-dialog-example {
     background: white;
     border-radius: 4px;
     box-shadow: 0 7px 8px -4px rgba(0, 0, 0, 0.2),
         0 13px 19px 2px rgba(0, 0, 0, 0.14),
         0 5px 24px 4px rgba(0, 0, 0, 0.12);
	 	width: 50%;
	 	height: 600px;

	 	position: absolute;
	 	top:0;
	 	bottom: 0;
	 	left: 0;
	 	right: 0;
	
	 	margin: auto;
   }

   .demo-dialog-content {
     padding: 0 15px;
     width: 100%;
	 background-color: white;
	 
   }


   .row-updated {
	   background-color: grey;
   }
   
   div.md-list-item-text > h3.primary-determination {
	   font-weight: 500 !important;
   }
   .green-check {
   	color: #64DD17 ;
   }
   
   h3.vote-count {
	   margin-top: 0px;
	    margin-bottom: 0px;
   }
   
   ng-md-icon.green-thumb {
   	color: #64DD17 ;
   }
   
   ng-md-icon.red-thumb {
   	color: #D50000 ;
   }
   
   md-card-content > md-list > div.md-subheader {
	   background-color: #fff !important;
   }
   
   .detemination-icon-container > md-icon {
	   margin-right: 6px;
	   margin-top: 24px;
   
   }
   
   .detemination-icon-container > md-menu > button.md-icon-button{
	  
	   margin-top: 14px;
   
   }
      
   @media screen and (max-width: 599px) {

	   .md-list-item-text {
		   margin-left: 0px;
	   }
	   .determination-panel {
		   margin: 0px;
	   }
   }
   @media screen and (min-width: 600px) {
	   .determination-panel {
		   margin: 8px;
	   }
   }
   
.vote-btn {
	min-width: 40px;
}

.determination-error-toast {
	margin-top: 60px;
}


table.log-table > thead, table.log-table > tbody { 
	display: block; 
	
}



table.log-table > tbody {
	height: 500px;
           /* Just for the demo          */
    overflow-y: scroll;    /* Trigger vertical scroll    */
	 overflow-x: hidden;
}






