	<md-fab-speed-dial md-open="validatorButtonIsOpen" md-direction="down"
	                         class='md-scale'>
	        <md-fab-trigger>
	          <md-button aria-label="menu" class="md-fab md-warn">
		  
	            <ng-md-icon icon="thumbs_up_down"></ng-md-icon>
	          </md-button>
	        </md-fab-trigger>
	        <md-fab-actions>
	          <md-button aria-label="accept" class="md-fab md-raised md-mini" ng-if="obs.PrimaryDetermination.validation !== 'Godkendt'" ng-click="updateValidation('Godkendt')">
			  <md-tooltip md-direction="left" >Godkend</md-tooltip>
	            <ng-md-icon icon="thumb_up"></ng-md-icon>
	          </md-button>
	          <md-button aria-label="reject" class="md-fab md-raised md-mini" ng-if="obs.PrimaryDetermination.validation !== 'Afventer'" ng-click="updateValidation('Afventer')">
			   <md-tooltip md-direction="left" >Afventer</md-tooltip>
	           <ng-md-icon icon="pause"></ng-md-icon>
	          </md-button>
	          <md-button aria-label="reject" class="md-fab md-raised md-mini" ng-if="obs.PrimaryDetermination.validation !== 'Afvist'" ng-click="updateValidation('Afvist')">
			   <md-tooltip md-direction="left" >Afvis</md-tooltip>
	           <ng-md-icon icon="thumb_down"></ng-md-icon>
	          </md-button>
	         <md-button aria-label="add determination" class="md-fab md-raised md-mini" ng-click="showDeterminationDialog($event, obs)">
			  <md-tooltip md-direction="left" >Ombestem</md-tooltip>
	            <ng-md-icon icon="undo"></ng-md-icon>
	          </md-button> 
 	         <md-button aria-label="add determination" class="md-fab md-raised md-mini" ng-click="showDeterminationEditDialog($event, obs)">
 			  <md-tooltip md-direction="left" >Ret bestemmelse</md-tooltip>
 	            <ng-md-icon icon="edit"></ng-md-icon>
 	          </md-button>
			  
 	         <md-button aria-label="Delete observation" class="md-fab md-raised md-mini" ng-click="deleteObs($event, obs)">
 			  <md-tooltip md-direction="left" >Slet</md-tooltip>
 	            <ng-md-icon icon="delete_forever"></ng-md-icon>
 	          </md-button>
	        </md-fab-actions>
	      </md-fab-speed-dial>