<!--	<md-fab-speed-dial  md-direction="down"
	                         class='md-scale'>
	        <md-fab-trigger>
	          <md-button aria-label="menu" class="md-fab md-warn">
		  
	            <ng-md-icon icon="thumbs_up_down"></ng-md-icon>
	          </md-button>
	        </md-fab-trigger>
	        <md-fab-actions>
	          <md-button aria-label="accept" class="md-fab md-raised md-mini" ng-if="obs.PrimaryDetermination.validation !== 'Godkendt'" ng-click="updateValidation('Godkendt')">
			  <md-tooltip md-direction="left" >Godkend</md-tooltip>
	            <ng-md-icon icon="thumb_up"></ng-md-icon>
	          </md-button>
	          <md-button aria-label="reject" class="md-fab md-raised md-mini" ng-if="obs.PrimaryDetermination.validation !== 'Afventer'" ng-click="updateValidation('Afventer')">
			   <md-tooltip md-direction="left" >Afventer</md-tooltip>
	           <ng-md-icon icon="pause"></ng-md-icon>
	          </md-button>
	          <md-button aria-label="reject" class="md-fab md-raised md-mini" ng-if="obs.PrimaryDetermination.validation !== 'Afvist'" ng-click="updateValidation('Afvist')">
			   <md-tooltip md-direction="left" >Afvis</md-tooltip>
	           <ng-md-icon icon="thumb_down"></ng-md-icon>
	          </md-button>
	         <md-button aria-label="add determination" class="md-fab md-raised md-mini" ng-click="showDeterminationDialog($event, obs)">
			  <md-tooltip md-direction="left" >Ombestem</md-tooltip>
	            <ng-md-icon icon="undo"></ng-md-icon>
	          </md-button> 
 	         <md-button aria-label="add determination" class="md-fab md-raised md-mini" ng-click="showDeterminationEditDialog($event, obs)">
 			  <md-tooltip md-direction="left" >Ret bestemmelse</md-tooltip>
 	            <ng-md-icon icon="edit"></ng-md-icon>
 	          </md-button>
			  
 	         <md-button aria-label="Delete observation" class="md-fab md-raised md-mini" ng-click="deleteObs($event, obs)">
 			  <md-tooltip md-direction="left" >Slet</md-tooltip>
 	            <ng-md-icon icon="delete_forever"></ng-md-icon>
 	          </md-button>
	        </md-fab-actions>
	      </md-fab-speed-dial> -->
		  
		  
		  
		  
		  
		  
		  
		  
		  
	      <md-menu md-position-mode="target-right target" >
	        <md-button aria-label="menu" class="md-fab md-warn" ng-click="openMenu($mdOpenMenu, $event)">
	          <ng-md-icon icon="thumbs_up_down"></ng-md-icon>
	        </md-button>
	        <md-menu-content width="3">
			
			<md-menu-item  ng-if="obs.PrimaryDetermination.validation !== 'Godkendt'">
 	          <md-button aria-label="accept"  ng-if="obs.PrimaryDetermination.validation !== 'Godkendt'" ng-click="updateValidation('Godkendt')">
 			  <md-tooltip md-direction="left" ></md-tooltip>
 	            <ng-md-icon icon="thumb_up"></ng-md-icon> {{"Godkend" | translate}}
 	          </md-button>
		  </md-menu-item>
		  <md-menu-item ng-if="obs.PrimaryDetermination.validation !== 'Afventer'">
 	          <md-button aria-label="reject"  ng-if="obs.PrimaryDetermination.validation !== 'Afventer'" ng-click="updateValidation('Afventer')">
 			   
 	           <ng-md-icon icon="pause"></ng-md-icon> {{"Afventer" | translate}}
 	          </md-button>
			  </md-menu-item>
			  <md-menu-item ng-if="obs.PrimaryDetermination.validation !== 'Afvist'">
 	          <md-button aria-label="reject"  ng-if="obs.PrimaryDetermination.validation !== 'Afvist'" ng-click="updateValidation('Afvist')">
 			   
 	           <ng-md-icon icon="thumb_down"></ng-md-icon> {{"Afvis" | translate}}
 	          </md-button>
			  </md-menu-item>
			  <md-menu-item>
 	         <md-button aria-label="add determination"  ng-click="ctrl.DeterminationModalService.show($event, obs, 'validatorbutton', false)">
 			  
 	            <ng-md-icon icon="undo"></ng-md-icon> {{"Ombestem" | translate}}
 	          </md-button> 
			  </md-menu-item>
			  <md-menu-item>
  	         <md-button aria-label="Edit determination"  ng-click="ctrl.DeterminationModalService.show($event, obs, 'validatorbutton', true)">
  			  
  	            <ng-md-icon icon="edit"></ng-md-icon> {{"Ret bestemmelse" | translate}}
  	          </md-button>
			  </md-menu-item>
			  <md-menu-item>
  	         <md-button aria-label="Delete observation"  ng-click="deleteObs($event, obs)">
  			 
  	            <ng-md-icon icon="delete_forever"></ng-md-icon> {{"Slet" | translate}}
  	          </md-button>
	  </md-menu-item>
	 
       
	        </md-menu-content>
	      </md-menu>