<div  ng-controller="TaxonTabsCtrl" ng-include="'app/taxontabs/taxontabs.html'">	
	
</div>
<div class="container">

	
	    	<div class="row"  ng-if="stateParams.id">
				<md-button ng-click="toggleIframe()"
				            class="md-primary">
				            {{'Maps, graphs from atlas' | translate}}
				          </md-button> <md-button ng-click="toggleSimilarSpecies()"
				            class="md-primary">
				            {{'Similar species' | translate}}
				          </md-button> 
				<md-sidenav class="md-sidenav-right md-whiteframe-z2 iframe-sidenav" md-component-id="iframeAside">
				      <md-toolbar class="md-theme-light">
				        <h1 class="md-toolbar-tools">{{'Maps, graphs from atlas' | translate}}</h1>
				      </md-toolbar>
				      <md-content  layout="row" layout-padding>
				       
				        <md-button ng-click="closeSideNav('iframeAside')" class="md-primary">
				          {{'Close' | translate}}
				        </md-button>
				        <md-button  class="md-primary" href="{{getIframeSrc()}}" target="_BLANK">
				         <i class="fa fa-external-link"></i> {{'Open in new tab' | translate}}
				        </md-button>
						
						
				      </md-content>
					  <md-content  layout-padding>
					  <iframe ng-src="{{getIframeSrc()}}" width="450" height="1200"></iframe>
					   </md-content>
				    </md-sidenav>
					<md-sidenav class="md-sidenav-right md-whiteframe-z2 iframe-sidenav" md-component-id="similarAside">
					      <md-toolbar class="md-theme-light">
					        <h1 class="md-toolbar-tools">{{'Similar species' | translate}}</h1>
					      </md-toolbar>
					      <md-content layout="row"  layout-padding>
				       
					        <md-button ng-click="closeSideNav('similarAside')" class="md-primary">
					           {{'Close' | translate}}
					        </md-button>
					         </md-content>
							<md-content  layout-padding>
							<table id="sibling-table">

							  <tr class="parent-taxon-table" ng-repeat="sibling in taxon.siblings"><td class="parent-taxon-table" st-ratio="100"><strong><a href="/taxonbase/taxonbooklayout/{{sibling._id}}">{{sibling.FullName}} {{sibling.Author}}</a> <span ng-show="sibling.vernacularname_dk">- {{sibling.vernacularname_dk}}</span></strong><br>
								  {{sibling.attributes.diagnose}}<br>
								  {{sibling.attributes.forvekslingsmuligheder}}<br><br>
								  {{sibling.attributes.oekologi}}
								  <hr></td></tr>
				 

							</table>
						
					      </md-content>
					    </md-sidenav>
			<div class="col-md-8" >
			<h2><em>{{taxon.FullName}}</em> {{taxon.Author}}		
			</h2>
			<div class="alert alert-warning" role="alert" ng-show="taxon.acceptedTaxon && taxon.acceptedTaxon._id !== taxon._id"><strong>Synonym of: </strong><a href="/taxonbase/taxonbooklayout/{{taxon.acceptedTaxon._id}}"> {{taxon.acceptedTaxon.FullName}}</a> ( {{taxon.acceptedTaxon.DKnavn}} 	) <button class="btn btn-xs btn-danger pull-right"  ng-click="unlinkSynonym()" tabindex="0">Unlink synonym</button></div>
			<div class="alert alert-danger col-md-12" role="alert" ng-show="taxon.parent_id === null"><strong>Orphant taxon! </strong> Please add parent Taxon in the actions menu on the right. 

			</div>
			
			<h4 ng-show="taxon._id !== undefined"><strong translate>DK name: </strong> <a href="#" editable-text="taxon.vernacularname_dk"  onaftersave="Taxon.update({id: taxon._id}, taxon)"><em>{{ taxon.vernacularname_dk || 'n/a' }}</em></a> </h4> <div  ng-show="taxon._id && taxon.RankID > 5000" layout="row" >
    <md-checkbox  ng-model="taxon.attributes.PresentInDK" ng-change="Taxon.updateAttributes({id: taxon._id}, taxon.attributes)">
	{{'Present in DK' | translate}}
  </md-checkbox>
</div>
			
			
			<p><small><em>{{taxon.SystematicPath}}</em></small></p>
			<p><small><strong translate>Taxon rank: </strong><em> {{taxon.RankName}}</em></small> 
			</p>
			</div>
			<div class="col-md-4" >
				
			</div>
			</div>

<div class="row">
			<div class="col-md-6" ng-show="taxon._id !== undefined"  ng-if="stateParams.id">
	
	
					<label class="control-label" for="diagnose">Diagnose</label>
					<div>
			<a href="#" id="diagnose" editable-textarea="taxon.attributes.diagnose" e-rows="7" e-cols="40" onaftersave="Taxon.updateAttributes({id: taxon._id}, taxon.attributes)">
			    <div class="x-editable-texarea">{{ taxon.attributes.diagnose || 'n/a' }}</div>
			  </a>
			  </div>
			  
			  <label class="control-label" for="forvekslingsmuligheder">Forvekslingsmuligheder</label>
			  <div>
			  <a href="#" id="forvekslingsmuligheder" editable-textarea="taxon.attributes.forvekslingsmuligheder" e-rows="7" e-cols="40" onaftersave="Taxon.updateAttributes({id: taxon._id}, taxon.attributes)">
			      <div class="x-editable-texarea">{{ taxon.attributes.forvekslingsmuligheder || 'n/a' }}</div>
			    </a>
  			  </div>
  			  
  			  <label class="control-label" for="udbredelse">Udbredelse, hyppighed, årstid</label>
			  <div>
  			  <a href="#" id="bogtekst_faenologi_udbredelse" editable-textarea="taxon.attributes.bogtekst_faenologi_udbredelse" e-rows="7" e-cols="40" onaftersave="Taxon.updateAttributes({id: taxon._id}, taxon.attributes)">
  			      <div class="x-editable-texarea">{{ taxon.attributes.bogtekst_faenologi_udbredelse || 'n/a' }}</div>
  			    </a>
  			  </div>
  			
				 <div class="row">
				 <div class="col-md-6">
			 <div  ng-repeat="nutritionStrategy in nutritionStrategies | limitTo: basicNutritionLimit" >
				 
			      
			        <md-checkbox   ng-model="nutritionStrategy.isChecked"   ng-change="addOrRemoveNutritionStrategy(nutritionStrategy)">
			        {{nutritionStrategy.name | translate}}
			      </md-checkbox>
			    </div>
				 </div>
				 
				 <div class="col-md-6" ng-show="taxon.isBiotroph">
 <div  ng-repeat="nutritionStrategy in nutritionStrategies | limitTo: biotrofNutrionLimit : basicNutritionLimit" >
	 
   
        <md-checkbox   ng-model="nutritionStrategy.isChecked"   ng-change="addOrRemoveNutritionStrategy(nutritionStrategy)"/>
        {{nutritionStrategy.name | translate}}
      </md-checkbox>
    </div>
	</div>
	</div>
   <label class="control-label" for="oekologi">Økologi</label>
    <div>
    <a href="#" id="oekologi" editable-textarea="taxon.attributes.oekologi" e-rows="7" e-cols="40" onaftersave="Taxon.updateAttributes({id: taxon._id}, taxon.attributes)">
        <div class="x-editable-texarea">{{ taxon.attributes.oekologi || 'n/a' }}</div>
      </a>
	  </div>
	  
				 <label class="control-label" for="spiselighedsrapport">Spiselighedsrapport</label>
				 <div >
			    <a href="#" id="beskrivelse" editable-textarea="taxon.attributes.spiselighedsrapport" e-rows="7" e-cols="40" onaftersave="Taxon.updateAttributes({id: taxon._id}, taxon.attributes)">
			        <div class="x-editable-texarea">{{ taxon.attributes.spiselighedsrapport || 'n/a' }}</div>
			      </a>
			  </div>
			  
				 <label class="control-label" for="beskrivelse">Beskrivelse</label>
				 <div>
			    <a href="#" id="beskrivelse" editable-textarea="taxon.attributes.beskrivelse" e-rows="7" e-cols="40" onaftersave="Taxon.updateAttributes({id: taxon._id}, taxon.attributes)">
			        <div class="x-editable-texarea">{{ taxon.attributes.beskrivelse || 'n/a' }}</div>
			      </a>
			  </div>
  				
				 
					 <label class="control-label" for="bemaerkning">Bemærkning</label>
					 <div>
			        <a href="#" id="bemaerkning" editable-textarea="taxon.attributes.bemaerkning" e-rows="7" e-cols="40" onaftersave="Taxon.updateAttributes({id: taxon._id}, taxon.attributes)">
			            <div class="x-editable-texarea">{{ taxon.attributes.bemaerkning || 'n/a' }}</div>
			          </a>
		  </div>
		  
					<p><strong>År for første fund i DK: </strong> <a href="#" editable-text="taxon.attributes.foersteFundIDK" onbeforesave="isValidYear($data)" onaftersave="Taxon.updateAttributes({id: taxon._id}, taxon.attributes)">{{ taxon.attributes.foersteFundIDK || 'n/a' }}</a> </p><p><strong>År for første DK-reference: </strong><a href="#" editable-text="taxon.attributes.foersteReferenceForDK" onbeforesave="isValidYear($data)" onaftersave="Taxon.updateAttributes({id: taxon._id}, taxon.attributes)">{{ taxon.attributes.foersteReferenceForDK || 'n/a' }}</a></p>
		
					 <label class="control-label" for="DK_reference">DK referencer</label>
			        <a href="#" id="DK_reference" editable-textarea="taxon.attributes.DK_reference" e-rows="7" e-cols="40" onaftersave="Taxon.updateAttributes({id: taxon._id}, taxon.attributes)">
			            <div class="x-editable-texarea">{{ taxon.attributes.DK_reference || 'n/a' }}</div>
			          </a>
		
			</div>
			
			<div class="col-md-6"  ng-if="stateParams.id">
				<md-whiteframe class="md-whiteframe-z3" layout="column" layout-padding layout-margin>
				    
				  
				<h3><em>{{taxon.FullName}}</em> <span ng-show="taxon.vernacularname_dk">- {{taxon.vernacularname_dk}}</span></h3>
		      <carousel disable-ng-animate interval="">
		        <slide disable-ng-animate  ng-repeat="slide in taxon.images" active="slide.active">
		          <img ng-src="{{slide.uri}}" style="margin:auto;">
		          <div class="carousel-caption">

		            &copy; {{slide.photographer}}, {{slide.collectionNumber}}
		          </div>

		        </slide>
	
		      </carousel>
				<div id="bogtekst">
					<p><em>
						{{taxon.attributes.diagnose}}
					</em></p>
				<p><strong>Forvekslingsmuligheder:</strong> {{taxon.attributes.forvekslingsmuligheder}}</p>
				<p><strong>Status:</strong><span ng-if="redlistdata.VerbatimStatus"> {{redlistdata.VerbatimStatus}} {{redlistdata.year}}.</span><span ng-repeat="nutritionStrategy in taxon.nutritionstrategies | orderBy: '_id'"><span ng-if="nutritionStrategy._id > 2">,</span> {{nutritionStrategy.name}}</span>. {{taxon.attributes.oekologi}}</p>
				- <em ng-class="taxon.attributes.bogtekst_gyldendal.length < 550 || (taxon.attributes.bogtekst_gyldendal.length < 1100 && taxon.attributes.Bogtekst_stor_art === true) ? 'text-success' : 'text-danger'">Brugt {{getBogtekstLength()}} af {{taxon.attributes.Bogtekst_stor_art === true ? 1100 : 550}} karakterer</em>
			</div>
			</md-whiteframe>
			<div class="col-md-12" layout="row">
			<md-switch  ng-model="taxon.attributes.bog_Gyldendal_art_medtages" aria-label="Medtages i Noreuropas svampe" ng-change="Taxon.updateAttributes({id: taxon._id}, taxon.attributes)">
			          Medtages i Noreuropas svampe
			        </md-switch>
			
			<md-switch   ng-model="taxon.attributes.Bogtekst_stor_art" aria-label="Stor art" ng-change="Taxon.updateAttributes({id: taxon._id}, taxon.attributes)">
			          Stor art
			        </md-switch>
					<md-switch   ng-model="taxon.attributes.bog_gyldendal_korrekturlaest" aria-label="Korrekturlæst" ng-change="Taxon.updateAttributes({id: taxon._id}, taxon.attributes)">
					          Korrekturlæst
					        </md-switch>
				</div>
				<div>
					 <label class="control-label" for="bogtekst_gyldendal">Bogtekst Gyldendal </label> - <em ng-class="taxon.attributes.bogtekst_gyldendal.length < 550 || (taxon.attributes.bogtekst_gyldendal.length < 1100 && taxon.attributes.Bogtekst_stor_art === true) ? 'text-success' : 'text-danger'">Brugt {{taxon.attributes.bogtekst_gyldendal.length}} af {{taxon.attributes.Bogtekst_stor_art === true ? 1100 : 550}} karakterer</em> 
					 
				    <a href="#" id="beskrivelse" editable-textarea="taxon.attributes.bogtekst_gyldendal" e-rows="7" e-cols="40" onaftersave="Taxon.updateAttributes({id: taxon._id}, taxon.attributes)">
				        <div class="x-editable-texarea">{{ taxon.attributes.bogtekst_gyldendal || 'n/a' }}</div>
				      </a>
			</div>
			 <div>
			 <label class="control-label" for="BeskrivelseUK">Beskrivelse UK</label> - <em ng-class="taxon.attributes.BeskrivelseUK.length < 550 || (taxon.attributes.BeskrivelseUK.length < 1100 && taxon.attributes.Bogtekst_stor_art === true) ? 'text-success' : 'text-danger'">Brugt {{taxon.attributes.BeskrivelseUK.length}} af {{taxon.attributes.Bogtekst_stor_art === true ? 1100 : 550}} karakterer</em>
			
		    <a href="#" id="beskrivelse" editable-textarea="taxon.attributes.BeskrivelseUK" e-rows="7" e-cols="40" onaftersave="Taxon.updateAttributes({id: taxon._id}, taxon.attributes)">
		        <div class="x-editable-texarea">{{ taxon.attributes.BeskrivelseUK || 'n/a' }}</div>
		      </a>
			   </div>
				
				
			
	</div>		
	   
	
<div class="row">

	
	<!-- ########################################-->

</div>
</div>

