<div ng-include="'components/navbar/navbar.html'"></div>
<div class="container">

<div class="row" ng-controller="TaxonTabsCtrl" ng-include="'app/taxontabs/taxontabs.html'">	
	
</div>	
	    	<div class="row">
				<md-button ng-click="toggleIframe()"
				            class="md-primary">
				            Maps, graphs from atlas
				          </md-button> <md-button ng-click="toggleSimilarSpecies()"
				            class="md-primary">
				            Similar species
				          </md-button> 
				<md-sidenav class="md-sidenav-right md-whiteframe-z2 iframe-sidenav" md-component-id="iframeAside">
				      <md-toolbar class="md-theme-light">
				        <h1 class="md-toolbar-tools">Sidenav Right</h1>
				      </md-toolbar>
				      <md-content  layout-padding>
				       
				        <md-button ng-click="closeSideNav('iframeAside')" class="md-primary">
				          Close
				        </md-button>
				        <md-button  class="md-primary" href="{{getIframeSrc()}}" target="_BLANK">
				         <i class="fa fa-external-link"></i> open in new tab
				        </md-button>
						<iframe ng-src="{{getIframeSrc()}}" width="450" height="1200"></iframe>
						
				      </md-content>
				    </md-sidenav>
					<md-sidenav class="md-sidenav-right md-whiteframe-z2 iframe-sidenav" md-component-id="similarAside">
					      <md-toolbar class="md-theme-light">
					        <h1 class="md-toolbar-tools">Sidenav Right</h1>
					      </md-toolbar>
					      <md-content  layout-padding>
				       
					        <md-button ng-click="closeSideNav('similarAside')" class="md-primary">
					          Close
					        </md-button>
					        <md-button  class="md-primary" href="{{getIframeSrc()}}" target="_BLANK">
					         <i class="fa fa-external-link"></i> open in new tab
					        </md-button>
							<table id="sibling-table">

							  <tr class="parent-taxon-table" ng-repeat="sibling in taxon.siblings"><td class="parent-taxon-table" st-ratio="100"><strong><a href="/taxonbase/taxonbooklayout/{{sibling._id}}">{{sibling.FullName}}</a> <span ng-show="sibling.attributes.DKnavn">- {{sibling.attributes.DKnavn}}</span></strong><br>
								  {{sibling.attributes.diagnose}}<br>
								  {{sibling.attributes.forvekslingsmuligheder}}<br><br>
								  {{sibling.attributes.oekologi}}
								  <hr></td></tr>
				 

							</table>
						
					      </md-content>
					    </md-sidenav>
			<div class="col-md-8" >
			<h2>{{taxon.FullName}} 		
			</h2>
			<div class="alert alert-warning" role="alert" ng-show="taxon.acceptedTaxon._id !== taxon._id"><strong>Synonym of: </strong><a href="/taxonbase/taxonbooklayout/{{taxon.acceptedTaxon._id}}"> {{taxon.acceptedTaxon.FullName}}</a> ( {{taxon.acceptedTaxon.DKnavn}} 	) <button class="btn btn-xs btn-danger pull-right"  ng-click="unlinkSynonym()" tabindex="0">Unlink synonym</button></div>
			<div class="alert alert-danger col-md-12" role="alert" ng-show="taxon.parent_id === null"><strong>Orphant taxon! </strong> Please add parent Taxon in the actions menu on the right. 

			</div>
			
			<h4 ng-show="taxon._id !== undefined"><strong>DK name: </strong> <a href="#" editable-text="taxon.attributes.DKnavn"  onaftersave="Taxon.updateAttributes({id: taxon._id}, taxon.attributes)"><em>{{ taxon.attributes.DKnavn || 'n/a' }}</em></a> </h4> <div class="checkbox"><label>Present in DK
    <input type="checkbox" ng-model="taxon.attributes.PresentInDK" ng-change="Taxon.updateAttributes({id: taxon._id}, taxon.attributes)">
  </label></div>
			
			
			<p><small><em>{{taxon.SystematicPath}}</em></small></p>
			<p><small><strong>Taxon rank: </strong><em> {{taxon.RankName}}</em></small> 
			</p>
			</div>
			<div class="col-md-4" >
				
			</div>
			</div>

<div class="row">
			<div class="col-md-6" ng-show="taxon._id !== undefined">
	
	
					<label class="control-label" for="diagnose">Diagnose</label>
			<a href="#" id="diagnose" editable-textarea="taxon.attributes.diagnose" e-rows="7" e-cols="40" onaftersave="Taxon.updateAttributes({id: taxon._id}, taxon.attributes)">
			    <div class="x-editable-texarea">{{ taxon.attributes.diagnose || 'n/a' }}</div>
			  </a>
			  <label class="control-label" for="forvekslingsmuligheder">Forvekslingsmuligheder</label>
			  <a href="#" id="forvekslingsmuligheder" editable-textarea="taxon.attributes.forvekslingsmuligheder" e-rows="7" e-cols="40" onaftersave="Taxon.updateAttributes({id: taxon._id}, taxon.attributes)">
			      <div class="x-editable-texarea">{{ taxon.attributes.forvekslingsmuligheder || 'n/a' }}</div>
			    </a>
				 <div class="row">
				 <div class="col-md-6">
			 <div  ng-repeat="nutritionStrategy in nutritionStrategies | limitTo: basicNutritionLimit" >
				 
			      <label  >
			        <input type="checkbox"  ng-model="nutritionStrategy.isChecked"   ng-change="addOrRemoveNutritionStrategy(nutritionStrategy)"/>
			        {{nutritionStrategy.name}}
			      </label>
			    </div>
				 </div>
				 
				 <div class="col-md-6" ng-show="taxon.isBiotroph">
 <div  ng-repeat="nutritionStrategy in nutritionStrategies | limitTo: biotrofNutrionLimit : basicNutritionLimit" >
	 
      <label  >
        <input type="checkbox"  ng-model="nutritionStrategy.isChecked"   ng-change="addOrRemoveNutritionStrategy(nutritionStrategy)"/>
        {{nutritionStrategy.name}}
      </label>
    </div>
	</div>
	</div>
   <label class="control-label" for="oekologi">Økologi</label>
    <a href="#" id="oekologi" editable-textarea="taxon.attributes.oekologi" e-rows="7" e-cols="40" onaftersave="Taxon.updateAttributes({id: taxon._id}, taxon.attributes)">
        <div class="x-editable-texarea">{{ taxon.attributes.oekologi || 'n/a' }}</div>
      </a>
				 <label class="control-label" for="spiselighedsrapport">Spiselighedsrapport</label>
			    <a href="#" id="beskrivelse" editable-textarea="taxon.attributes.spiselighedsrapport" e-rows="7" e-cols="40" onaftersave="Taxon.updateAttributes({id: taxon._id}, taxon.attributes)">
			        <div class="x-editable-texarea">{{ taxon.attributes.spiselighedsrapport || 'n/a' }}</div>
			      </a>
				 <label class="control-label" for="beskrivelse">Beskrivelse</label>
			    <a href="#" id="beskrivelse" editable-textarea="taxon.attributes.beskrivelse" e-rows="7" e-cols="40" onaftersave="Taxon.updateAttributes({id: taxon._id}, taxon.attributes)">
			        <div class="x-editable-texarea">{{ taxon.attributes.beskrivelse || 'n/a' }}</div>
			      </a>
  				 <label class="control-label" for="BeskrivelseUK">Beskrivelse UK</label>
  			    <a href="#" id="beskrivelse" editable-textarea="taxon.attributes.BeskrivelseUK" e-rows="7" e-cols="40" onaftersave="Taxon.updateAttributes({id: taxon._id}, taxon.attributes)">
  			        <div class="x-editable-texarea">{{ taxon.attributes.BeskrivelseUK || 'n/a' }}</div>
  			      </a>
				  
					 <label class="control-label" for="bemaerkning">Bemærkning</label>
			        <a href="#" id="bemaerkning" editable-textarea="taxon.attributes.bemaerkning" e-rows="7" e-cols="40" onaftersave="Taxon.updateAttributes({id: taxon._id}, taxon.attributes)">
			            <div class="x-editable-texarea">{{ taxon.attributes.bemaerkning || 'n/a' }}</div>
			          </a>
		  
		  
					<p><strong>År for første fund i DK: </strong> <a href="#" editable-text="taxon.attributes.foersteFundIDK" onbeforesave="isValidYear($data)" onaftersave="Taxon.updateAttributes({id: taxon._id}, taxon.attributes)">{{ taxon.attributes.foersteFundIDK || 'n/a' }}</a> </p><p><strong>År for første DK-reference: </strong><a href="#" editable-text="taxon.attributes.foersteReferenceForDK" onbeforesave="isValidYear($data)" onaftersave="Taxon.updateAttributes({id: taxon._id}, taxon.attributes)">{{ taxon.attributes.foersteReferenceForDK || 'n/a' }}</a></p>
		
					 <label class="control-label" for="DK_reference">DK referencer</label>
			        <a href="#" id="DK_reference" editable-textarea="taxon.attributes.DK_reference" e-rows="7" e-cols="40" onaftersave="Taxon.updateAttributes({id: taxon._id}, taxon.attributes)">
			            <div class="x-editable-texarea">{{ taxon.attributes.DK_reference || 'n/a' }}</div>
			          </a>
		
			</div>
			
			<div class="col-md-6" >
				
				<h3><em>{{getNameWithoutAuthor()}}</em> <span ng-show="taxon.attributes.DKnavn">- {{taxon.attributes.DKnavn}}</span></h3>
		      <carousel disable-ng-animate interval="">
		        <slide disable-ng-animate  ng-repeat="slide in taxon.images" active="slide.active">
		          <img ng-src="{{slide.uri}}" style="margin:auto;">
		          <div class="carousel-caption">

		            &copy; {{slide.photographer}}, {{slide.collectionNumber}}
		          </div>

		        </slide>
	
		      </carousel>
				<div id="bogtekst">
					<p><em>
						{{taxon.attributes.diagnose}}
					</em></p>
				<p><strong>Forvekslingsmuligheder:</strong> {{taxon.attributes.forvekslingsmuligheder}}</p>
				<p><strong>Status:</strong><span ng-if="redlistdata.VerbatimStatus"> {{redlistdata.VerbatimStatus}} {{redlistdata.year}}.</span><span ng-repeat="nutritionStrategy in taxon.nutritionstrategies | orderBy: '_id'"><span ng-if="nutritionStrategy._id > 2">,</span> {{nutritionStrategy.name}}</span>. {{taxon.attributes.oekologi}}</p>
			</div>
				
				<div ng-class="getBogtekstLength() > 1200 ? 'alert alert-danger' : 'alert alert-success'" role="alert" >
					 Brugt {{getBogtekstLength()}} af 1200 karakterer </div>
				
			
	</div>		
	   
	
<div class="row">

	
	<!-- ########################################-->

</div>
</div>
<div class="col-md-12">

<div ng-include="'components/footer/footer.html'"></div>
</div>
