.iframe-sidenav {
    box-sizing: border-box;
    position: absolute;
    width: 454px !important;
    min-width: 454px !important;
    max-width: 454px !important;
    bottom: 0;
    z-index: 60;
    background-color: white;
    overflow: auto;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}
}