		<!--<div ng-include="'components/navbar/navbar.html'"></div>-->
		<md-toolbar md-scroll-shrink ng-controller="NavbarCtrl" ng-include="'components/navbar/navbar.html'" > </md-toolbar>
		<md-content   flex md-scroll-y layout-padding>
		

    <div class="col-sm-12">
      <h1 translate>Create user account</h1>
    </div>
  	<p ng-show="registrationSuccess">{{'An email has been sent to' | translate}} {{user.email}}.<br> {{'The email contains further instructions on how to activate your account' | translate}}.</p>
      <form class="form" name="form" ng-submit="register(form)" novalidate ng-show="!registrationSuccess">

        <div class="form-group" ng-class="{ 'has-success': !form.name.$error.required,
                                            'has-error': form.name.$error.required && form.name.$touched}">
          <label translate>Name</label>

          <input type="text" name="name" class="form-control" ng-model="user.name"
                 required/>
          <p class="help-block" ng-show="form.name.$error.required && form.name.$touched" translate>
            A name is required
          </p>
        </div>
		
		<div class="form-group" ng-class="{ 'has-success': form.Initialer.$valid , 'has-error': form.Initialer.$invalid && form.Initialer.$touched}">

          <label translate>Initials</label>

          <input type="text" ng-minlength="2" ng-maxlength="5" name="Initialer" class="form-control" ng-model="user.Initialer" initials
                 required
				 />
        <p class="help-block" ng-show="form.Initialer.$error.maxlength" translate>
          Too long (max 5 characters)
        </p>
        <p class="help-block" ng-show="form.Initialer.$error.minlength" translate>
          Too short (min 2 characters)
        </p>
          <p class="help-block" ng-show="form.Initialer.$error.required && form.Initialer.$touched" translate>
            Initials are required
          </p>
        <!--  <p class="help-block" ng-show="form.Initialer.$error">
            {{ errors.Initialer }}
          </p> -->
		  <span ng-show="form.Initialer.$pending.uniqueInitials" translate>Checking if these initials is available...</span>
		    <span ng-show="form.Initialer.$error.uniqueInitials" translate>These initials is already taken!</span>
        </div>

        <div class="form-group" ng-class="{ 'has-success': form.email.$valid ,
                                            'has-error': form.email.$invalid && form.email.$touched }">
          <label translate>Email</label>

          <input type="email" name="email" class="form-control" ng-model="user.email" unique-email
                 required
                  />
          <p class="help-block" ng-show="form.email.$error.email" translate>
            Doesnt look like a valid email.
          </p>
          <p class="help-block" ng-show="form.email.$error.required  && form.email.$touched" translate>
            Enter your email address.
          </p>
		  <span ng-show="form.email.$pending.uniqueEmail" translate>Checking if this email is already in use...</span>
		    <span ng-show="form.email.$error.uniqueEmail" translate>This email is already in use! <a href="#" ng-click="showLogin()" translate>Lost password?</a></span>
        </div>

        <div class="form-group" ng-class="{ 'has-success': form.password.$valid && user.password === user.repeatPassword ,
                                            'has-error': (form.password.$invalid || (user.password !== user.repeatPassword  && user.password.length > 5)) &&  form.password.$touched}">
          <label translate>Password</label>

          <input type="password" name="password" class="form-control" ng-model="user.password"
                 ng-minlength="6"
                 required
             		/>
          <p class="help-block"
             ng-show="(form.password.$error.minlength || form.password.$error.required) && form.password.$touched" translate>
            Password must be at least 6 characters.
          </p>
      		<label >{{'Gentag password' | translate}}</label>
			<input name="confirmPassword" class="form-control" ng-model="user.repeatPassword" type="password"   required>
	         
             <p class="help-block"
                ng-show="user.repeatPassword.length >0 && user.repeatPassword !== user.password" >
              {{'Password confirmation must match' | translate}}
             </p>
        </div>

        <div>
          <button class="btn btn-inverse btn-lg btn-register" type="submit" translate>
            Create user account
          </button>
      <!--    <a class="btn btn-default btn-lg btn-login" ui-sref="login">
            Login
          </a> -->
        </div>

      
      </form>
    
  </div>
  <hr>


	        
			
				<!--<div>
					<h1 translate>
						User profile
					</h1>
					<p>
						<span translate>Name:</span> {{getCurrentUser().name}}
					</p>
					<p>
						<span translate>Initials:</span> {{getCurrentUser().Initialer}}
					</p>
					<p>
						<span translate>Email:</span> {{getCurrentUser().email}}
					</p>
					
					
					
				</div> -->
			
			
	<div layout="row" id="footer"  layout-align="space-around center" layout-margin ng-include="'components/footer/footer.html'">
    
	     		
		</md-content>
	
