<!--<div ng-include="'components/navbar/navbar.html'"></div> -->
 <md-toolbar class="searchtabs"  ng-controller="SpeciesSearchTabsCtrl" ng-include="'app/speciessearchtabs/speciessearchtabs.html'" > </md-toolbar>
	
   

<md-content flex md-scroll-y layout-padding ng-cloak>
	   
			   		<div layout-gt-xs="row">
	        <md-chips ng-model="search.selectedHigherTaxa" md-autocomplete-snap  class="md-block" flex-gt-xs>

	          <md-autocomplete
			  md-delay = "500"
	    	  	md-min-length="4"
	    		md-no-cache="false"
				md-input-id="taxon-autocomplete"
				md-select-on-match="true"
				md-match-case-insensitive="true"
	              md-selected-item="selectedItem"
	              md-search-text="searchText"
	              md-items="item in querySearch(searchText)"
	              md-item-text="item"
	              placeholder="{{$translate.instant('Skriv art, slægt, familie, orden etc')}}"
	 			 ng-disabled="newTaxon.length >0"
				 md-menu-class="autocomplete-custom-template"
	 			flex class="taxon-autocomplete">
	            
				
				<md-item-template>
				          <span class="item-title">
							  
						<span ng-if="item.Vernacularname_DK && $cookies.get('preferred_language') !== 'en'">
				            <span ng-if="10000 > item.RankID"> {{(item.RankID === 5000)? 'Arter af ':''}}{{(5000 > item.RankID )? 'Arter i ':''}} {{item.Vernacularname_DK.vernacularname_dk}} </span>
							<span ng-if="item.RankID > 9999"> {{item.Vernacularname_DK.vernacularname_dk | capitalize}} </span>
						</span>
						<span ng-if="!item.Vernacularname_DK || $cookies.get('preferred_language') === 'en'">
				            <span ng-if="10000 > item.RankID" class="item-emphasis"> {{item.FullName}} {{(5001 > item.RankID ) ? 'spp.' : ''}}</span>
							<span ng-if="item.RankID > 9999" class="item-emphasis"> {{item.FullName}} </span>
							<span ng-if="item.RankID > 9999" class="item-author"> {{item.Author}} </span>
						</span>
				          </span>
				          <span class="item-metadata" ng-if="$cookies.get('preferred_language') !== 'en' && item.DanishNames.length >0 && item.DanishNames[0]._id !== item.vernacularname_dk_id">
							   <span class="item-metastat" > = {{item.DanishNames[0].vernacularname_dk}}</span>
						   </span>
				          <span class="item-metadata" ng-if="item.Vernacularname_DK && $cookies.get('preferred_language') !== 'en'">
							   
				            <span class="item-metastat item-emphasis" ng-if="10000 > item.RankID"> {{item.FullName}}</span>
							<span class="item-metastat item-emphasis" ng-if="item.RankID > 9999"> {{item.FullName}} </span>
				           	<span class="item-metastat" ng-if="item.RankID > 9999"> {{item.Author}} </span>
				          </span>
						  <span class="item-metadata" ng-if="(item._id !== item.acceptedTaxon._id) ">
							  <span class="item-emphasis" ng-if="item._id !== item.acceptedTaxon._id">{{'Syn. til' | translate}} {{item.acceptedTaxon.FullName}}</span>
							  <span class="item-metastat"> {{item.Author}} </span>
						  </span>
						 <span class="item-metadata" ng-if="item.probability === 0 && item.acceptedTaxon.attributes.PresentInDK === false && item.RankID > 9999"> 
						  <ng-md-icon icon="error_outline" size="20"></ng-md-icon> {{'Ikke kendt fra Danmark' | translate}}</span>
				        </md-item-template>

	          </md-autocomplete>
	          <md-chip-template>
			  <span ng-if="!$chip._id"><strong>{{$chip}}</strong></span>
			  <span ng-if="$chip._id">
	            <span ng-if="$chip.RankID > 5000">
	 			   <strong ng-if="$chip.Vernacularname_DK">{{$chip.Vernacularname_DK.vernacularname_dk | capitalize}} (</strong>
	              <strong><em>{{$chip.FullName}}</em> {{$chip.Author}}</strong>
				  <strong ng-if="$chip.Vernacularname_DK">)</strong>
	            </span>
	            <span ng-if="5000 >= $chip.RankID">
	 			   <strong ng-if="$chip.Vernacularname_DK && $cookies.get('preferred_language') !== 'en'">{{($chip.RankID === 5000)? 'Arter af ':''}}{{(5000 > $chip.RankID)? 'Arter i ':''}} {{$chip.Vernacularname_DK.vernacularname_dk}} (</strong>
	              <strong><em>{{$chip.FullName}}</em></strong>
				  <strong ng-if="$cookies.get('preferred_language') === 'en'"><em>spp.</em></strong>
				  <strong ng-if="$chip.Vernacularname_DK && $cookies.get('preferred_language') !== 'en'">)</strong>
	            </span>
				</span>
	          </md-chip-template>
		
	        </md-chips>
			     </div>
			     <div>
					 <md-chips ng-model="search.selectedMorphoGroup" md-autocomplete-snap
					               md-require-match="true" >
					       <md-autocomplete
					           md-selected-item="selectedItem"
					           md-search-text="searchText"
					           md-items="mg in findMorphoGroup(searchText)"
					           md-item-text="mg.name_dk"
					           placeholder="{{$translate.instant('Filtrér til artsgruppe(r)')}}">
					         <span md-highlight-text="searchText">{{mg.name_dk}}</span>
					       </md-autocomplete>
					       <md-chip-template>
					         <span>
					           <strong>{{$chip.name_dk}}</strong>
         
					         </span>
					       </md-chip-template>
					     </md-chips>
				 </div>
			   <div  >
				  
			      <md-chips ng-model="search.selectedMycokeyCharacters" md-autocomplete-snap md-require-match="true">

			        <md-autocomplete
			  	  	md-min-length="1"
			  		md-no-cache="true"
			            md-selected-item="selectedMycokeyCharacter"
			            md-search-text="searchMycokeyCharacterText"
			            md-items="item in mycokeySearch(searchMycokeyCharacterText)"
			            md-item-text="item['description DK']"
			            placeholder="{{'Enter characters' | translate}}"
						class="wide-autocomplete">
			          <span md-highlight-text="searchMycokeyCharacterText">{{($translate.use() === 'en') ? item['Group Full text UK'] : item['Group Full text DK']}}: {{($translate.use() === 'en') ?  item['description UK'] : item['description DK']}}</span>  
			        </md-autocomplete>
			        <md-chip-template>
			          <span>
			            <strong>{{($translate.use() === 'en') ? $chip['Group Full text UK'] : $chip['Group Full text DK']}}: {{($translate.use() === 'en') ? $chip['description UK'] : $chip['description DK']}}</strong>

			          </span>
			        </md-chip-template>
			      </md-chips>
				  </div>
				<div layout-gt-xs="row"> 
	  		   	 <md-input-container >	
	  		   	<label translate>Rødlistestatus</label>  
	  		   <md-select aria-label="rødlistestatus" id="redlist" ng-model="search.redliststatus">
	    		 	<md-option value=""></md-option>
	  		     <md-option ng-value="{{['RE','CR', 'EN', 'VU', 'NT']}}" ng-selected="search.redliststatus.length > 2">{{'Alle rødlistede' | translate}}</md-option>
	  		     <md-option value="RE">RE - {{'Forsvundet' | translate}}</md-option>
	  		     <md-option value="CR">CR - {{'Kritisk truet' | translate}}</md-option>
	  		     <md-option value="EN">EN - {{'Moderat truet' | translate}}</md-option>
	  		     <md-option value="VU">VU - {{'Sårbar' | translate}}</md-option>
	  		     <md-option value="NT">NT - {{'Næsten truet' | translate}}</md-option>
	  		     <md-option value="LC">LC - {{'Ikke truet' | translate}}</md-option>
	  		     <md-option value="DD">DD - {{'Utilstrækkelige data' | translate}}</md-option>
	  		     <md-option value="NA">NA - {{'Ikke mulig' | translate}}</md-option>
	  		     <md-option value="NE">NE - {{'Ikke bedømt' | translate}}</md-option>
	  		             </md-select>
	  		   	  </md-input-container><span flex></span>
				  <md-button class="md-warn" ng-click="resetSearch()">{{'nulstil' | translate}}</md-button>
			  </div> 
	<div class="table-responsive-vertical shadow-z-1">



<table  st-persist="dkchecklist_table" class="table" ng-class="{'table-bordered table-condensed': mdMedia('min-width: 768px')}"  st-pipe="callServer" st-table="displayed">
	<md-progress-linear  md-mode="indeterminate" ng-show="displayed && isLoading"></md-progress-linear>
	<thead >
	
		<tr ng-show="displayed" class="show-filter">
			<th st-ratio="5"> 
				
			    <label for="mySelect">Index:</label>
			       <select name="mySelect" id="mySelect"
			        
			         ng-model="search.indexLetter"
					 class="form-control" >
					 <option  value="any">-</option>
				 <option ng-repeat="lt in letters" value="{{lt}}">{{lt}}</option>
				 </select>
				
	            
	           </th>
			<th colspan="{{mdMedia('xs') ? 2 : 1}}">
	<md-icon id="reset-table-state" md-font-icon="fa fa-refresh fa-lg" class="material-icons md-light md-48 md-primary"  st-reset-search></md-icon>
	</th>
			<th colspan="{{mdMedia('xs') ? 2 : 1}}">
	</th>
	  <th ng-show="mdMedia('gt-xs')"></th>
			<th ng-if="mdMedia('gt-xs')" st-pagination=""  st-items-by-page="stItemsPrPage" colspan="8" st-template="app/searchresultlist/pagination.tpl.html">
			</th>
		</tr>
	<tr>
		<th st-ratio="5"></th>
		
		<th st-sort="FullName" colspan="3" translate>Art</th>
		
		<th  translate>Antal danske fund</th>
		<th  translate>Seneste danske fund</th>
		
		
	</tr>
	</thead>
	<tbody ng-show="displayed.length > 0">
		
	<tr ng-repeat="row in displayed">
		<td data-title="" ><md-menu  >
			            <md-button aria-label="Open demo menu" class="md-icon-button" ng-click="$mdOpenMenu($event)">
			               <ng-md-icon icon="more_vert" ></ng-md-icon>
			            </md-button>
			            <md-menu-content width="4" >
			              <md-menu-item >
			                <md-button ng-click="showRecords(row._id, 'list')">
			                    <div layout="row" flex>
			                      <p flex>{{'Vis fund i liste' | translate}}</p>
			                      <ng-md-icon icon="list" style="margin: auto 3px auto 0;"></ng-md-icon>
			                    </div>
			                </md-button>
			              </md-menu-item>
			              <md-menu-item >
			                <md-button ng-click="showRecords(row._id, 'map')">
			                    <div layout="row" flex>
			                      <p flex>{{'Vis fund på kort'  | translate}}</p>
			                      <ng-md-icon  icon="map" style="margin: auto 3px auto 0;"></ng-md-icon>
								  
			                    </div>
			                </md-button>
			              </md-menu-item>
			          
			            </md-menu-content>
			          </md-menu></td>
		
		<td  data-title="{{'Art' | translate}}" colspan="3">
			<a class="cursor-pointer" ng-click="$state.go('species', {id: row.acceptedTaxon._id})"> 
				<em>{{row.FullName}} </em><span ng-if="row.redlistdata && row.redlistdata.length === 1 "> 
				({{row.redlistdata[0].status}})</span> <span ng-if="row.Vernacularname_DK"> - {{row.Vernacularname_DK.vernacularname_dk | capitalize}}  </span>
				<span ng-if="row._id !== row.acceptedTaxon._id" class="md-caption"><br>Synonym til <em>{{row.acceptedTaxon.FullName}}</em> </span>
				 </a> <a ng-if="mdMedia('gt-xs')" target="_BLANK" ng-href="/taxon/{{row.acceptedTaxon._id}}"><i class="fa fa-external-link"></i></a>
			

		<span ng-repeat="syn in row.synonyms | synonymsWithoutSelf" class="md-caption"><br>{{(syn.FullName.indexOf('sensu') !== -1 && !syn.FunIndexNumber) ?   ('Fejlanvendt:'): 'Syn.:'}} <em>{{syn.FullName}}</em></span>
		</td>
	
	<td ng-if="row.Statistics || mdMedia('gt-xs')" data-title="{{'Antal danske fund' | translate}}">{{row.Statistics.accepted_count}}</td>
	<td ng-if="row.Statistics || mdMedia('gt-xs')" data-title="{{'Seneste danske fund' | translate}}">{{row.Statistics.last_accepted_record | date : 'dd/MM/yyyy'}}</td>
		
		

		
		
		
		
				
			
		<!--<td data-title=""><ng-md-icon icon="camera_alt" ng-if="row.Images.length > 0" ng-click="ObservationModalService.show($event, row)"></ng-md-icon> <ng-md-icon icon="forum" ng-if="row.Forum.length > 0" ng-click="ObservationModalService.show($event, row)"></td> -->
		
		
	</tr>

	</tbody>
	<tbody ng-show="!displayed &&  isLoading">
		<tr><td colspan="6" ><div layout="row" layout-align="center center"><md-progress-circular  md-diameter="96"></md-progress-circular></div></td></tr>
		  
	</tbody>	
	<tbody ng-show="displayed && displayed.length===0 &&  !isLoading">
		<tr><td colspan="6" ><div layout="row" layout-align="center center" translate>Ingen data fundet</div></td></tr>
		  
	</tbody>

	<tfoot  ng-show="displayed && !isLoading">
	<tr>
		<td st-pagination=""  st-items-by-page="stItemsPrPage" colspan="8" st-template="app/searchresultlist/pagination.tpl.html">
		</td>
	</tr>
	</tfoot> 
</table>
<md-progress-linear  md-mode="indeterminate" ng-show="displayed && isLoading"></md-progress-linear>
</div>




	<div layout="row" id="footer"  layout-align="space-around center" layout-margin ng-include="'components/footer/footer.html'">
	        
	      </div>	
</md-content>



