		<!--<div ng-include="'components/navbar/navbar.html'"></div>-->

	   	<md-toolbar>
	       <div class="md-toolbar-tools">
	         <md-button class="md-icon-button" ng-click="openSideNav()" ng-show="!mdSidenav('left').isOpen() && !mdSidenav('left').isLockedOpen()" aria-label="Menu" ng-controller="SideNavBtnCtrl">
	           <ng-md-icon icon="menu"></ng-md-icon>
	         </md-button>
	   	  <ng-md-icon icon="{{($state.current.name === 'dashboard') ? 'dashboard' : 'person'}}" ></ng-md-icon>
	  
	         <h3 class="inset" ng-if="$state.current.name === 'dashboard'">
	           {{'Dashboard' | translate}}
	         </h3>
	         <h3 class="inset" ng-if="$state.current.name === 'userstats'">
	           {{'Profil' | translate}}
	         </h3>
	         <span flex></span>
			 <notification ng-if="currentUser"></notification>
	   	  <div>
	   	  <md-tooltip md-direction="bottom" >{{'Del' | translate}}</md-tooltip>
	   	  <sharing mail-subject="'Brugerprofil for '+dashBoardUser.name+' ('+dashBoardUser.Initialer+') på Danmarks svampeatlas'" mail-body="baseUrl+'/userprofile/'+dashBoardUser._id" sharing-uri="baseUrl+'/userprofile/'+dashBoardUser._id"> </sharing>
	     </div>
	   	 <span layout-margin ng-if="mdMedia('gt-xs')"> <h1 class="md-display-1" translate>Danmarks svampeatlas</h1></span>
	   	   <a href="/"><img  class="logo-upper-right" src="assets/images/LogoSmallest.png"></a>
	       </div>
	    </md-toolbar>
		<md-content layout="row" md-scroll-y flex>
	
	   <md-grid-list
	          md-cols-xs="1" md-cols-sm="3" md-cols-md="6" md-cols-gt-md="6"
	          md-row-height-xs="2:1" md-row-height="1:1"
	          md-gutter="12px" md-gutter-gt-sm="8px" flex class="dashboard-gridlist">
	      <md-grid-tile class="md-whiteframe-4dp  "
	          md-rowspan="1" md-colspan="1" >
			  
		<div layout="column" layout-align="center center" >
		             <div>
		               <user-avatar class="useravatar md-avatar"  size="'large'" user="dashBoardUser"  ></user-avatar>
		           
		          
	              
	              
		            
				</div>
	         <div class="avatar-tile" layout="column">
				
	           <span class="md-caption">{{dashBoardUser.name}} ({{dashBoardUser.Initialer}})</span>
			    
		        </div>
				</div>
	      </md-grid-tile>
	      
 		      <md-grid-tile class="md-whiteframe-4dp " md-colspan="4" md-colspan-sm="3" md-colspan-xs="1" ng-if="$mdMedia('xs') && currentUser._id === dashboardUserID">
 			  <div layout-fill layout-margin>
 			  <ng-md-icon icon="forum" ></ng-md-icon>
 		   <div layout layout-align="center center"> 
			   <md-button ng-click="gotoSearchResult('recentactivity')"><span class="md-caption">{{'Du har' | translate}} {{activytyCount}} {{'fund' | translate}} <br>{{'med nye kommentarer seneste' | translate}}</span></md-button> </div>
			   
			   <md-radio-group ng-model="$parent.$parent.$parent.activitySince" layout="row" layout-align="center center">
			         <md-radio-button value="1">1 {{'dage' | translate}}</md-radio-button>
			         <md-radio-button value="3">3 {{'dage' | translate}}</md-radio-button>
			         <md-radio-button value="10">10 {{'dage' | translate}}</md-radio-button>
			       </md-radio-group>
 		  </div>
		  
	   
       
 		      </md-grid-tile>
			  
			      <md-grid-tile class="md-whiteframe-4dp " md-colspan="3" md-colspan-sm="3" md-colspan-xs="1" ng-if="$mdMedia('xs') && currentUser._id === dashboardUserID">
				  <div layout-fill layout-margin>
				  <ng-md-icon icon="thumb_up" ></ng-md-icon>
			   <div layout layout-align="center center"> <md-button ng-click="gotoSearchResult('validationStatusUpdatedSince')"><span class="md-caption">{{'Du har' | translate}} {{validationStatusUpdatedSinceCount}} {{'fund' | translate}} <br>{{'som er valideret eller ombestemt seneste' | translate}}</span></md-button>
   				</div>
			   <md-radio-group ng-model="$parent.$parent.$parent.validationUpdatedSince" layout="row" layout-align="center center">
			         <md-radio-button value="1">1 {{'dage' | translate}}</md-radio-button>
			         <md-radio-button value="3">3 {{'dage' | translate}}</md-radio-button>
			         <md-radio-button value="10">10 {{'dage' | translate}}</md-radio-button>
			       </md-radio-group>
			    
			  </div>
        
			      </md-grid-tile>
		  
		      <md-grid-tile class="md-whiteframe-4dp " >
			  <div layout-fill layout-margin>
			  <ng-md-icon icon="playlist_add" ></ng-md-icon>
		   <div layout layout-align="center center"><md-button ng-click="gotoSearchResult('primaryuser_id')"><h1 >{{observationCount}}</h1> </md-button > </div>
		  
		  </div>
	
		   
		        <md-grid-tile-footer>
		          <h3>{{'Fund rapporteret' | translate}}</h3>
		        </md-grid-tile-footer>
		      </md-grid-tile>
		  
		  
		  
		  
	      <md-grid-tile class="md-whiteframe-4dp " >
		  <div layout-fill layout-margin>
		  <ng-md-icon icon="fungus" ></ng-md-icon>
	   <div layout layout-align="center center"><md-button ng-click="gotoSearchResult('specieslist')"><h1 >{{speciesCount[0].count}}</h1> </md-button ></div>
	  </div>
	        <md-grid-tile-footer>
	          <h3>{{'Arter fundet i Danmark' | translate}}</h3>
	        </md-grid-tile-footer>
	      </md-grid-tile>
		  
		  
		  
      <md-grid-tile class="md-whiteframe-4dp " md-colspan="4" md-colspan-sm="3" md-colspan-xs="1" ng-if="$mdMedia('sm') && currentUser._id === dashboardUserID">
	  <div layout-fill layout-margin>
	  <ng-md-icon icon="forum" ></ng-md-icon>
   <div layout layout-align="center center"> 
	   <md-button ng-click="gotoSearchResult('recentactivity')"><span class="md-caption">{{'Du har' | translate}} {{activytyCount}} {{'fund' | translate}} <br>{{'med nye kommentarer seneste' | translate}}</span></md-button> </div>
	   
	   <md-radio-group ng-model="$parent.$parent.$parent.activitySince" layout="row" layout-align="center center">
	         <md-radio-button value="1">1 {{'dage' | translate}}</md-radio-button>
	         <md-radio-button value="3">3 {{'dage' | translate}}</md-radio-button>
	         <md-radio-button value="10">10 {{'dage' | translate}}</md-radio-button>
	       </md-radio-group>
  </div>
  
 
 
      </md-grid-tile>
			  
			      <md-grid-tile class="md-whiteframe-4dp " md-colspan="3" md-colspan-sm="3" md-colspan-xs="1" ng-if="$mdMedia('sm') && currentUser._id === dashboardUserID">
				  <div layout-fill layout-margin>
				  <ng-md-icon icon="thumb_up" ></ng-md-icon>
			   <div layout layout-align="center center"> <md-button ng-click="gotoSearchResult('validationStatusUpdatedSince')"><span class="md-caption">{{'Du har' | translate}} {{validationStatusUpdatedSinceCount}} {{'fund' | translate}} <br>{{'som er valideret eller ombestemt seneste' | translate}}</span></md-button>
   				</div>
			   <md-radio-group ng-model="$parent.$parent.$parent.validationUpdatedSince" layout="row" layout-align="center center">
			         <md-radio-button value="1">1 {{'dage' | translate}}</md-radio-button>
			         <md-radio-button value="3">3 {{'dage' | translate}}</md-radio-button>
			         <md-radio-button value="10">10 {{'dage' | translate}}</md-radio-button>
			       </md-radio-group>
			    
			  </div>
        
			      </md-grid-tile>
			  
		  
		      <md-grid-tile class="md-whiteframe-4dp " >
			  <div layout-fill layout-margin>
			  <md-icon md-font-icon="fa fa-globe fa-lg" class="material-icons md-48 black-icon" ></md-icon>
		   <div layout layout-align="center center"><md-button ><h1>{{countryCount.length}}</h1></md-button > </div>
		  
		  </div>
	
		   
		        <md-grid-tile-footer>
		          <h3>{{'Lande rapporteret fra' | translate}}</h3>
		        </md-grid-tile-footer>
		      </md-grid-tile>
		      <md-grid-tile class="md-whiteframe-4dp " >
			  <div layout-fill layout-margin>
			  <ng-md-icon icon="chat_bubble" ></ng-md-icon>
		   <div layout layout-align="center center"><md-button ng-click="gotoSearchResult('forum')"><h1 >{{forumPostCount[0].count}}</h1> </md-button ></div>
		  </div>
		        <md-grid-tile-footer>
		          <h3>{{'Kommentarer i forum' | translate}}</h3>
		        </md-grid-tile-footer>
		      </md-grid-tile>
			  
			      <md-grid-tile class="md-whiteframe-4dp " >
				  <div layout-fill layout-margin>
				  <ng-md-icon icon="camera_alt" ></ng-md-icon>
			   <div layout layout-align="center center"> <md-button ng-click="gotoSearchResult('photos')"><h1 >{{imageCount[0].count}}</h1></md-button> </div>
			  </div>
			        <md-grid-tile-footer>
			          <h3>{{'Fotos' | translate}}</h3>
			        </md-grid-tile-footer>
			      </md-grid-tile>
		  
		  
		  
      <md-grid-tile class="md-whiteframe-4dp " md-colspan="3" md-colspan-sm="3" md-colspan-xs="1" ng-if="$mdMedia('gt-sm') && currentUser._id === dashboardUserID">
	  <div layout-fill layout-margin>
	  <ng-md-icon icon="forum" ></ng-md-icon>
   <div layout layout-align="center center"> 
	   <md-button ng-click="gotoSearchResult('recentactivity')"><span class="md-caption">{{'Du har' | translate}} {{activytyCount}} {{'fund' | translate}} {{'med nye kommentarer seneste' | translate}}</span></md-button> </div>
	   
	   <md-radio-group ng-model="$parent.$parent.$parent.activitySince" layout="row" layout-align="center center">
	         <md-radio-button value="1">1 {{'dage' | translate}}</md-radio-button>
	         <md-radio-button value="3">3 {{'dage' | translate}}</md-radio-button>
	         <md-radio-button value="10">10 {{'dage' | translate}}</md-radio-button>
	       </md-radio-group>
  </div>
  
 
 
      </md-grid-tile>
	  
			      <md-grid-tile class="md-whiteframe-4dp " md-colspan="3" md-colspan-sm="3" md-colspan-xs="1" ng-if="$mdMedia('gt-sm') && currentUser._id === dashboardUserID">
				  <div layout-fill layout-margin>
				  <ng-md-icon icon="thumb_up" ></ng-md-icon>
			   <div layout layout-align="center center"> <md-button ng-click="gotoSearchResult('validationStatusUpdatedSince')"><span class="md-caption">{{'Du har' | translate}} {{validationStatusUpdatedSinceCount}} {{'fund' | translate}} {{'som er valideret eller ombestemt seneste' | translate}}</span></md-button>
   				</div>
			   <md-radio-group ng-model="$parent.$parent.$parent.validationUpdatedSince" layout="row" layout-align="center center">
			         <md-radio-button value="1">1 {{'dage' | translate}}</md-radio-button>
			         <md-radio-button value="3">3 {{'dage' | translate}}</md-radio-button>
			         <md-radio-button value="10">10 {{'dage' | translate}}</md-radio-button>
			       </md-radio-group>
			    
			  </div>
        
			      </md-grid-tile>
	      
	   
	      <md-grid-tile class="md-whiteframe-4dp list-tile"
	          md-rowspan="{{(speciesCountGrouped.length > 5) ? 5: 3}}" md-colspan="2" md-colspan-sm="1" md-colspan-xs="1" md-colspan="2" md-colspan-sm="1" md-colspan-xs="1">
			  <div layout-fill layout-margin>
			  <ng-md-icon icon="date_range" ></ng-md-icon>
			<!--  <md-list flex class="md-dense">
			         <md-subheader class="md-no-sticky" >{{'Arter fundet pr år' | translate}}</md-subheader>
			         <md-list-item class="md-3-line"  ng-repeat="g in speciesCountGrouped | orderBy:'countries[0].year':true | limitTo: 6" ng-click="gotoSearchResult('specieslistyear', g.countries[0].year)">
			           <h2 layout-margin>{{g.countries[0].year}}</h2>
			           <div class="md-list-item-text" layout="column">
						   <table class='species-list-table'>
						   <tr ng-repeat="elm in g.countries">
			             <td >{{elm.country}} </td><td>: {{elm.count}}</td>
			          </tr>
					   </table>
			           </div>
					   
			         </md-list-item>
			         
			        
				 </md-list> -->
				
		 					<table  class="table table-bordered profile-card-table"  st-table="speciesCountGroupedDisp" st-safe-src='speciesCountGrouped'>
				 
		 						<thead>
			 						<tr>
			 							<th colspan="2"><h3 class="grid-tile-table">{{'Arter fundet pr år' | translate}}<h3></th>
										</tr>
		 				
		 							<th  st-sort="year" st-sort-default="reverse" translate>År</th>
		 							<th   translate>Arter</th>
		
		
		 						</tr>
		 						
		 						</thead>
		 						<tbody ng-show="speciesCountGroupedDisp.length > 0">
					
		 						<tr ng-repeat="g in speciesCountGroupedDisp " >
		
		
		 							<td data-title="{{'År' | translate}}" ng-click="gotoSearchResult('specieslistyear', { year: g.year})" class="clickable"> <em>{{g.year}} </em>
	 								
		 							</td>
		 							<td data-title="{{'Antal arter' | translate}}"> 
										<table class='species-list-table'>
						   <tr ng-repeat="elm in g.countries" >
			             <td class="clickable" ng-click="gotoSearchResult('specieslistyear', { year: g.year, country: elm.country})" class="clickable">{{elm.country}} </td><td>: {{elm.count}}</td>
			          </tr>
					   </table></td>	
		
		
		 						</tr>
			
				

		 						</tbody>
				
		 				<tfoot>
		 				<tr ng-show="loadingSpeciesCountCompleted && speciesCountGrouped.length > 7">
		 					<td st-pagination=""  st-items-by-page="7" colspan="2" st-template="app/searchresultspecieslist/pagination.tpl.html">
		 					</td>
		 				</tr>
		 			</tfoot> 
				

		 					</table>
				
				
				
				
				
	       </div>
	      </md-grid-tile>
	      <md-grid-tile class="md-whiteframe-4dp list-tile"
	          md-rowspan="{{(taxonomicOverview.length > 5) ? 5: 3}}" md-colspan="2" md-colspan-sm="1" md-colspan-xs="1">
  			  <div layout-fill layout-margin>
  			  <ng-md-icon icon="taxonomy" ></ng-md-icon>
	 					<table  class="table table-bordered profile-card-table"  st-table="displayedtaxonomicOverview" st-safe-src='taxonomicOverview'>
				 
	 						<thead>
	 						<tr>
	 							<th><h3 class="grid-tile-table">{{'Taksonomisk profil' | translate}}<h3></th>
	 							<th><md-input-container>
	 				          <label translate>Rang</label>
	 				          <md-select ng-model="$parent.$parent.taxonomicOverviewRankID">
           
	 				            <md-option ng-repeat="taxon in higherTaxa" ng-value="taxon.RankID" >
	 				              {{taxon.RankName | translate}}
	 				            </md-option>
	 				          </md-select>
	 				        </md-input-container></th>
	 						</tr>
		
	 		<tr>
	 							<th st-sort="Taxon_FullName" >{{selectedRankName | translate}} ({{taxonomicOverview.length}})</th>
	 							<th st-sort="taxoncount"  translate>Arter</th>
		
		
	 						</tr>
	 						<tr ng-if="!loadingtaxonomicOverviewCompleted"><td colspan=2><md-progress-linear  md-mode="indeterminate"></md-progress-linear></td></tr>
	 						</thead>
	 						<tbody ng-show="displayedtaxonomicOverview.length > 0">
					
	 						<tr ng-repeat="row in displayedtaxonomicOverview" >
		
		
	 							<td data-title="{{'Takson' | translate}}" ng-click="HigherTaxonomyModalService.show($event, row, dashBoardUser)" class="clickable"> <em>{{row.FullName}} </em>
	 								
	 							</td>
	 							<td data-title="{{'Antal arter' | translate}}" ng-click="gotoSearchResult('specieslisthighertaxon', row.Path)" class="clickable">{{row.taxoncount}}</td>	
		
		
	 						</tr>
			
				

	 						</tbody>
				
	 				<tfoot>
	 				<tr ng-show="taxonomicOverview.length > 10  && loadingtaxonomicOverviewCompleted">
	 					<td st-pagination=""  st-items-by-page="10" colspan="2" st-template="app/searchresultspecieslist/pagination.tpl.html">
	 					</td>
	 				</tr>
	 			</tfoot> 
				

	 					</table>
	       </div>
	      </md-grid-tile>
		  
	      <md-grid-tile class="md-whiteframe-4dp list-tile"
	          md-rowspan="{{(firstFindings.length > 5) ? 5 : 3}}" md-colspan="2" md-colspan-sm="1" md-colspan-xs="1">
			  <div layout-fill layout-margin>
			  <md-icon md-font-icon="fa fa-trophy fa-lg" class="material-icons md-48 black-icon" ></md-icon>
					<table  class="table table-bordered profile-card-table"  st-table="displayedfirstFindings" st-safe-src='firstFindings'>
				
						<thead>
							<tr>  <th><h3 class="grid-tile-table">{{'Års første fund' | translate}}</h3>  </th><th>
								
								<md-input-container>
		          <label translate>År</label>
		          <md-select ng-model="$parent.$parent.selectedYearForFirstFindings">
           
		            <md-option ng-repeat="year in years" ng-value="year" >
		              {{year}}
		            </md-option>
		          </md-select>
		        </md-input-container></th></tr>
						<tr>
		
		
							<th st-sort="Taxon_FullName" >{{'Art' | translate}} ({{firstFindings.length}})</th>
							<th st-sort="observationDate"  translate>Dato</th>
		
		
						</tr>
						<tr ng-if="!loadingFirstFindingsCompleted"><td colspan=2><md-progress-linear  md-mode="indeterminate"></md-progress-linear></td></tr>
						</thead>
						<tbody ng-show="displayedfirstFindings.length > 0">
					
						<tr ng-repeat="row in displayedfirstFindings" st-select-row="row" ng-click="ObservationModalService.show($event, row)">
		
		
							<td data-title="{{'Art' | translate}}"> <em>{{row.Taxon_FullName}} </em>
								
							</td>
							<td data-title="{{'Dato' | translate}}">{{row.observationDate | date : 'dd/MM/yyyy'}}</td>	
		
		
						</tr>
			
				

						</tbody>
					<tfoot>
					<tr ng-if="firstFindings.length > 10 && loadingFirstFindingsCompleted">
						<td st-pagination=""  st-items-by-page="10" colspan="2" st-template="app/searchresultspecieslist/pagination.tpl.html">
						</td>
					</tr>
				</tfoot>
				

					</table>
				</div>
	       
	      </md-grid-tile>
	     
		  
		  
	    </md-grid-list> 
		
		


			
			
		</md-content>
		
		