<!--
<div data-bs-active-pane="tabs.activeTab" bs-tabs>
<div ng-repeat="tab in tabs" title="{{ tab.title | translate }}" name="{{ tab.state }}" disabled="{{ state.current.name.split('-')[0] !== 'taxonlayout' &&  tab.state.split('-')[0] === 'taxonlayout'}}"  bs-pane>
  </div>
  </div> 
-->


    
        <div class="md-toolbar-tools">
          <md-button class="md-icon-button" ng-click="openSideNav()" ng-show="!mdSidenav('left').isOpen() && !mdSidenav('left').isLockedOpen()" aria-label="Menu" ng-controller="SideNavBtnCtrl">
            <ng-md-icon icon="menu"></ng-md-icon>
          </md-button>
		  <ng-md-icon icon="search" ></ng-md-icon>
		  
          <h3 class="inset">
            {{'Danske arter' | translate}} <span ng-if="mdMedia('gt-sm')">/ {{states[state.current.name] | translate}} </span>
          </h3>
          <span flex></span>
		  <notification ng-if="currentUser"></notification>
		   <span layout-margin ng-if="mdMedia('gt-xs')"> <h1 class="md-display-1" translate>Danmarks svampeatlas</h1></span>
        <a href="/"><img  class="logo-upper-right" src="assets/images/LogoSmallest.png"></a>
        </div>
		<span flex></span>
  <md-tabs md-stretch-tabs class="md-primary" md-selected="tabs.activeTab">
   
    <md-tab ng-repeat="tab in tabs"  ng-class="{'md-active': tab.active}" ng-disabled="tab.disabled" >
      <md-tab-label>
	  <ng-md-icon icon="{{tab.icon}}" ng-if="mdMedia('xs')"></ng-md-icon>
        <span ng-if="mdMedia('gt-xs')">{{tab.title | translate}}</span>
       
      </md-tab-label>
    
    </md-tab>
  </md-tabs>
   

<!-- Angular material tabs  
  <md-tabs md-stretch-tabs class="md-primary" md-selected="tabs.activeTab">
   
    <md-tab ng-repeat="tab in tabs"  ng-class="{'md-active': tab.active}" ng-disabled="tab.disabled">
      <md-tab-label>
        {{tab.title}}
       
      </md-tab-label>
    
    </md-tab>
  </md-tabs> -->
		  
				  
				  
		         
				  
				  
				  
	