<!--<div ng-include="'components/navbar/navbar.html'"></div> -->
<!-- <md-toolbar md-scroll-shrink ng-controller="SearchTabsCtrl" ng-include="'app/searchtabs/searchtabs.html'" > </md-toolbar>-->
<md-toolbar class="searchtabs" ng-controller="SearchTabsCtrl" ng-include="'app/searchtabs/searchtabs.html'" > </md-toolbar>	
<md-content flex md-scroll-y layout-padding ng-cloak>
		 	<span ng-if="storedSearch && mdMedia('xs')">{{'Aktuel søgning:' | translate}} </span>
		   <h4 ng-if="storedSearch"><span ng-if="mdMedia('gt-xs')">{{'Aktuel søgning:' | translate}}</span> {{storedSearch.name}} <span ng-if="Auth.getCurrentUser()._id !== storedSearch.User._id"> - {{'oprettet af' | translate}} {{storedSearch.User.name}}</span><sharing mail-subject="'Søgeresultat fra Danmarks Svampeatlas: '+storedSearch.name " mail-body="baseUrl+'/search/'+storedSearch._id+'/result/map/'" sharing-uri="baseUrl+'/search/'+storedSearch._id+'/result/map/'"> </sharing></h4>
<md-whiteframe class="md-whiteframe-2dp" layout="column" layout-align="center center">
<div layout-align="end center" layout-fill layout="row">
	
	<p ng-show="offset === 0 || (offset < count && !doneFetchingData)">{{'Henter' | translate}} <span ng-if="offset ===0">data...</span>
		<span ng-if="offset > 0">{{offset + 1}}-{{((offset+limit) > count  ) ? count : (offset+limit)}} {{'af' | translate}} {{count}}</span></p>
	<div ng-show="doneFetchingData === true">
	 <p>{{'Din søgning gav' | translate}} {{count}} {{'resultater' | translate}}</p>
	 <p ng-show="count > 50000" >{{'Kun de første 50000 vises på kortet, prøv evt. at afgrænse din søgning yderligere.' | translate}}</p>
 </div>
</div>
 <leaflet id="searchresultmap" height="600px" width="100%" center="mapsettings.center" markers="mapsettings.markers" controls="mapsettings.controls" layers="mapsettings.layers"></leaflet>
 
  </md-whiteframe>
	
	
  </md-content>


