<!--<div ng-include="'components/navbar/navbar.html'"></div> -->
 <md-toolbar md-scroll-shrink ng-controller="SearchTabsCtrl" ng-include="'app/searchtabs/searchtabs.html'" > </md-toolbar>

<md-content flex md-scroll-y layout-padding ng-cloak>

<md-whiteframe class="md-whiteframe-2dp" layout="column" layout-align="center center">
<div layout-align="end center" layout-fill layout="row">
	<p ng-show="offset === 0 || (offset < count)">Henter <span ng-if="offset ===0">data...</span>
		<span ng-if="offset > 0">{{offset + 1}}-{{((offset+limit) > count  ) ? count : (offset+limit)}} af {{count}}</span></p>
	<div ng-show="(offset > count)">
	 <p>Din søgning gav {{count}} resultater</p>
	 <p ng-show="count > 50000" class="md-subhead">Kun de første 50000 vises på kortet, prøv evt. at afgrænse din søgning yderligere.</p>
 </div>
</div>
 <leaflet id="searchresultmap" height="600px" width="100%" center="mapsettings.center" markers="mapsettings.markers" controls="mapsettings.controls" layers="mapsettings.layers"></leaflet>
 
  </md-whiteframe>
	
	
  </md-content>

</div>
