md-content.md-default-theme {
  background-color: #eee;
}

md-card {
  background-color: #fff;
}
md-card h2:first-of-type {
  margin-top: 0;
}

md-toolbar .md-button.md-default-theme {
  border-radius: 99%;
}

h2 {
  font-weight: 400;
}

.md-toolbar-tools-bottom {
  font-size: small;
}

md-toolbar:not(.md-hue-1),
.md-fab {
  fill: #fff;
}

md-sidenav ng-md-icon {
	margin-right: 10px;
}

.user-avatar {
  border-radius: 99%;
}

#main-menu .md-button:hover, #main-menu .md-button:focus {
    background: rgb(55, 71, 79) !important;
}

.menu .menu-toggle-list a.md-button {
   
    padding: 0 16px 0 52px !important;

}


.login-button {
    box-shadow: none !important;
    border-radius: 0;
    /* color: white; */
    cursor: pointer;
    display: block;
    align-items: inherit;
    line-height: 40px;
    margin: 0 !important;
    max-height: 40px;
    overflow: hidden;
    padding: 0px 16px;
    text-align: left;
    text-decoration: none;
    white-space: normal;
    width: 100%;
}

.hide-sidenav-btn {
	color: white;
}