<!--<md-sidenav layout="column" class="md-sidenav-left md-whiteframe-z2" ng-class="{'position-fixed': mdMedia('max-width: 768px') }"
    md-component-id="left"
    md-is-locked-open="( $mdMedia('gt-md')) ? !menu.userHasForceClosed : false" id="main-menu"> -->

          <md-toolbar class="md-tall md-hue-2">
        <span flex></span>
        <div layout="column" class="md-toolbar-tools-bottom inset">
			<div layout="row" >

<user-avatar class="useravatar md-avatar" size="'large'" user="{isDefaultGuestUser: true}" ng-if="!isLoggedIn()"></user-avatar>				
<user-avatar class="useravatar md-avatar" size="'large'" user="User" ng-if="isLoggedIn()"></user-avatar>
 <span class="flex"></span>
 <div layout="row" layout-fill  layout-align="end start" flex>
<a ng-click="forceCloseSidenav()" class="hide-sidenav-btn"><i class="fa fa-angle-double-left fa-2x"></i></a>
</div>
         </div> 
          <span></span>
		  <div layout="row" >
		  <div ng-show="isLoggedIn()" >
          <div>{{ getCurrentUser().name }} ({{getCurrentUser().Initialer}})</div>
          <div>{{ getCurrentUser().email }}</div>
	  </div>
		  
	  	<div ng-if="!isLoggedIn()" layout="row">
	        <md-button   ng-click="showLoginForm()">
	         <ng-md-icon icon="login"></ng-md-icon>{{'Login' | translate}}
	        </md-button>
	       
			</div>
			<div layout="row" layout-align="end center" layout-fill flex>
			<md-menu >
			            <md-button aria-label="Open demo menu" ng-click="$mdMenu.open($event)">
			              <ng-md-icon icon="language"></ng-md-icon> {{translate.use()}}
			            </md-button>
			            <md-menu-content width="2">
			              <md-menu-item ng-repeat="item in ['da', 'en']">
			                <md-button ng-click="changeLanguage(item)">  {{item}} </md-button>
			              </md-menu-item>
			            </md-menu-content>
			          </md-menu>
				
				
			</div>
        </div>
		
		<div>
			
		</div>
		</div>
      </md-toolbar>

    <md-content flex role="navigation" ss-style-color="{'background-color': 'primary.default'}">
        <ss-sidenav flex menu="menu"></ss-sidenav>
    </md-content>
	<!--</md-sidenav>-->


 <!--<md-sidenav layout="column" class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')">
      <md-toolbar class="md-tall md-hue-2">
        <span flex></span>
        <div layout="column" class="md-toolbar-tools-bottom inset">
          <user-avatar></user-avatar>
          <span></span>
		  <div ng-show="isLoggedIn()">
          <div>{{ getCurrentUser().name }} ({{getCurrentUser().Initialer}})</div>
          <div>{{ getCurrentUser().email }}</div>
	  </div>
	  	<div ng-hide="isLoggedIn()" >
			<a ui-sref="login">Login</a>
			</div>
        </div>
      </md-toolbar>
	  <md-menu-sidenav>
	                <md-menu-sidenav-item>
	                    <md-menu-sidenav-title>
						
	                        <md-toogle-menu md-ink-ripple layout="row" flex>
							
	                             <ng-md-icon icon="taxonomy"></ng-md-icon>
	                            <h1 class="md-body-2" flex>TaxonBase</h1>
								<ng-md-icon icon="expand_more"></ng-md-icon>
								
	                        </md-toogle-menu>

	                        
	                    </md-menu-sidenav-title>

	                    <md-menu-sidenav-content>
	                        <md-menu-sidenav-subitem ><a ng-class="{'active' : isSelected()}" class="md-button md-ink-ripple" ui-sref="taxonomy">Search taxa </a></md-menu-sidenav-subitem>
	                        <md-menu-sidenav-subitem ><a ng-class="{'active' : isSelected()}" class="md-button md-ink-ripple" ui-sref="taxonomy-tree">Taxon tree </a></md-menu-sidenav-subitem>
						    <md-menu-sidenav-subitem ><a ng-class="{'active' : isSelected()}" class="md-button md-ink-ripple" ui-sref="funindex">Add new taxon </a></md-menu-sidenav-subitem>
							<md-menu-sidenav-subitem><a ng-class="{'active' : isSelected()}" class="md-button md-ink-ripple" ui-sref="taxonlog">Log </a></md-menu-sidenav-subitem>
							<md-menu-sidenav-subitem><a ng-class="{'active' : isSelected()}" class="md-button md-ink-ripple" ui-sref="taxontags">Tags </a></md-menu-sidenav-subitem>
							
	                       
	                    </md-menu-sidenav-content>
	                </md-menu-sidenav-item>
					
	                <md-menu-sidenav-item>
	                    <md-menu-sidenav-title>
						 <a ui-sref="admin" >
	                        <md-toogle-menu layout="row" flex>
							
	                             <ng-md-icon icon="group"></ng-md-icon>
	                            <h1 class="md-body-2" flex>UserAdmin</h1>
								
								
	                        </md-toogle-menu>
							 </a>
	                        
	                    </md-menu-sidenav-title>

	                </md-menu-sidenav-item>
	  </md-menu-sidenav>
      <md-list>
	  

	  <!--Menu items
      <md-item ng-show="hasRole('useradmin')">
        <a ui-sref="admin">
          <md-item-content md-ink-ripple layout="row" layout-align="start center">
            <div class="inset">
              <ng-md-icon icon="group"></ng-md-icon>
            </div>
            <div class="inset">UserAdmin
            </div>
          </md-item-content>
        </a>
      </md-item>
	  
      <md-item ng-show="hasRole('taxonomyadmin')">
        <a ui-sref="taxonomy">
          <md-item-content md-ink-ripple layout="row" layout-align="start center">
            <div class="inset">
             <ng-md-icon icon="taxonomy"></ng-md-icon>
            </div>
            <div class="inset">TaxonBase
            </div>
          </md-item-content>
        </a>
      </md-item>
	  
	  
      <md-divider></md-divider>
      <md-subheader>Management</md-subheader>
      <md-item ng-repeat="item in admin">
        <a>
          <md-item-content md-ink-ripple layout="row" layout-align="start center">
            <div class="inset">
              <ng-md-icon icon="{{item.icon}}"></ng-md-icon>
            </div>
            <div class="inset">{{item.title}}
            </div>
          </md-item-content>
        </a>
      </md-item>
    </md-list>
    </md-sidenav>
	  <div ui-view="" class="relative" layout-fill role="main"></div>
-->
	
	