
@media screen and   (min-width: 960px) {
  #utm-specieslist-sidenav {
    width: 500px !important;
    max-width: 500px !important;
	
  }
}

@media screen and  (min-width: 600px) and  (max-width: 959px) {
 #utm-specieslist-sidenav {
    width: 400px !important;
    max-width: 400px !important;
	
  }
}