<!--<div ng-include="'components/navbar/navbar.html'"></div> -->
<!--<div ng-controller="SearchTabsCtrl" ng-include="'app/searchtabs/searchtabs.html'"></div> -->
 <md-toolbar class="searchtabs"  ng-controller="SearchTabsCtrl" ng-include="'app/searchtabs/searchtabs.html'" > </md-toolbar>
<div layout="row" flex>					
<md-content layout="row"    flex>
					
					

      <form name="searchForm" layout-padding layout-fill>
		   
		 	<span ng-if="storedSearch && mdMedia('xs')">{{'Aktuel søgning:' | translate}} </span>
		   <h4 ng-if="storedSearch"><span ng-if="mdMedia('gt-xs')">{{'Aktuel søgning:' | translate}}</span> {{storedSearch.name}} <span ng-if="Auth.getCurrentUser()._id !== storedSearch.User._id"> - {{'oprettet af' | translate}} {{storedSearch.User.name}}</span><sharing mail-subject="'Søgning i Danmarks Svampeatlas: '+storedSearch.name " mail-body="baseUrl+'/search/'+storedSearch._id" sharing-uri="baseUrl+'/search/'+storedSearch._id"> </sharing></h4>
		  
		  
		   <div md-whiteframe="3" class="search-section" >
			   <div layout="row">
     	   <md-input-container class="md-block" flex-gt-xs ng-if="Auth.isLoggedIn()">
     	           <label translate>Databasenummer</label>
     	           <input  ng-model="search.databasenumber" >
     	         </md-input-container>
			   <span layout-fill flex></span>
			   <md-button class="md-fab md-warn" aria-label="Nulstil formular" ng-click="resetForm()">
			               <ng-md-icon icon="autorenew"></ng-md-icon>
			           </md-button>
					   
				   </div>
			   
	  <md-button ng-if="Auth.isLoggedIn()" ng-click="StoredSearchModalService.show($event, search, storedSearches, showStoredSearch)">{{'Gem søgning' | translate}}</md-button>
	 
	   
       <md-menu ng-if="Auth.isLoggedIn()">
         <md-button aria-label="Open stored searches"  ng-click="openMenu($mdOpenMenu, $event)">
           {{'Gemte søgninger' | translate}}
         </md-button>
         <md-menu-content>
           <md-menu-item ng-repeat="s in storedSearches">

             <md-button ng-click="showStoredSearch(s)">
                 
                   {{s.name}}
              
             </md-button>
			
			
	        <md-button aria-label="delete search" class="md-icon-button" ng-click="deleteStoredSearch(s)">
	          <ng-md-icon icon="delete"></ng-md-icon>
	        </md-button>
           </md-menu-item>
          
           
         </md-menu-content>
       </md-menu>

	


		  </div>
  		  <div  md-whiteframe="3" class="search-section" layout-padding>
			
  			  <div layout="row"> <span class="search-sub-header"><ng-md-icon icon="fungus"></ng-md-icon> {{'Art / taxon' | translate}}</span> <span flex></span> <ng-md-icon class="search-sub-header refresh-section" ng-click="resetSection('taxonomy')" icon="refresh"></ng-md-icon>
			  
			  </div>
			   		<div layout-gt-xs="row">
	        <md-chips ng-model="search.selectedHigherTaxa" md-autocomplete-snap md-require-match="false" class="md-block" flex-gt-xs>

	          <md-autocomplete
			  md-delay = "500"
	    	  	md-min-length="4"
	    		md-no-cache="false"
				md-input-id="taxon-autocomplete"
				md-select-on-match="true"
				md-match-case-insensitive="true"
	              md-selected-item="selectedItem"
	              md-search-text="searchText"
	              md-items="item in querySearch(searchText)"
	              md-item-text="item"
	              placeholder="{{(!search.onlyHigherTaxa) ? $translate.instant('Skriv art/slægt')  : $translate.instant('Skriv familie, orden etc')}}"
	 			 ng-disabled="newTaxon.length >0"
				 md-menu-class="autocomplete-custom-template"
	 			flex class="taxon-autocomplete">
	            
				
				<md-item-template>
				          <span class="item-title">
							  
						<span ng-if="item.Vernacularname_DK && $cookies.get('preferred_language') !== 'en'">
				            <span ng-if="10000 > item.RankID"> {{(item.RankID === 5000)? 'Arter af ':''}}{{(5000 > item.RankID )? 'Arter i ':''}} {{item.Vernacularname_DK.vernacularname_dk}} </span>
							<span ng-if="item.RankID > 9999"> {{item.Vernacularname_DK.vernacularname_dk | capitalize}} </span>
						</span>
						<span ng-if="!item.Vernacularname_DK || $cookies.get('preferred_language') === 'en'">
				            <span ng-if="10000 > item.RankID" class="item-emphasis"> {{item.FullName}} {{(5001 > item.RankID ) ? 'spp.' : ''}}</span>
							<span ng-if="item.RankID > 9999" class="item-emphasis"> {{item.FullName}} </span>
							<span ng-if="item.RankID > 9999" class="item-author"> {{item.Author}} </span>
						</span>
				          </span>
				          <span class="item-metadata" ng-if="$cookies.get('preferred_language') !== 'en' && item.DanishNames.length >0 && item.DanishNames[0]._id !== item.vernacularname_dk_id">
							   <span class="item-metastat" > = {{item.DanishNames[0].vernacularname_dk}}</span>
						   </span>
				          <span class="item-metadata" ng-if="item.Vernacularname_DK && $cookies.get('preferred_language') !== 'en'">
							   
				            <span class="item-metastat item-emphasis" ng-if="10000 > item.RankID"> {{item.FullName}}</span>
							<span class="item-metastat item-emphasis" ng-if="item.RankID > 9999"> {{item.FullName}} </span>
				           	<span class="item-metastat" ng-if="item.RankID > 9999"> {{item.Author}} </span>
				          </span>
						  <span class="item-metadata" ng-if="(item._id !== item.acceptedTaxon._id) ">
							  <span class="item-emphasis" ng-if="item._id !== item.acceptedTaxon._id">{{'Syn. til' | translate}} {{item.acceptedTaxon.FullName}}</span>
							  <span class="item-metastat"> {{item.Author}} </span>
						  </span>
						 <span class="item-metadata" ng-if="item.probability === 0 && item.acceptedTaxon.attributes.PresentInDK === false && item.RankID > 9999"> 
						  <ng-md-icon icon="error_outline" size="20"></ng-md-icon> {{'Ikke kendt fra Danmark' | translate}}</span>
				        </md-item-template>

	          </md-autocomplete>
	          <md-chip-template>
			  <span ng-if="!$chip._id"><strong>{{$chip}}</strong></span>
			  <span ng-if="$chip._id">
	            <span ng-if="$chip.RankID > 5000">
	 			   <strong ng-if="$chip.Vernacularname_DK">{{$chip.Vernacularname_DK.vernacularname_dk | capitalize}} (</strong>
	              <strong><em>{{$chip.FullName}}</em> {{$chip.Author}}</strong>
				  <strong ng-if="$chip.Vernacularname_DK">)</strong>
	            </span>
	            <span ng-if="5000 >= $chip.RankID">
	 			   <strong ng-if="$chip.Vernacularname_DK && $cookies.get('preferred_language') !== 'en'">{{($chip.RankID === 5000)? 'Arter af ':''}}{{(5000 > $chip.RankID)? 'Arter i ':''}} {{$chip.Vernacularname_DK.vernacularname_dk}} (</strong>
	              <strong><em>{{$chip.FullName}}</em></strong>
				  <strong ng-if="$cookies.get('preferred_language') === 'en'"><em>spp.</em></strong>
				  <strong ng-if="$chip.Vernacularname_DK && $cookies.get('preferred_language') !== 'en'">)</strong>
	            </span>
				</span>
	          </md-chip-template>
		
	        </md-chips>
			     </div>
			      <div layout-gt-xs="row">
			   <md-switch ng-model="search.onlyHigherTaxa" aria-label="Højere taxa">
			      <span translate>Søg i familier, ordener osv.</span>
			     </md-switch>
	 
			     </div>
	  		   	 <md-input-container >	
	  		   	<label translate>Rødlistestatus</label>  
	  		   <md-select aria-label="rødlistestatus" id="redlist" ng-model="search.include[0].where.Taxon_redlist_status">
	    		 	<md-option value=""></md-option>
	  		     <md-option ng-value="{{['RE','CR', 'EN', 'VU', 'NT']}}" ng-selected="search.include[0].where.Taxon_redlist_status.length > 2">{{'Alle rødlistede' | translate}}</md-option>
	  		     <md-option value="RE">RE - {{'Forsvundet' | translate}}</md-option>
	  		     <md-option value="CR">CR - {{'Kritisk truet' | translate}}</md-option>
	  		     <md-option value="EN">EN - {{'Moderat truet' | translate}}</md-option>
	  		     <md-option value="VU">VU - {{'Sårbar' | translate}}</md-option>
	  		     <md-option value="NT">NT - {{'Næsten truet' | translate}}</md-option>
	  		     <md-option value="LC">LC - {{'Ikke truet' | translate}}</md-option>
	  		     <md-option value="DD">DD - {{'Utilstrækkelige data' | translate}}</md-option>
	  		     <md-option value="NA">NA - {{'Ikke mulig' | translate}}</md-option>
	  		     <md-option value="NE">NE - {{'Ikke bedømt' | translate}}</md-option>
	  		             </md-select>
	  		   	  </md-input-container>
  		</div>
  		  <div  md-whiteframe="3" class="search-section" layout-padding>
			  <div layout="row"> <span class="search-sub-header"><ng-md-icon icon="map"></ng-md-icon> {{'Geografi' | translate}}</span> <span flex></span> <ng-md-icon class="search-sub-header refresh-section" ng-click="resetSection('geography')" icon="refresh"></div>
  			   
			    <div layout-gt-xs="row">
			   <md-chips ng-model="search.selectedLocalities" md-autocomplete-snap md-require-match="false" class="md-block" flex-gt-xs>

			     <md-autocomplete
			   	md-min-length="3"
			 	md-no-cache="true"
			         md-selected-item="selectedItem"
			         md-search-text="searchText"
			         md-items="item in querySearchLocality(searchText)"
			         md-item-text="item.name"
					 md-menu-class="autocomplete-custom-template"
			         placeholder="{{'Lokalitet' | translate}}">
					 <md-item-template>
					  <span class="item-title">
					  	<span>{{item.name}}</span>
					  </span>
			       
				  <span class="item-metadata" >
					  
					  <span class="item-metastat"> {{item.Municipality.name}} {{'kommune' | translate}} </span>
				  </span>
			  </md-item-template>
			     </md-autocomplete>
			     <md-chip-template>
			       <span>
			         <strong>{{($chip.name) ? $chip.name : $chip}}</strong>
					 
					 <em>{{$chip.Municipality.name}} {{'kommune' | translate}} </em>
			       </span>
			     </md-chip-template>
	
			   </md-chips>

			   </div>
			   <div layout-gt-xs="row">
			 	  <md-switch ng-model="search.includeForeign" aria-label="Inkludér udenlandske fund" >
			 	      <span translate>Inkludér udenlandske fund</span>
			 	    </md-switch>
			 	    <md-switch ng-model="search.onlyForeign" aria-label="Vis kun udenlandske fund" >
			 	        <span translate>Kun udenlandske fund</span>
			 	      </md-switch>
			 	</div>
 			  
 			   <div layout-gt-xs="row" >
				   <md-input-container>
				    <label>{{'Kommune' | translate}}</label>
 			 	  <md-select ng-model="search.selectedMunicipality">
	             <md-option ng-repeat="m in municipalities" value="{{m._id}}" >
	               {{m.name}}
	             </md-option>
			  </md-select>
		  </md-input-container>
 			 	</div>
				<md-divider></md-divider>
				<label class="search-sub-header">{{'Koordinat' | translate}}</label>
  			   <div layout-gt-xs="row">
    				   <md-input-container class="md-block" flex-gt-sm>
    				            <label>{{'Usikkerhed mindre end (meter)' | translate}}</label>
    				            <input name="maxAccuracy" ng-model="search.maxAccuracy" ng-pattern="/^\d+$/" />
 						<div ng-messages="searchForm.maxAccuracy.$error" role="alert" >
						              
 						              <div ng-message="pattern" >{{'Indtast ussikerhed i meter'}}
 						              </div>
						             
 						            </div>
			         
    				          </md-input-container>
  				   <md-input-container class="md-block" flex-gt-sm>
  				            <label>{{'Usikkerhed større end (meter)' | translate}}</label>
  				            <input name="minAccuracy" ng-model="search.minAccuracy" ng-pattern="/^\d+$/" />
  							<div ng-messages="searchForm.minAccuracy.$error" role="alert" >
							              
  							              <div ng-message="pattern" >{{'Indtast ussikerhed i meter'}}
  							              </div>
							             
  							            </div>
				         
  				          </md-input-container>
 	   				   
  			   </div>
				
				<md-button ng-click="toggleSearchMapSideNav()"
					  				            class="md-primary"  ng-show="mdMedia('xs')">
					  				            {{'Søgning på kort' | translate}}
					  				          </md-button>
  		</div>
  		  <div  md-whiteframe="3" class="search-section" layout-padding>
			  <div layout="row"> <span class="search-sub-header"><ng-md-icon icon="date_range"></ng-md-icon> {{'Tid' | translate}}</span> <span flex></span> <ng-md-icon class="search-sub-header refresh-section" ng-click="resetSection('period')" icon="refresh"></div>
			
			<label class="search-sub-header">{{'Funddato' | translate}}</label>
			   <div layout-gt-xs="row">
		 	  
	           <md-datepicker ng-model="search.fromDate" md-placeholder="{{(search.exactDate) ? ('Dato' | translate ):('Fra dato' | translate)}}">
	           </md-datepicker>
        
          
	           <md-datepicker ng-model="search.toDate" ng-show="!search.exactDate" md-placeholder="{{'Til dato' | translate}}">
	           </md-datepicker>
 		 	  <md-switch ng-model="search.exactDate" aria-label="På eksakt dato" layout-margin>
 		 	      <span translate>Eksakt dato</span>
 		 	    </md-switch>
			   </div>
			   <div layout-gt-xs="row">
			   <md-button ng-click="setDate(3, 'fromDate')">{{'3'}} {{'dage' | translate}}</md-button>
			   <md-button ng-click="setDate(7, 'fromDate')">{{'7'}} {{('dage' | translate)}}</md-button>
			   <md-button ng-click="setDate(30, 'fromDate')">{{'30'}} {{('dage' | translate)}}</md-button>
			   </div>
			   <div layout-gt-xs="row">
				   <md-input-container class="md-block" flex-gt-sm>
				            <label>{{'Fra år' | translate}}</label>
				            <input name="fromYear" ng-model="fromYear" ng-pattern="/^[0-9]{2,4}$/" ng-change="setFromYear(fromYear)"/>
							<div ng-messages="searchForm.fromYear.$error" role="alert" >
							              
							              <div ng-message="pattern" >{{'Indtast et gyldigt årstal.'}}
							              </div>
							             
							            </div>
				         
				          </md-input-container>
	   				   <md-input-container class="md-block" flex-gt-sm>
	   				            <label>{{'Til år' | translate}}</label>
	   				            <input name="toYear" ng-model="toYear" ng-pattern="/^[0-9]{2,4}$/" ng-change="setToYear(toYear)"/>
							<div ng-messages="searchForm.toYear.$error" role="alert" >
							              
							              <div ng-message="pattern" >{{'Indtast et gyldigt årstal.'}}
							              </div>
							             
							            </div>
				         
	   				          </md-input-container>
							  
		   				   <md-input-container>
		   				           <label>{{'Måneder' | translate}}</label>
		   				           <md-select ng-model="search.selectedMonths" name="months" multiple>
		   				             <md-option ng-repeat="month in months" value="{{month.id}}" >
		   							  {{month.name}}
			              
		   				             </md-option>
		   				           </md-select>
					   
		   				         </md-input-container>
			   </div>
			 
			  
			 <!--  <div layout-gt-xs="row">
				  
				    
			    <md-checkbox class="md-primary months" ng-repeat="month in months" ng-checked="exists(month, search.selectedMonths)" ng-click="toggle(month, search.selectedMonths)">{{month}}</md-checkbox> 
				</div>-->
				
			   
 			   
			
				<label class="search-sub-header">{{'Fund indlagt' | translate}}</label>
 			   <div layout-gt-xs="row">
		 	  
 	           <md-datepicker ng-model="search.addedFromDate" md-placeholder="{{(search.addedExactDate) ? ('Dato' | translate ):('Fra dato' | translate)}}">
 	           </md-datepicker>
        
          
 	           <md-datepicker ng-model="search.addedToDate" ng-show="!search.addedExactDate" md-placeholder="{{'Til dato' | translate}}">
 	           </md-datepicker>
  		 	  <md-switch ng-model="search.addedExactDate" aria-label="På eksakt dato" layout-margin>
  		 	      <span translate>Eksakt dato</span>
  		 	    </md-switch>
 			   </div>
			   <div layout-gt-xs="row">
			   <md-button ng-click="setDate(3, 'addedFromDate')">{{'3'}} {{'dage' | translate}}</md-button>
			   <md-button ng-click="setDate(7, 'addedFromDate')">{{'7'}} {{('dage' | translate)}}</md-button>
			   <md-button ng-click="setDate(30, 'addedFromDate')">{{'30'}} {{('dage' | translate)}}</md-button>
			   </div>
  		</div>
  		  <div  md-whiteframe="3" class="search-section" layout-padding>
			  <div layout="row"> <span class="search-sub-header"><md-icon md-font-icon="fa fa-tree fa-lg" class="material-icons md-light md-48 md-primary" ></md-icon> {{'Økologi' | translate}}</span> <span flex></span> 
				   <ng-md-icon class="search-sub-header refresh-section" ng-click="resetSection('ecology')" icon="refresh"></div>
  			   
			   <div layout-gt-xs="row" >
			   	
			   <md-input-container>
			           <label>{{'Substrat' | translate}}</label>
			           <md-select name="substrate" ng-model="search.selectedSubstrate" multiple>
	   				             <md-option ng-repeat="sub in substrates | filter: {group_dk: 'jord' } : true" value="{{sub._id}}" >
	   				               {{($translate.use() === 'en') ? sub.name_uk : sub.name}}
	   				             </md-option>
	   							 <md-divider></md-divider>
	   				   <md-optgroup label="{{'Ved' | translate}}">
	   		             <md-option ng-repeat="sub in substrates | filter: {group_dk: 'ved' } : true" value="{{sub._id}}" >
	   		               {{($translate.use() === 'en') ? sub.name_uk : sub.name}}
	   		             </md-option>
	   					  </md-optgroup >
	   					  <md-divider></md-divider>
	      				   <md-optgroup label="{{'Plantemateriale' | translate}}">
	      		             <md-option ng-repeat="sub in substrates | filter: {group_dk: 'plantemateriale' } : true" value="{{sub._id}}" >
	      		               {{($translate.use() === 'en') ? sub.name_uk : sub.name}}
	      		             </md-option>
	      					  </md-optgroup >
	   					  <md-divider></md-divider>
	         				   <md-optgroup label="{{'Mosser' | translate}}">
	         		             <md-option ng-repeat="sub in substrates | filter: {group_dk: 'mosser' } : true" value="{{sub._id}}" >
	         		               {{($translate.use() === 'en') ? sub.name_uk : sub.name}}
	         		             </md-option>
	         					  </md-optgroup >
	   		          <md-divider></md-divider>
	   						   <md-optgroup label="{{'Dyr' | translate}}">
	   				             <md-option ng-repeat="sub in substrates | filter: {group_dk: 'dyr' } : true" value="{{sub._id}}" >
	   				               {{($translate.use() === 'en') ? sub.name_uk : sub.name}}
	   				             </md-option>
	   							  </md-optgroup >
	   		   		          <md-divider></md-divider>
	   		   						   <md-optgroup label="{{'Svampe og svampedyr' | translate}}">
	   		   				             <md-option ng-repeat="sub in substrates | filter: {group_dk: 'svampe og svampedyr' } : true" value="{{sub._id}}" >
	   		   				               {{($translate.use() === 'en') ? sub.name_uk : sub.name}}
	   		   				             </md-option>
	   		   							  </md-optgroup > 
							  
							  
	   							  <md-divider></md-divider>
	   					   <md-optgroup label="{{'Sten' | translate}}">
	   			             <md-option ng-repeat="sub in substrates | filter: {group_dk: 'sten' } : true" value="{{sub._id}}" >
	   			               {{($translate.use() === 'en') ? sub.name_uk : sub.name}}
	   			             </md-option>
	   						  </md-optgroup >	  
	   							  <md-divider></md-divider>
	      				             <md-option ng-repeat="sub in substrates | filter: {group_dk: 'brandplet' } : true" value="{{sub._id}}" >
	      				               {{($translate.use() === 'en') ? sub.name_uk : sub.name}}
	      				             </md-option>
	      				             <md-option ng-repeat="sub in substrates | filter: {group_dk: 'andet substrat' } : true" value="{{sub._id}}" >
	      				               {{($translate.use() === 'en') ? sub.name_uk : sub.name}}
	      				             </md-option>
			           </md-select>
					   
			         </md-input-container>
 				   <md-input-container>
 				           <label>{{'Vegetationstype' | translate}}</label>
 				           <md-select ng-model="search.selectedVegetationType" name="vegetationType" multiple>
 				             <md-option ng-repeat="veg in vegetationtypes" value="{{veg._id}}" >
							  {{($translate.use() === 'en') ? veg.name_uk : veg.name}}
 				              
 				             </md-option>
 				           </md-select>
						   
 				         </md-input-container>
		  			   	 <md-input-container >	
		  			   	<label >{{'Livsstrategi' | translate}} (beta)</label>  
		  			   <md-select aria-label="livsstrategi" id="livsstrategi" ng-model="search.livsstrategi">
		  			 	<md-option value=""></md-option>
    
		  			     <md-option value="{{str.key}}" ng-repeat="str in strategiesUI">{{str[$translate.use()]}}</md-option>
    
		  			             </md-select>
		  			   	  </md-input-container>
				  
				  
			   </div>
			   
 			   <div  layout="row">
  				  <md-chips ng-model="search.associatedOrganism" md-autocomplete-snap md-require-match="true" class="md-block"  flex-gt-xs>

  				    <md-autocomplete
 					
					
  				        md-selected-item="selectedItem"
  				        md-search-text="searchText"
  				        md-items="item in querySearchPlantTaxon(searchText)"
  				        md-item-text="item.DKandLatinName"
  				        placeholder="{{'Skriv vært' | translate }}"
  						>
  				      <span md-highlight-text="searchText">{{item.DKandLatinName}}</span>
  				    </md-autocomplete>
  				    <md-chip-template>
  				      <span>
  				        <strong>{{$chip.DKandLatinName}}</strong>

  				      </span>
  				    </md-chip-template>
	
  				  </md-chips>
 			
			   	
 			  </div>
			   
  		
  		</div>
  		  <div  md-whiteframe="3" class="search-section" layout-padding>
			  <div layout="row">  <span class="search-sub-header"><ng-md-icon icon="group"></ng-md-icon> {{'Personer' | translate}}</span> <span flex></span> <ng-md-icon class="search-sub-header refresh-section" ng-click="resetSection('persons')" icon="refresh"></div>
  			  
 			   <div  layout="row">
  				  <md-chips ng-model="search.PrimaryUser" md-autocomplete-snap md-require-match="true" class="md-block"  flex-gt-xs>

  				    <md-autocomplete
			
			
  				        md-selected-item="selectedItem"
  				        md-search-text="searchText"
  				        md-items="item in querySearchUser(searchText)"
  				        md-item-text="item.name"
  				        placeholder="{{'Rapportør' | translate}}"
  						>
  				      <span md-highlight-text="searchText">{{item.name}} ({{item.Initialer}})</span>
  				    </md-autocomplete>
  				    <md-chip-template>
  				      <span>
  				        <strong>{{$chip.name}} ({{$chip.Initialer}})</strong>

  				      </span>
  				    </md-chip-template>

  				  </md-chips>
	
	   	
 			  </div>
		 			   <div  layout="row">
		  				  <md-chips ng-model="search.collectors" md-autocomplete-snap md-require-match="search.collectors.length > 0"  class="md-block"  flex-gt-xs>

		  				    <md-autocomplete
 					
					
		  				        md-selected-item="selectedItem"
		  				        md-search-text="searchText"
		  				        md-items="item in querySearchUser(searchText)"
		  				        md-item-text="item.name"
		  				        placeholder="{{'Finder' | translate}}"
								ng-disabled = "search.collectors.length === 1 && search.collectors[0]._id === undefined"
		  						>
		  				      <span md-highlight-text="searchText">{{item.name}} ({{item.Initialer}})</span>
		  				    </md-autocomplete>
		  				    <md-chip-template>
		  				      <span>
		  				        <strong ng-if="$chip._id">{{$chip.name}} ({{$chip.Initialer}})</strong>
<strong ng-if="!$chip._id">{{$chip}}</strong>
		  				      </span>
		  				    </md-chip-template>
	
		  				  </md-chips>
 			
			   	
		 			  </div>
		 			   <div  layout="row">
		  				  <md-chips ng-model="search.determiner" md-autocomplete-snap md-require-match="true" class="md-block"  flex-gt-xs>

		  				    <md-autocomplete
 					
					
		  				        md-selected-item="selectedItem"
		  				        md-search-text="searchText"
		  				        md-items="item in querySearchUser(searchText)"
		  				        md-item-text="item.name"
		  				        placeholder="{{'Bestemmer' | translate}}"
		  						>
		  				      <span md-highlight-text="searchText">{{item.name}} ({{item.Initialer}})</span>
		  				    </md-autocomplete>
		  				    <md-chip-template>
		  				      <span>
		  				        <strong >{{$chip.name}} ({{$chip.Initialer}})</strong>

		  				      </span>
		  				    </md-chip-template>
	
		  				  </md-chips>
 			
			   	
		 			  </div>
						 <div>
			 			 	<md-switch ng-model="search.notMyObservations" aria-label="Søg ikke i mine fund" ng-if="Auth.isLoggedIn()">
			 			 	   <span translate>Ikke mine fund</span>
			 			 	  </md-switch>
			 		 	<md-switch ng-model="search.onlyMyObservations" aria-label="Søg mine fund" ng-if="Auth.isLoggedIn()">
			 		 	   <span translate>Kun mine fund</span>
			 		 	  </md-switch>
		   </div>
	           
  		
  		</div>
  		  <div  md-whiteframe="3" class="search-section" layout-padding>
			  <div layout="row"> <span class="search-sub-header"><ng-md-icon icon="settings"> </ng-md-icon> {{'Fundegenskaber' | translate}}</span> <span flex></span> <ng-md-icon class="search-sub-header refresh-section" ng-click="resetSection('recordproperties')" icon="refresh"></ng-md-icon></div>
  			   
		            <div layout-gt-xs="row">
						
		   	<md-input-container class="md-block" flex-gt-xs>	
		   	<label translate>Bestemmelsen er</label> 
		   		 <md-select aria-label="status" ng-model="search.Determination_score"  multiple>
				 
				 <md-option  value="VALIDATION_STATUS_EXPERT">{{'VALIDATION_STATUS_EXPERT' | translate}} <ng-md-icon size="18" icon="microscope" ></ng-md-icon></md-option>
		   		   <md-option  value="VALIDATION_STATUS_COMMUNITY_LEVEL_3">{{'VALIDATION_STATUS_COMMUNITY_LEVEL_3' | translate}} <ng-md-icon class="select-stars" size="12" icon="star"></ng-md-icon><ng-md-icon class="select-stars" size="12" icon="star"></ng-md-icon><ng-md-icon  class="select-stars" size="12" icon="star"></ng-md-icon></md-option>
				   <md-option value="VALIDATION_STATUS_COMMUNITY_LEVEL_2">{{'VALIDATION_STATUS_COMMUNITY_LEVEL_2' | translate}} <ng-md-icon size="12" class="select-stars" icon="star"></ng-md-icon><ng-md-icon class="select-stars" size="12" icon="star"></ng-md-icon></md-option>
				   <md-option value="VALIDATION_STATUS_COMMUNITY_LEVEL_1">{{'VALIDATION_STATUS_COMMUNITY_LEVEL_1' | translate}} <ng-md-icon size="12" class="select-stars" icon="star"></ng-md-icon></md-option>
		   		 
		   		  
		   		                 </md-select>
		   						 </md-input-container>			
						
		   	<md-input-container class="md-block" flex-gt-xs>	
		   	<label>Status</label> 
		   		 <md-select aria-label="status" ng-model="search.Determination_validation" multiple>
		   		          <!-- <md-option ng-value="{{['Godkendt','Valideres', 'Afventer', 'Gammelvali']}}">{{'Ikke afviste' | translate}}</md-option>   -->     
		   		   <md-option value="Godkendt">{{'Godkendte' | translate}}</md-option>
		   		   <md-option value="Valideres">{{'Valideres' | translate}}</md-option>
		   		   <md-option value="Afventer">{{'Afventer' | translate}}</md-option>
		   		   <md-option value="Afvist" ng-if="Auth.hasRole('validator')">{{'Afviste' | translate}}</md-option>
		   		   <md-option value="Gammelvali">{{'Ældre fund afventer' | translate}}</md-option>
		   		                 </md-select>
		   						 </md-input-container>
								 
				  			  
						 
						
		             
           
		  
		            </div>
           <div layout-gt-xs="row">
    	   <md-input-container class="md-block" flex-gt-xs>
    	           <label translate>Databasenummer</label>
    	           <input  ng-model="search.databasenumber" >
    	         </md-input-container>
 	     	   <md-input-container class="md-block" flex-gt-xs>
 	     	           <label translate>Kollektionsnummer</label>
 	     	           <input  ng-model="search.fieldnumber" >
 	     	         </md-input-container>
		   	
			
           </div>
		    <div layout-gt-xs="row" ng-if="Auth.hasRole('validator')">
  			   <md-input-container>
  			           <label>{{'Datakilde' | translate}}</label>
  			           <md-select name="dataSet" ng-model="search.selectedDataSet" multiple>
		            
  	   				             <md-option ng-repeat="ds in dataSet" ng-if="ds.dataSource" value="{{ds.dataSource}}" >
  	   				               {{ds.dataSource}} ({{ds.count}})
  	   				             </md-option>
  	   							 

  			           </md-select>
	   
  			         </md-input-container>
			</div>
		   <div layout-gt-xs="row">
 		 	<md-switch ng-model="search.onlyWithImages" aria-label="Kun med billeder" >
 		 	   <span translate>Kun fund med billeder</span>
 		 	  </md-switch>
  	           <md-datepicker ng-model="search.imageMaxAge" md-placeholder="{{'Siden dato' | translate}}">
  	           </md-datepicker>
		   </div>
		   <div layout-gt-xs="row">
		   <md-button ng-click="setDate(3, 'imageMaxAge')">{{'3'}} {{'dage' | translate}}</md-button>
		   <md-button ng-click="setDate(7, 'imageMaxAge')">{{'7'}} {{('dage' | translate)}}</md-button>
		   <md-button ng-click="setDate(30, 'imageMaxAge')">{{'30'}} {{('dage' | translate)}}</md-button>
		   </div>
		   
  		</div>
		  
		  
		  
		  
		  
		  
		  <div  md-whiteframe="3" class="search-section" layout-padding>
			  <div layout="row"> <span class="search-sub-header"><ng-md-icon icon="forum"></ng-md-icon> {{'Forum' | translate}}</span> <span flex></span> <ng-md-icon class="search-sub-header refresh-section" ng-click="resetSection('forum')" icon="refresh"></ng-md-icon></div>
			   
	 		   <div  layout="column" layout-gt-lg="row">
				   <div layout-gt-xs="row">
	  		 	<md-switch ng-model="search.onlyWithForum" aria-label="Kun med forum" >
	  		 	   <span translate>Kun kommenterede fund</span>
	  		 	  </md-switch>
   	           <md-datepicker ng-model="search.forumMaxAge" md-placeholder="{{'Siden dato' | translate}}">
   	           </md-datepicker>
		   </div>
			   <div layout-gt-xs="row">
			   <md-button ng-click="setDate(3, 'forumMaxAge')">{{'3'}} {{'dage' | translate}}</md-button>
			   <md-button ng-click="setDate(7, 'forumMaxAge')">{{'7'}} {{('dage' | translate)}}</md-button>
			   <md-button ng-click="setDate(30, 'forumMaxAge')">{{'30'}} {{('dage' | translate)}}</md-button>
			   </div>
	 		   </div>
		<div layout-gt-xs="row">
		
			
	 		   
		 	
		 
	 	<md-switch ng-model="search.activeThreadsOnly" aria-label="Søg aktive tråde" ng-if="Auth.isLoggedIn()">
	 	   <span translate>Andre har kommenteret efter mig</span>
	 	  </md-switch>
			 
							  </div>
							  
	   	   				   <md-input-container class="md-block" flex-gt-sm>
	   	   				            <label>{{'Forum-kommentar indeholder:' | translate}}</label>
	   	   				            <input name="forumComment" ng-model="search.forumComment" />
	   							
				         
	   	   				          </md-input-container>
							  
							  </div>
							
         

		



  

   <div layout="row" class="validator-button-container" >
	   <span layout-fill flex></span>
	   <md-button class="md-fab md-warn" aria-label="Nulstil formular" ng-click="resetForm()">
	               <ng-md-icon icon="autorenew"></ng-md-icon>
	           </md-button>
			   
	   

    <md-menu md-position-mode="target-right target" class="search-form-fab">
      <md-button aria-label="Show results" class="md-fab md-warn" ng-click="openMenu($mdOpenMenu, $event)">
        <ng-md-icon icon="search"></ng-md-icon>
      </md-button>
      <md-menu-content width="6">
        <md-menu-item>
            <md-button aria-label="liste"  ng-click="state.go('search-list')">
  		  
              <ng-md-icon icon="list"></ng-md-icon> <span translate>Resultat i liste</span>
            </md-button>
        </md-menu-item>
        <md-menu-item>
            <md-button aria-label="kort"  ng-click="state.go('search-map')">
  		  
              <ng-md-icon icon="map"></ng-md-icon> <span translate>Resultat på kort</span>
            </md-button>
        </md-menu-item>
        <md-menu-item>
            <md-button aria-label="artsliste"  ng-click="state.go('search-specieslist')">
  		  
              <ng-md-icon icon="playlist_add_check"></ng-md-icon> <span translate>Artsliste</span>
            </md-button>
        </md-menu-item>
       
       
      </md-menu-content>
    </md-menu>


  </div>
		 
        
      </form>
   
	
	
  </md-content>
	<md-sidenav id="searchmap-sidenav" class="md-sidenav-right md-whiteframe-z2" md-component-id="searchmapsidenav" md-is-locked-open="!$mdMedia('xs')">
		  <md-toolbar class="md-theme-light" layout="row" ng-if="mdMedia('xs')">
		   
		 
       
		          <h1 class="md-toolbar-tools" translate>Søg på kort</h1>
		        </md-toolbar>
	      <md-content layout="row"  layout-padding>
       
	        
	         </md-content>
			<md-content  layout-padding>
			<leaflet id="searchformmap" width="100%" height="400px" center="mapsettings.center" ></leaflet>
		
	      </md-content>
	    </md-sidenav>
</div>
	        
	      
