<!--<div ng-include="'components/navbar/navbar.html'"></div> -->
<!--<div ng-controller="SearchTabsCtrl" ng-include="'app/searchtabs/searchtabs.html'"></div> -->
	 <md-toolbar md-scroll-shrink ng-controller="SearchTabsCtrl" ng-include="'app/searchtabs/searchtabs.html'" > </md-toolbar>
<section layout="row" flex>					
<md-content layout="row" layout-fill  layout-padding flex>
					

      <form layout-fill>
		<div layout-gt-xs="row">
		 <span flex layout-fill></span> <md-button ng-click="toggleSearchMapSideNav()"
	  				            class="md-primary"  ng-show="mdMedia('xs')">
	  				            {{'Søgning på kort' | translate}}
	  				          </md-button>
			<div layout="row">
			 	<md-switch ng-model="search.notMyObservations" aria-label="Søg ikke i mine fund" ng-if="Auth.isLoggedIn()">
			 	   <span translate>Ikke mine fund</span>
			 	  </md-switch>
		 	<md-switch ng-model="search.onlyMyObservations" aria-label="Søg mine fund" ng-if="Auth.isLoggedIn()">
		 	   <span translate>Kun mine fund</span>
		 	  </md-switch>
		 	
		  </div>
	 	<md-switch ng-model="search.activeThreadsOnly" aria-label="Søg aktive tråde" ng-if="Auth.isLoggedIn()">
	 	   <span translate>Mine aktive tråde </span>
	 	  </md-switch>
			 
							  </div>
         <div layout-gt-xs="row">
	<md-input-container class="md-block" flex-gt-xs>	
	<label>Status</label> 
		 <md-select aria-label="status" ng-model="search.include[0].where.Determination_validation">
		           <md-option ng-value="{{['Godkendt','Valideres', 'Afventer', 'Gammelvali']}}">{{'Alle' | translate}}</md-option>        
		   <md-option value="Godkendt">{{'Godkendte' | translate}}</md-option>
		   <md-option value="Valideres">{{'Valideres' | translate}}</md-option>
		   <md-option value="Afventer">{{'Afventer' | translate}}</md-option>
		   <md-option value="Afvist" ng-if="Auth.hasRole('validator')">{{'Afviste' | translate}}</md-option>
		   <md-option value="Gammelvali">{{'Ældre fund afventer' | translate}}</md-option>
		                 </md-select>
						 </md-input-container>
						 
						
		             
           <md-datepicker ng-model="search.fromDate" md-placeholder="{{'Fra dato' | translate}}">
           </md-datepicker>
        
          
           <md-datepicker ng-model="search.toDate" md-placeholder="{{'Til dato' | translate}}">
           </md-datepicker>
		  
         </div>
          <div layout-gt-xs="row">
		  
		   <md-input-container class="md-block" flex-gt-xs>
		           <label translate>Finder</label>
		           <input  ng-model="search.include[1].where.name" >
		         </md-input-container>
	  		   <md-input-container>
	  		           <label translate>Initialer</label>
	  		           <input  ng-model="search.include[1].where.Initialer">
	  		         </md-input-container>
		   
          </div>
          <div layout-gt-xs="row">
   	   <md-input-container class="md-block" flex-gt-xs>
   	           <label translate>Databasenummer</label>
   	           <input  ng-model="search.databasenumber" >
   	         </md-input-container>
	     	   <md-input-container class="md-block" flex-gt-xs>
	     	           <label translate>Kollektionsnummer</label>
	     	           <input  ng-model="search.fieldnumber" >
	     	         </md-input-container>
		   	 <md-input-container >	
		   	<label translate>Rødlistestatus</label>  
		   <md-select aria-label="rødlistestatus" id="redlist" ng-model="search.include[0].where.Taxon_redlist_status">
  		 	<md-option value=""></md-option>
		     <md-option ng-value="{{['RE','CR', 'EN', 'VU', 'NT']}}" ng-selected="search.include[0].where.Taxon_redlist_status.length > 2">{{'Alle rødlistede' | translate}}</md-option>
		     <md-option value="RE">RE - {{'Forsvundet' | translate}}</md-option>
		     <md-option value="CR">CR - {{'Kritisk truet' | translate}}</md-option>
		     <md-option value="EN">EN - {{'Moderat truet' | translate}}</md-option>
		     <md-option value="VU">VU - {{'Sårbar' | translate}}</md-option>
		     <md-option value="NT">NT - {{'Næsten truet' | translate}}</md-option>
		     <md-option value="LC">LC - {{'Ikke truet' | translate}}</md-option>
		     <md-option value="DD">DD - {{'Utilstrækkelige data' | translate}}</md-option>
		     <md-option value="NA">NA - {{'Ikke mulig' | translate}}</md-option>
		     <md-option value="NE">NE - {{'Ikke bedømt' | translate}}</md-option>
		             </md-select>
		   	  </md-input-container>
			
          </div>
		

		<div layout-gt-xs="row">
      <md-chips ng-model="search.selectedHigherTaxa" md-autocomplete-snap md-require-match="true" ng-show="!search.DkNames" class="md-block" flex-gt-xs>

        <md-autocomplete
  	  	md-min-length="3"
  		md-no-cache="true"
            md-selected-item="selectedItem"
            md-search-text="searchText"
            md-items="item in querySearch(searchText)"
            md-item-text="item.FullName"
            placeholder="{{taxonPlaceholder}}">
          <span md-highlight-text="searchText">{{item.FullName}}</span>
        </md-autocomplete>
        <md-chip-template>
          <span>
            <strong>{{($chip.FullName) ? $chip.FullName: $chip.vernacularname_dk}}</strong>

          </span>
        </md-chip-template>
		
      </md-chips>
      <md-chips ng-model="search.selectedHigherTaxa" md-autocomplete-snap md-require-match="true" ng-show="search.DkNames" class="md-block" flex-gt-xs>

        <md-autocomplete
  	  	md-min-length="3"
  		md-no-cache="true"
            md-selected-item="selectedItem"
            md-search-text="searchText"
            md-items="item in querySearch(searchText)"
            md-item-text="item.vernacularname_dk"
            placeholder="{{taxonPlaceholder}}">
          <span md-highlight-text="searchText">{{item.vernacularname_dk}}</span>
        </md-autocomplete>
        <md-chip-template>
          <span>
            <strong>{{($chip.FullName) ? $chip.FullName: $chip.vernacularname_dk}}</strong>

          </span>
        </md-chip-template>
		
      </md-chips>
	
 	<md-switch ng-model="search.DkNames" aria-label="Søg danske navne">
 	   <span translate> Danske navne</span>
 	  </md-switch>
  </div>
   <div layout-gt-xs="row">
<md-switch ng-model="search.onlyHigherTaxa" aria-label="Højere taxa">
   <span translate>Søg i slægter, familier, ordener osv.</span>
  </md-switch>
	 
  </div>
   <div layout-gt-xs="row">
  <md-chips ng-model="search.selectedLocalities" md-autocomplete-snap md-require-match="true" class="md-block" flex-gt-xs>

    <md-autocomplete
  	md-min-length="3"
	md-no-cache="true"
        md-selected-item="selectedItem"
        md-search-text="searchText"
        md-items="item in querySearchLocality(searchText)"
        md-item-text="item.name"
        placeholder="{{'Lokalitet' | translate}}">
      <span md-highlight-text="searchText">{{item.name}}</span>
    </md-autocomplete>
    <md-chip-template>
      <span>
        <strong>{{$chip.name}}</strong>

      </span>
    </md-chip-template>
	
  </md-chips>
<md-switch ng-model="search.includeForeign" aria-label="Inkludér udenlandske fund" >
    <span translate>Inkludér udenlandske fund</span>
  </md-switch>
  <md-switch ng-model="search.onlyForeign" aria-label="Vis kun udenlandske fund" >
      <span translate>Kun udenlandske fund</span>
    </md-switch>
  </div>
  <div layout-gt-xs="row" ng-if="Auth.hasRole('validator')">
  	 <md-input-container >	
  	<label translate>Livsstrategi</label>  
  <md-select aria-label="livsstrategi" id="livsstrategi" ng-model="search.livsstrategi">
	<md-option value=""></md-option>
    
    <md-option value="{{str.key}}" ng-repeat="str in strategiesUI">{{str[$translate.use()]}}</md-option>
    
            </md-select>
  	  </md-input-container>
  </div>
   <div layout="row" class="validator-button-container" >
	   <span layout-fill flex="80"></span>
	   <md-button class="md-fab md-warn" aria-label="Nulstil formular" ng-click="resetForm()">
	               <ng-md-icon icon="autorenew"></ng-md-icon>
	           </md-button>
			   
	   

    <md-menu md-position-mode="target-right target" class="search-form-fab">
      <md-button aria-label="Show results" class="md-fab md-warn" ng-click="openMenu($mdOpenMenu, $event)">
        <ng-md-icon icon="search"></ng-md-icon>
      </md-button>
      <md-menu-content width="6">
        <md-menu-item>
            <md-button aria-label="liste"  ng-click="state.go('search-list')">
  		  
              <ng-md-icon icon="list"></ng-md-icon> <span translate>Resultat i liste</span>
            </md-button>
        </md-menu-item>
        <md-menu-item>
            <md-button aria-label="kort"  ng-click="state.go('search-map')">
  		  
              <ng-md-icon icon="map"></ng-md-icon> <span translate>Resultat på kort</span>
            </md-button>
        </md-menu-item>
        <md-menu-item>
            <md-button aria-label="artsliste"  ng-click="state.go('search-specieslist')">
  		  
              <ng-md-icon icon="list"></ng-md-icon> <span translate>Artsliste</span>
            </md-button>
        </md-menu-item>
       
       
      </md-menu-content>
    </md-menu>


<!--	<md-fab-speed-dial  md-direction="up" class='md-scale' class="validator-button-container">
	        <md-fab-trigger >
	          <md-button aria-label="menu" class="md-fab md-warn">
		  
	            <ng-md-icon icon="search"></ng-md-icon>
	          </md-button>
	        </md-fab-trigger>
	        <md-fab-actions>
          <md-button aria-label="liste" class="md-fab md-raised md-mini" ng-click="state.go('search-list')">
		  <md-tooltip md-direction="left" ><span translate>Resultat i liste</span></md-tooltip>
            <ng-md-icon icon="list"></ng-md-icon>
          </md-button>
	          <md-button aria-label="map" class="md-fab md-raised md-mini" ng-click="state.go('search-map')">
			  <md-tooltip md-direction="left" ><span translate>Resultat på kort</span></md-tooltip>
	            <ng-md-icon icon="map"></ng-md-icon>
	          </md-button>
	          
	        </md-fab-actions>
	      </md-fab-speed-dial> -->

  </div>
		 
        
      </form>
   
	
	
  </md-content>
	<md-sidenav id="searchmap-sidenav" class="md-sidenav-right md-whiteframe-z2" md-component-id="searchmapsidenav" md-is-locked-open="!$mdMedia('xs')">
		  <md-toolbar class="md-theme-light" layout="row" ng-if="mdMedia('xs')">
		   
		 
       
		          <h1 class="md-toolbar-tools" translate>Søg på kort</h1>
		        </md-toolbar>
	      <md-content layout="row"  layout-padding>
       
	        
	         </md-content>
			<md-content  layout-padding>
			<leaflet id="searchformmap" width="100%" height="400px" center="mapsettings.center" ></leaflet>
		
	      </md-content>
	    </md-sidenav>
</section>
	        
	      
