.md-datepicker-calendar-pane {
	z-index:1001;
}


@media screen and   (min-width: 960px) {
  #searchmap-sidenav {
    width: 500px !important;
    max-width: 500px !important;
	margin-top: 8px;
  }
}

@media screen and  (min-width: 600px) and  (max-width: 959px) {
  #searchmap-sidenav {
    width: 400px !important;
    max-width: 400px !important;
	margin-top: 8px;
  }
}

.search-form-fab {
	padding: 0px !important;
}

md-toolbar.searchtabs {
	min-height: 96px;
}
.search-sub-header {
    display: block;
    font-size: 14px;
    font-weight: 500;
    line-height: 1em;
    margin: 0 0 0 0;
    position: relative;
	color: rgb(96,125,139);
}

.search-section {
	margin-bottom: 16px;
}

md-checkbox.months > div._md-label {
	margin-left: 26px;
}

.refresh-section {
	cursor: pointer;
}

span.star-rating > ng-md-icon {
	width: 12px;
	height: 12px;
}

